#Homework 2

Copy this notebook. Rename it as: YOURNAME-panda-numpy-xx-Sept-2015

with your name replacing yourname and the xx replaced with the date you submit or to the last part.

Do the homeworks problems below.

Upload your completed jupyter notebook to elearning site as your homework submission. Do not put this notebook on your github.

##Homework 2.1

2.1.a
Load the data from: 'http://data.octo.dc.gov/feeds/cmpltcp2003/ccp_current_csv.zip'
      
Into a dataframe.  ( The file has been loaded locally in directory ./data/ccp_current_csv.csv )

In [67]:
%matplotlib inline
import pandas as pd
import numpy as np
from numpy import *

# Set some Pandas options
pd.set_option('html', False)
pd.set_option('max_columns', 30)
pd.set_option('max_rows', 20)
pd.options.display.max_rows = 999

In [120]:
np.version.version

'1.9.2'

In [12]:
%alias

Total number of aliases: 8

[('copy', 'copy'),
 ('ddir', 'dir /ad /on'),
 ('echo', 'echo'),
 ('ldir', 'dir /ad /on'),
 ('ls', 'dir /on'),
 ('mkdir', 'mkdir'),
 ('ren', 'ren'),
 ('rmdir', 'rmdir')]

In [5]:
pwd

u'C:\\Users\\gaurav\\Anaconda\\Lecture3\\Homework_2\\Homework_2'

In [6]:
cd data

C:\Users\gaurav\Anaconda\Lecture3\Homework_2\Homework_2\data

In [10]:
!type "ccp_current_csv.csv"

STREET,QUADRANT,FROMINTERSECTION,TOINTERSECTION,NOOFBLOCKS,WORKDESCRIPTION,YEARBUDGETED,PERCENTCOMPLETED,STATUS,MILES,WARD,FUNCTIONALCLASS,ESTIMATEDSTARTDATE,ESTIMATEDCOMPLETIONDATE,ACTUALCOMPLETIONDATE,REMARKS,XCOORD,YCOORD,LATITUDE,LONGITUDE,PROJECTNOTE,PROJECTNAME,PROJECTMGR,PROJECTID,TEAMREP,EMAIL,CONTACTPHONE
13th St,NW,Kennedy St,Longfellow St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,4,MINOR ARTERIAL,4/4/2005 12:00:00 AM,8/1/2005 12:00:00 AM,8/1/2005 12:00:00 AM,WASA Lead Location FY-05,397426.248480,143205.119810,38.95674728748580,-77.02969432656290,,FedAid,Paul Stephenson,5834,O. Hill,N/A,202-671-4591
S St,NW,North Capitol St,3rd St,3,Regular Cover,1999,100,Completed,0.33,5,LOCAL,3/31/2004 12:00:00 AM,,8/1/2005 12:00:00 AM,2 Year CIP 2001 - 2003,398923.606460,138468.902560,38.914085136186,-77.01241132297460,,,,2467,,,
Rhode Island Ave,NE,Brentwood Rd (W),Brentwood Rd (M),1,Pavement Resurface/restoration,2004,100,Completed,0.09,5,PRINCIPAL ARTERIAL,7/1/2005 12:00:00 AM,8/5/2005 12:00:00 AM,8/3/2005 12:00:00 AM,,401108.114560,139574.106590,38.92404113618740,-76.98722113489370,,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5486,Said Cherifi,said.cherifi@dc.gov,202-671-4611
Mill Rd,NW,27th St,Cul De Sac,1,Pavement Resurface/restoration,2004,100,Completed,0.07,2,LOCAL,4/4/2005 12:00:00 AM,,8/3/2005 12:00:00 AM,,395309.868030,138132.901980,38.91104647452620,-77.05407712302820,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local Streets),Maduabuchi Udeh,5796,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
Rhode Island Ave,NE,Brentwood Rd (M),14th St  Evarts St  Montan,2,Pavement Resurface/restoration,2005,100,Completed,0.16,5,PRINCIPAL ARTERIAL,7/1/2008 12:00:00 AM,,8/3/2005 12:00:00 AM,,401294.796740,139657.253180,38.92478989188340,-76.98506814436680,,,,8237,,,
Mellon St,SE,5th St,Martin Luther King Jr Ave,1,Pavement Resurface/restoration,2005,100,Completed,0.20,8,LOCAL,7/1/2006 12:00:00 AM,,8/3/2005 12:00:00 AM,,400133.423420,130948.259580,38.84633690526180,-76.99846302530360,,CIP_2004-2009,FY-05,4175,,,
Nebraska Ave,NW,Northampton St,Oliver St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,4,COLLECTOR,4/4/2005 12:00:00 AM,,8/4/2005 12:00:00 AM,,394655.007160,144260.9552,38.96624602673290,-77.06167538902380,N/A,Citywide Pavement Restoration,Paul Stephenson,5296,M. Howard and O. hill,N/A,202-671-4591
Military Rd,NW,30th St,Broad Branch Rd,4,Pavement Resurface/restoration,2004,100,Completed,0.35,4,PRINCIPAL ARTERIAL,3/31/2004 12:00:00 AM,,8/4/2005 12:00:00 AM,,394540.290330,143680.418240,38.96101570010380,-77.06299447319240,N/A,FedAid_6YR_CIP,Paul Stephenson,4762,O. Hill,N/A,202-671-4591
Nebraska Ave,NW,Oliver St,Utah Ave,1,Pavement Resurface/restoration,2005,100,Completed,0.04,4,COLLECTOR,7/1/2006 12:00:00 AM,,8/4/2005 12:00:00 AM,,394702.648340,144332.348580,38.96688944430030,-77.06112621353360,N/A,Citywide Pavement Restoratin,paul Stephenson,7867,M. Howard and O. Hill,N/A,202-671-4591
16th St,NW,Alaska Ave,Primrose Rd,13,Reconstruction,1999,100,Completed,0.97,4,PRINCIPAL ARTERIAL,6/15/2001 12:00:00 AM,,6/20/2005 12:00:00 AM,Storm water management from Alaska & Whittier to Rock Reek was designed and constructed once construction of the roadway started.,396851.005880,145993.534920,38.98186412402230,-77.03634392127010,Reconstruction of 16th St. from Alaska to Primrose,Recons of 16TH St. from Alaska to Prime Rose  N.W.,Eskender  Konjit,2349,Porter Curtis,Porter.Curtis@Dc.gov,202-671-4581
Shoemaker St,NW,Linnean Ave,Tilden St,1,Upgrading,2004,100,Completed,0.06,3,LOCAL,3/31/2004 12:00:00 AM,,6/20/2005 12:00:00 AM,2 Year CIP 2001 - 2003,395436.486140,141355.7520,38.94007958838560,-77.05263864600330,,,,2605,,,
Underwood St,NW,Piney Branch Rd,Georgia Ave (S),1,Reconstruction,2004,100,Completed,0.08,4,LOCAL,3/31/2004 12:00:00 AM,6/20/2005 12:00:00 AM,6/20/2005 12:00:00 AM,2 Year CIP 2001 - 2003,397684.465310,144524.257890,38.96863113377640,-77.02671963796430,N/A,Citywide Pavement Restoration,Paul Stephenson,2620,,N/A,
Elder St,NW,7th St,8th St,1,Regular Cover,2004,100,Completed,0.08,4,LOCAL,3/30/2003 12:00:00 AM,,6/20/2005 12:00:00 AM,2 Year CIP 2001 - 2003,397946.335230,145484.907360,38.97728553957830,-77.02370072183250,,,,2502,,,
26th St,NW,Northampton St,Rittenhouse St,1,Regular Cover,2004,100,Completed,0.16,4,LOCAL,3/31/2004 12:00:00 AM,,6/21/2005 12:00:00 AM,2 Year CIP 2001 - 2003,395222.364150,144523.710120,38.96861625628640,-77.05513054072390,,,,2474,,,
4th St,NW,Madison St (N),Peabody St,5,Regular Cover,1999,100,Completed,0.27,4,LOCAL,4/5/2004 12:00:00 AM,,6/21/2005 12:00:00 AM,2 Year CIP 2001 - 2003,398437.014590,143645.750150,38.96071897980130,-77.01803374746770,,,,2643,,,
Underwood Pl,NW,North Capitol St,1st St,1,Pavement Resurface/restoration,2004,100,Completed,0.14,4,LOCAL,4/4/2005 12:00:00 AM,6/22/2005 12:00:00 AM,6/22/2005 12:00:00 AM,,399104.380030,144575.760520,38.96909767782070,-77.01033489061090,N/A,Citywidy Pavement Restoration,Paul Stephenson,5879,Rodney,N/A,202-671-4591
20th St,NW,Columbia Rd,Wyoming Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.04,1,LOCAL,3/31/2004 12:00:00 AM,,6/23/2005 12:00:00 AM,Added to IDIQ04 per Team 1,396042.847390,138911.216350,38.91806139575960,-77.045630373562,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local Streets),Maduabuchi Udeh,3422,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
Quintana Pl,NE,3rd St,Eastern Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.12,4,LOCAL,4/4/2005 12:00:00 AM,6/23/2005 12:00:00 AM,6/23/2005 12:00:00 AM,2 Year CIP 2001 - 2003,399845.799520,144049.463750,38.964357110893,-77.00177925810040,N/A,Citywide Pavement Restoration,Paul Stephenson,2621,,N/A,
Tuckerman St,NE,Kansas Ave,Eastern Ave,1,Reconstruction,2004,100,Completed,0.12,4,LOCAL,3/31/2004 12:00:00 AM,6/23/2005 12:00:00 AM,6/23/2005 12:00:00 AM,2 Year CIP 2001 - 2003,399496.144190,144380.436260,38.96733846177190,-77.005814035310,N/A,Citywide Pavement Restoration,Paul Stephenson,2513,,N/A,202-671-4594
Eads St,NE,45th St,47th St,1,Pavement Resurface/restoration,2005,100,Completed,0.16,7,LOCAL,7/1/2007 12:00:00 AM,,6/24/2005 12:00:00 AM,INFORMATION PROVIDED BY SYLVESTER (TEAM 4),405524.723430,136373.008890,38.89518788958450,-76.936314213888,,CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL STREETS),,7151,,,
4th St,SE,Newcomb St,Orange St,2,Pavement Resurface/restoration,2005,100,Completed,0.11,8,LOCAL,,,6/24/2005 12:00:00 AM,INFORMATION PROVIDED BY SYLVESTER (TEAM 4),399672.286690,131031.177660,38.84708381693130,-77.00377514183930,,CITYWIDE PAVEMENT RESTORATION CONTRACT (LOCAL STREETS),,8740,,,
Belt Rd,NW,Jenifer St,Military Rd,1,Reconstruction,2004,100,Completed,0.16,3,LOCAL,3/31/2004 12:00:00 AM,,6/24/2005 12:00:00 AM,2 Year CIP 2001 - 2003,392984.549980,143576.290280,38.96006664049010,-77.08094362944150,,,,2612,,,
Oneida St,NE,New Hampshire Ave,6th St,2,Regular Cover,1999,100,Completed,0.34,4,LOCAL,,6/24/2005 12:00:00 AM,6/24/2005 12:00:00 AM,2 Year CIP 2001 - 2003,399812.889730,143788.686560,38.96200795810520,-77.00215891993620,N/A,Citywide Pavement Restoration,Paul Stephenson,2645,,N/A,
Carrollsburg Pl,SW,O St,P St,1,Pavement Resurface/restoration,2004,100,Completed,0.06,6,LOCAL,,,6/25/2005 12:00:00 AM,,399140.916090,133852.114870,38.87249564847420,-77.00989986793530,,,FY-05,5063,,,
23rd St,NW,Washington Cir (N),M St,2,Pavement Resurface/restoration,2004,100,Completed,0.15,2,PRINCIPAL ARTERIAL,4/4/2005 12:00:00 AM,,6/25/2005 12:00:00 AM,,395653.136890,137368.332450,38.904160733373,-77.05011440170990,,,,5215,,,
Kanawha St,NW,Utah Ave,30th St,2,Reconstruction,2004,100,Completed,0.21,4,LOCAL,3/31/2004 12:00:00 AM,,6/25/2005 12:00:00 AM,2 Year CIP 2001 - 2003,394917.144410,143966.171560,38.96359209942560,-77.05864842656890,,,,2614,,,
Piney Branch Rd,NW,Underwood St,Venable Pl,2,Pavement Resurface/restoration,2004,100,Completed,0.16,4,MINOR ARTERIAL,4/4/2005 12:00:00 AM,,6/27/2005 12:00:00 AM,,397786.545850,144641.002470,38.96968306018680,-77.02554207748430,,,,5299,,,
30th St,NW,Stephenson Pl,Tennyson St,1,Regular Cover,2004,100,Completed,0.15,4,LOCAL,3/31/2004 12:00:00 AM,6/27/2005 12:00:00 AM,6/27/2005 12:00:00 AM,2 Year CIP 2001 - 2003,394882.299830,144904.925570,38.97204841928170,-77.05905748737710,N/A,Citywide Pavement Restoration,Paul Stephenson,2461,M. Howard,N/A,202-671-4591
32nd St,NW,Woodland Dr,Cleveland Ave,1,Regular Cover,2004,100,Completed,0.06,3,LOCAL,3/31/2004 12:00:00 AM,,6/27/2005 12:00:00 AM,2 Year CIP 2001 - 2003,394513.900410,139907.441980,38.92702749971470,-77.06326879060480,,,,2466,,,
33rd St,NW,Broad Branch Ter,Linnean Ter,1,Regular Cover,2004,100,Completed,0.14,3,LOCAL,3/31/2004 12:00:00 AM,,6/27/2005 12:00:00 AM,2 Year CIP 2001 - 2003,394329.703930,143174.308740,38.95645520153660,-77.065420046715,,,,2470,,,
Kanawha St,NW,Chevy Chase Pky,38th St,2,Upgrading,2004,100,Completed,0.23,3,LOCAL,3/31/2004 12:00:00 AM,,6/27/2005 12:00:00 AM,2 Year CIP 2001 - 2003,393715.0350,143603.490020,38.96031719357550,-77.07251561222340,,,,2584,,,
36th Pl,NW,Davis St,Garfield St,3,Upgrading,1999,100,Completed,0.32,3,LOCAL,8/4/2003 12:00:00 AM,,6/27/2005 12:00:00 AM,2 Year CIP 2001 - 2003,393755.342870,139746.974720,38.925576897178,-77.07201544012130,,,,2591,,,
Quackenbos St,NW,2nd St,3rd St,1,Regular Cover,2004,100,Completed,0.14,4,LOCAL,3/31/2004 12:00:00 AM,,6/28/2005 12:00:00 AM,,398708.066240,143984.642950,38.96377225227220,-77.014906988319,,CIP_2004-2009,,3469,,,
Ordway St,NW,30th St,34th St,2,Upgrading,2004,100,Completed,0.29,3,LOCAL,3/31/2004 12:00:00 AM,,6/28/2005 12:00:00 AM,Added per an e-mail from Khalid  Muhammed ,394474.5662,140936.006560,38.93629287547440,-77.06373069585940,,,,4991,,,
5th St,SE,Lebaum St,Mellon St,1,Regular Cover,2004,100,Completed,0.05,8,LOCAL,3/31/2004 12:00:00 AM,,6/28/2005 12:00:00 AM,,400040.598720,131076.142550,38.84748894053690,-76.99953231439930,,CIP_2004-2009,,4871,,,
Lebaum St,SE,5th St,Martin Luther King Jr Ave,1,Pavement Resurface/restoration,2005,100,Completed,0.18,8,LOCAL,,,6/28/2005 12:00:00 AM,INFORMATION PROVIDED BY SYLVESTER (TEAM 4),400183.062210,131022.219990,38.84700316429280,-76.997891190238,,CITYWIDE PAVEMENT RESTORATION CONTRACT,,8739,,,
Chillum Pl,NE,Sligo Mill Rd (N),Kansas Ave,2,Regular Cover,2004,100,Completed,0.16,4,LOCAL,3/31/2004 12:00:00 AM,6/28/2005 12:00:00 AM,6/28/2005 12:00:00 AM,2 Year CIP 2001 - 2003,399306.363930,144005.312680,38.96395912667420,-77.008003546461,N/A,Citywide Pavement Restoration,Paul Stephenson,2504,,N/A,
Tewkesbury Pl,NW,6th St,7th St,1,Regular Cover,1999,100,Completed,0.06,4,LOCAL,4/5/2004 12:00:00 AM,,6/28/2005 12:00:00 AM,2 Year CIP 2001 - 2003,398110.334910,144446.718720,38.96793366181240,-77.02180518948960,,,,2494,,,
M St,NE,17th St,Cul De Sac,8,Street Light Projects,2005,100,Completed,0.58,5,LOCAL,,,6/30/2005 12:00:00 AM,Fixture Upgrade,402292.712160,137529.893120,38.90562388661530,-76.97356708780780,,,,9105,,,
Chillum Pl,NE,Kennedy St,Riggs Rd,2,Pavement Resurface/restoration,2005,100,Completed,0.19,4,LOCAL,6/14/2005 12:00:00 AM,6/29/2005 12:00:00 AM,6/29/2005 12:00:00 AM,,400023.873050,143330.780190,38.95788303953530,-76.99972456337740,N/A,Citywide Pavement Restoration,Paul Stephenson,7136,Rodney,N/A,202-6714591
Minnesota Ave,SE,D St,Croffut Pl,3,Pavement Resurface/restoration,2005,100,Completed,0.25,7,MINOR ARTERIAL,7/1/2007 12:00:00 AM,,7/5/2005 12:00:00 AM,,403833.588550,135350.074110,38.88598191343480,-76.95581433319590,,Restoration Of NHS/STP Routes (Various Locations),Zohra Dorriz,8367,Ali Shakeri,,671-4612
Minnesota Ave,SE,Pennsylvania Ave (E),D St,19,Pavement Resurface/restoration,2005,100,Completed,1.09,7,MINOR ARTERIAL,,,7/5/2005 12:00:00 AM,,403340.242240,134477.237180,38.87812107400850,-76.96150484895020,,Restoration Of NHS/STP Routes (Various Locations),Zohra Dorriz,8525,Ali Shakeri,,671-4612
Ames St,NE,41st St,42nd St,1,Pavement Resurface/restoration,2005,100,Completed,0.11,7,LOCAL,7/1/2008 12:00:00 AM,,7/5/2005 12:00:00 AM,INFORMATION PROVIDED BY SYLVESTER (TEAM 4) (Updated a black one),404892.970880,135894.664380,38.89088252951550,-76.943600093174,,CITYWIDE PAVEMENT RESTORATION CONTRACT,,4030,,,
Barker St,SE,Cul De Sac,Southern Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.10,7,LOCAL,3/31/2004 12:00:00 AM,,7/6/2005 12:00:00 AM,,405281.615940,133640.704670,38.87057573924120,-76.93913761301580,,,,3608,,,
D St,NW,5th St,6th St,1,Pavement Resurface/restoration,2004,100,Completed,0.05,6,COLLECTOR,4/4/2005 12:00:00 AM,7/7/2005 12:00:00 AM,7/8/2005 12:00:00 AM,,398315.343610,136327.488120,38.89479356775660,-77.01941962651480,,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5597,Said Cherifi,said.cherifi@dc.gov,202-671-4611
4th St,SE,Mississippi Ave (E),Mississippi Ave (E),0,Traffic Signal Work,2004,100,Completed,0,8,COLLECTOR,,,7/11/2005 12:00:00 AM,,399934.130010,129833.130010,38.83629132571310,-77.00075868437280,,,,8585,,,
4th St,SE,Valley Ave  Xenia St,Valley Ave  Xenia St,0,Traffic Signal Work,2004,100,Completed,0,8,COLLECTOR,,,7/11/2005 12:00:00 AM,,399954.1775,129467.514610,38.832997695994,-77.00052775491620,,,,8586,,,
1st St,SE,Atlantic St,Atlantic St,0,Traffic Signal Work,2004,100,Completed,0,8,COLLECTOR,,,7/11/2005 12:00:00 AM,,399488.990010,129268.680020,38.83120635501150,-77.00588534603930,,,,8587,,,
Wheeler Rd,SE,Mississippi Ave,Mississippi Ave,0,Traffic Signal Work,2004,100,Completed,0,8,MINOR ARTERIAL,,,7/11/2005 12:00:00 AM,,400558.88,130112.170010,38.83880486963380,-76.99356264590020,,,,8588,,,
Wheeler Rd,SE,Valley Ave,Valley Ave,0,Traffic Signal Work,2004,100,Completed,0,8,MINOR ARTERIAL,,,7/11/2005 12:00:00 AM,,400590.610010,129879.370010,38.83670768091990,-76.99319736956990,,,,8589,,,
Livingston Rd,SE,Atlantic St  Valley Ave,Atlantic St  Valley Ave,0,Traffic Signal Work,2004,100,Completed,0,8,LOCAL,,,7/11/2005 12:00:00 AM,,399692.810010,129241.940020,38.83096556347370,-77.00353792162350,,,,8590,,,
Marion St,NW,P St,Rhode Island Ave,2,Pavement Resurface/restoration,2004,100,Completed,0.22,2,LOCAL,4/4/2005 12:00:00 AM,,7/11/2005 12:00:00 AM,,398185.4663,138141.958460,38.91113869932940,-77.02092156143190,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local Streets),Maduabuchi Udeh,4453,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
H St,NW,New Jersey Ave,3rd St (N),2,Pavement Resurface/restoration,2004,100,Completed,0.14,6,MINOR ARTERIAL,3/31/2004 12:00:00 AM,7/18/2005 12:00:00 AM,7/18/2005 12:00:00 AM,,398781.844830,136927.5990,38.90020035422930,-77.01404316720370,,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,4456,Said Cherifi,said.cherifi@dc.gov,202-671-4611
38th St,NW,Upton St,Van Ness St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,3,LOCAL,3/31/2004 12:00:00 AM,7/18/2005 12:00:00 AM,7/18/2005 12:00:00 AM,,393532.250040,141647.025060,38.94269150456540,-77.07460612662090,N/A,Citywide Pavement Restoration,Paul Stephenson,3907,Madibo,N/A,202-671-4591
27th St,NW,Q St,Mill Rd,1,Pavement Resurface/restoration,2004,100,Completed,0.03,2,LOCAL,4/4/2005 12:00:00 AM,,7/19/2005 12:00:00 AM,,395244.061590,138105.650430,38.910800629696,-77.05483568097560,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local Streets),Maduabuchi Udeh,4920,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
43rd Pl,NW,Ellicott St,Fessenden St,1,Pavement Resurface/restoration,2004,100,Completed,0.10,3,LOCAL,3/31/2004 12:00:00 AM,7/19/2005 12:00:00 AM,7/19/2005 12:00:00 AM,,392633.142970,142904.325250,38.95401052895160,-77.08499091131430,N/A,Citywide Pavement Restoration,Paul Stephenson,4505,Rodney Olive,N/A,202-671-4591
Bataan St,NW,Rhode Island Ave,Massachusetts Ave,2,Pavement Resurface/restoration,2004,100,Completed,0.06,2,LOCAL,3/31/2004 12:00:00 AM,,7/19/2005 12:00:00 AM,Added to IDIQ04 per Team 1,396733.533310,137709.889690,38.90724227890460,-77.03766028244620,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract (Local Streets),Maduabuchi Udeh,3954,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
Garrison St,NW,34th St,36th St,1,Pavement Resurface/restoration,2005,100,Completed,0.09,3,LOCAL,7/1/2007 12:00:00 AM,,7/20/2005 12:00:00 AM,,394094.727320,143068.795810,38.95550316514630,-77.06813013864820,N/A,Citywide Pavement Restoration,Paul Stephenson,6883,Rodney Olive,N/A,202-671-4591
Ellicott St,NW,41st St,42nd St  Wisconsin Ave,1,Pavement Resurface/restoration,2004,100,Completed,0.09,3,LOCAL,,,8/5/2005 12:00:00 AM,,392967.6693,142826.7617,38.95331455790070,-77.08113071138440,,,,9897,,,
Sargent Rd,NE,Michigan Ave,Upshur St,2,Pavement Resurface/restoration,2005,100,Completed,0.12,5,MINOR ARTERIAL,7/1/2006 12:00:00 AM,,8/6/2005 12:00:00 AM,,401063.012320,141568.278210,38.942005295225,-76.98773816856120,,,,8245,,,
Maud St,NW,Macomb St,Loughboro Rd,3,Pavement Resurface/restoration,2004,100,Completed,0.19,3,LOCAL,3/31/2004 12:00:00 AM,,8/6/2005 12:00:00 AM,,390945.604850,140759.302240,38.93467179059830,-77.10443159461570,N/A,Citywide Pavement Restoration,Paul Stephenson,4515,Rodeny,N/A,202-671-4591
Monroe St,NE,10th St,18th St,7,Pavement Resurface/restoration,2005,100,Completed,0.70,5,MINOR ARTERIAL,8/2/2005 12:00:00 AM,,8/8/2005 12:00:00 AM,,401632.889150,140572.495810,38.933034118441,-76.98116701753470,,,,6748,,,
18th St,NE,Monroe St,Newton St,1,Pavement Resurface/restoration,2004,100,Completed,0.07,5,COLLECTOR,7/1/2005 12:00:00 AM,8/3/2005 12:00:00 AM,8/9/2005 12:00:00 AM,,401764.098940,140635.670560,38.93360296208730,-76.97965354261670,,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5427,Said Cherifi,said.cherifi@dc.gov,202-671-4611
A St,NE,2nd St,4th St,2,Pavement Resurface/restoration,2005,100,Completed,0.16,6,LOCAL,4/4/2005 12:00:00 AM,,8/9/2005 12:00:00 AM,,399822.480960,135899.108160,38.89093615887660,-77.00204621373220,Dan's Projects,,,7512,,,
Dumbarton Rock Ct,NW,P St,West Lane Keys,1,Pavement Resurface/restoration,2004,100,Completed,0.03,2,LOCAL,4/4/2005 12:00:00 AM,,8/10/2005 12:00:00 AM,,394726.190010,137964.580640,38.90952687020790,-77.06080562375680,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract(Local Streets),Maduabuchi Udeh,5029,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
West Lane Keys,NW,Cul De Sac (E),Dumbarton Rock Ct,1,Pavement Resurface/restoration,2005,100,Completed,0.02,2,LOCAL,7/1/2006 12:00:00 AM,,8/10/2005 12:00:00 AM,,394742.839860,137990.247070,38.90975818190260,-77.06061385196990,POKA-2003-B-0048-JJ,Citywide Pavement Restoration (Local Streets),Maduabuchi Udeh,5047,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
West Lane Keys,NW,Dumbarton Rock Ct,Cul De Sac (W),1,Pavement Resurface/restoration,2004,100,Completed,0.01,2,LOCAL,4/4/2005 12:00:00 AM,,8/10/2005 12:00:00 AM,,394717.905020,137989.9608,38.90975545358670,-77.06090134267530,POKA-2003-B-0048-JJ,Citywide Pavement Restoration Contract(Local Streets),Maduabuchi Udeh,5853,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
Olive St,NW,27th St,28th St,1,Pavement Resurface/restoration,2004,100,Completed,0.08,2,LOCAL,4/4/2005 12:00:00 AM,,8/12/2005 12:00:00 AM,,395106.536310,137582.637530,38.90608839515610,-77.05641761188590,POKA-2003-B-0048-JJ,Citywide Pavement Restoration (Local Streets),Maduabuchi Udeh,3514,Michael Jelen,Michael.Jelen@dc.gov,202-671-4542
Maryland Ave,NE,2nd St,C St (W),2,Pavement Resurface/restoration,2004,100,Completed,0.18,6,COLLECTOR,4/4/2005 12:00:00 AM,,8/12/2005 12:00:00 AM,,399822.786010,136078.010560,38.89254777825370,-77.00204274364820,,Federal Aid city wide pavement restoration,Mohamed Abdullahi,5628,Said Cherifi,said.cherifi@dc.gov,202-671-4611
Fort Lincoln Dr,NE,Commodore Joshua Barney Dr,Summit Ct,1,Pavement Resurface/restoration,2004,100,Completed,0.07,5,COLLECTOR,7/1/2005 12:00:00 AM,,8/13/2005 12:00:00 AM,,403691.945350,140037.569280,38.92820909687860,-76.95742170299780,,Fedral Aid Citywide Pavement Restoration,Mohamed Abdullahi,5476,Said Cherifi,said.cherifi@dc.gov,202-671-4611

In [21]:
mb= pd.read_csv('ccp_current_csv.csv')
mb

               STREET QUADRANT            FROMINTERSECTION  \
0             13th St       NW                  Kennedy St
1                S St       NW            North Capitol St
2    Rhode Island Ave       NE            Brentwood Rd (W)
3             Mill Rd       NW                     27th St
4    Rhode Island Ave       NE            Brentwood Rd (M)
5           Mellon St       SE                      5th St
6        Nebraska Ave       NW              Northampton St
7         Military Rd       NW                     30th St
8        Nebraska Ave       NW                   Oliver St
9             16th St       NW                  Alaska Ave
..                ...      ...                         ...
455           10th St       NW                        M St
456        Woodley Rd       NW             Connecticut Ave
457        Woodley Rd       NW           Cathedral Ave (E)
458            3rd St       SW            Independence Ave
459           16th St       NW                 Primrose Rd
460        Woodley Rd       NW                  Woodley Pl
461       Western Ave       NW         Chevy Chase Cir (E)
462           49th St       NW                   Fulton St
463     Quackenbos St       NE           New Hampshire Ave
464  North Capitol St       BN  Hawaii Ave  Rock Creek Chu

                 TOINTERSECTION  NOOFBLOCKS                 WORKDESCRIPTION  \
0                 Longfellow St           1  Pavement Resurface/restoration
1                        3rd St           3                   Regular Cover
2              Brentwood Rd (M)           1  Pavement Resurface/restoration
3                    Cul De Sac           1  Pavement Resurface/restoration
4    14th St  Evarts St  Montan           2  Pavement Resurface/restoration
5     Martin Luther King Jr Ave           1  Pavement Resurface/restoration
6                     Oliver St           1  Pavement Resurface/restoration
7               Broad Branch Rd           4  Pavement Resurface/restoration
8                      Utah Ave           1  Pavement Resurface/restoration
9                   Primrose Rd          13                  Reconstruction
..                          ...         ...                             ...
455                        N St           1  Pavement Resurface/restoration
456        29th St  Garfield St           3           Street Light Projects
457           Cathedral Ave (E)           0           Street Light Projects
458                        C St           1           Street Light Projects
459               Maryland Line           5                       Upgrading
460             Connecticut Ave           1           Street Light Projects
461                 Chestnut St          19         Federal Aid Resurfacing
462                 Garfield St           1  Pavement Resurface/restoration
463                 Eastern Ave           2  Pavement Resurface/restoration
464                 Buchanan St           1  Pavement Resurface/restoration

     YEARBUDGETED  PERCENTCOMPLETED     STATUS  MILES WARD  \
0            2004               100  Completed   0.07    4
1            1999               100  Completed   0.33    5
2            2004               100  Completed   0.09    5
3            2004               100  Completed   0.07    2
4            2005               100  Completed   0.16    5
5            2005               100  Completed   0.20    8
6            2004               100  Completed   0.07    4
7            2004               100  Completed   0.35    4
8            2005               100  Completed   0.04    4
9            1999               100  Completed   0.97    4
..            ...               ...        ...    ...  ...
455          2005               100  Completed   0.11    2
456          2003               100  Completed   0.27    3
457          2003               100  Completed   0.00  NaN
458          2003               100  Completed   0.10    2
459          2005               100  Completed   0.27    4
460          2003               100  Completed   0.07    1
461          2004               100  Completed   1.19    3
462          2004               100  Completed   0.12    3
463          2005               100  Completed   0.24    4
464          2003               100  Completed   0.02    5

        FUNCTIONALCLASS     ESTIMATEDSTARTDATE ESTIMATEDCOMPLETIONDATE  \
0        MINOR ARTERIAL   4/4/2005 12:00:00 AM    8/1/2005 12:00:00 AM
1                 LOCAL  3/31/2004 12:00:00 AM                     NaN
2    PRINCIPAL ARTERIAL   7/1/2005 12:00:00 AM    8/5/2005 12:00:00 AM
3                 LOCAL   4/4/2005 12:00:00 AM                     NaN
4    PRINCIPAL ARTERIAL   7/1/2008 12:00:00 AM                     NaN
5                 LOCAL   7/1/2006 12:00:00 AM                     NaN
6             COLLECTOR   4/4/2005 12:00:00 AM                     NaN
7    PRINCIPAL ARTERIAL  3/31/2004 12:00:00 AM                     NaN
8             COLLECTOR   7/1/2006 12:00:00 AM                     NaN
9    PRINCIPAL ARTERIAL  6/15/2001 12:00:00 AM                     NaN
..                  ...                    ...                     ...
455           COLLECTOR   7/1/2006 12:00:00 AM                     NaN
456               LOCAL                    NaN  11/30/2005 12:00:00 AM
457                 NaN                    NaN  11/30/2005 12:00:00 AM
458           COLLECTOR                    NaN  11/30/2005 12:00:00 AM
459  PRINCIPAL ARTERIAL   7/1/2006 12:00:00 AM                     NaN
460               LOCAL                    NaN  11/30/2005 12:00:00 AM
461           COLLECTOR   6/1/2004 12:00:00 AM  11/30/2005 12:00:00 AM
462               LOCAL  3/31/2004 12:00:00 AM   12/1/2005 12:00:00 AM
463               LOCAL   7/2/2007 12:00:00 AM                     NaN
464  PRINCIPAL ARTERIAL  12/8/2003 12:00:00 AM  12/15/2005 12:00:00 AM

       ACTUALCOMPLETIONDATE  \
0      8/1/2005 12:00:00 AM
1      8/1/2005 12:00:00 AM
2      8/3/2005 12:00:00 AM
3      8/3/2005 12:00:00 AM
4      8/3/2005 12:00:00 AM
5      8/3/2005 12:00:00 AM
6      8/4/2005 12:00:00 AM
7      8/4/2005 12:00:00 AM
8      8/4/2005 12:00:00 AM
9     6/20/2005 12:00:00 AM
..                      ...
455  11/30/2005 12:00:00 AM
456  11/30/2005 12:00:00 AM
457  11/30/2005 12:00:00 AM
458  11/30/2005 12:00:00 AM
459  11/30/2005 12:00:00 AM
460  11/30/2005 12:00:00 AM
461  11/30/2005 12:00:00 AM
462   12/1/2005 12:00:00 AM
463   12/6/2005 12:00:00 AM
464  12/15/2005 12:00:00 AM

                                               REMARKS        XCOORD  \
0                             WASA Lead Location FY-05  397426.24848
1                               2 Year CIP 2001 - 2003  398923.60646
2                                                  NaN  401108.11456
3                                                  NaN  395309.86803
4                                                  NaN  401294.79674
5                                                  NaN  400133.42342
6                                                  NaN  394655.00716
7                                                  NaN  394540.29033
8                                                  NaN  394702.64834
9    Storm water management from Alaska & Whittier ...  396851.00588
..                                                 ...           ...
455                                                NaN  397746.31638
456                                                NaN  395217.03775
457                                                NaN  395651.63999
458                                                NaN  398681.14236
459                           Completed Never Reported  396853.27875
460                                                NaN  395489.97852
461                             2 Year CIP 2001 - 2003  394025.23017
462                                                NaN  391850.00917
463                             2 Year CIP 2001 - 2003  399828.86429
464                                                NaN  399253.70969

           YCOORD   LATITUDE  LONGITUDE  \
0    143205.11981  38.956747 -77.029694
1    138468.90256  38.914085 -77.012411
2    139574.10659  38.924041 -76.987221
3    138132.90198  38.911046 -77.054077
4    139657.25318  38.924790 -76.985068
5    130948.25958  38.846337 -76.998463
6    144260.95520  38.966246 -77.061675
7    143680.41824  38.961016 -77.062994
8    144332.34858  38.966889 -77.061126
9    145993.53492  38.981864 -77.036344
..            ...        ...        ...
455  137620.63091  38.906441 -77.025983
456  139776.68682  38.925854 -77.055159
457  139708.16000  38.925239 -77.050146
458  135440.84902  38.886807 -77.015201
459  146987.84913  38.990821 -77.036322
460  139730.94291  38.925443 -77.052011
461  145110.29844  38.973893 -77.068950
462  139891.73363  38.926865 -77.093990
463  143983.75188  38.963765 -77.001975
464  142147.02707  38.947219 -77.008609

                                           PROJECTNOTE  \
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                  POKA-2003-B-0048-JJ
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9    Reconstruction of 16th St. from Alaska to Prim...
..                                                 ...
455                                                NaN
456                                                NaN
457                                                NaN
458                                                NaN
459                                                NaN
460                                                NaN
461                                                NaN
462                                   2nd Aid to State
463                                                NaN
464                                                NaN

                                           PROJECTNAME         PROJECTMGR  \
0                                               FedAid    Paul Stephenson
1                                                  NaN                NaN
2             Fedral Aid Citywide Pavement Restoration  Mohamed Abdullahi
3    Citywide Pavement Restoration Contract (Local ...    Maduabuchi Udeh
4                                                  NaN                NaN
5                                        CIP_2004-2009              FY-05
6                        Citywide Pavement Restoration    Paul Stephenson
7                                       FedAid_6YR_CIP    Paul Stephenson
8                         Citywide Pavement Restoratin    paul Stephenson
9    Recons of 16TH St. from Alaska to Prime Rose  ...   Eskender  Konjit
..                                                 ...                ...
455  Federal Aid City Wide Pavement Restoration Con...    Maduabuchi Udeh
456  StreetLight Series Circuit Conversion at 5 Loc...        Mike Dorsey
457  StreetLight Series Circuit Conversion at 5 Loc...        Mike Dorsey
458  StreetLight Series Circuit Conversion at 5 Loc...        Mike Dorsey
459                     Pavement Resurface Restoration    Paul Stephenson
460  StreetLight Series Circuit Conversion at 5 Loc...        Mike Dorsey
461                                     FedAid_6YR_CIP    Paul Stephenson
462                      Citywide Pavement Restoration     Paul Stphenson
463                                                NaN                NaN
464  Rehabilitation of N. Capitol St. from Michigan...    Konjit Eskender

     PROJECTID                TEAMREP                   EMAIL  CONTACTPHONE
0         5834                O. Hill                     NaN  202-671-4591
1         2467                    NaN                     NaN           NaN
2         5486           Said Cherifi     said.cherifi@dc.gov  202-671-4611
3         5796          Michael Jelen    Michael.Jelen@dc.gov  202-671-4542
4         8237                    NaN                     NaN           NaN
5         4175                    NaN                     NaN           NaN
6         5296  M. Howard and O. hill                     NaN  202-671-4591
7         4762                O. Hill                     NaN  202-671-4591
8         7867  M. Howard and O. Hill                     NaN  202-671-4591
9         2349          Porter Curtis    Porter.Curtis@Dc.gov  202-671-4581
..         ...                    ...                     ...           ...
455       7577          Michael Jelen    Michael.Jelen@dc.gov  202-671-4542
456       8704            Mike Dorsey                     NaN           NaN
457       8702                    NaN                     NaN           NaN
458       8713            Mike Dorsey                     NaN           NaN
459       6372          Porter Curtis                     NaN  202-671-4581
460       8703            Mike Dorsey                     NaN           NaN
461       2732           Lennox Bruce      Lennoxbruce@dc.gov  (202)-671-45
462       3948               Deguzman                     NaN  202-671-4591
463       2642                    NaN                     NaN           NaN
464       8543        Stanley Freeman  Stanley.Freeman@dc.gov  202-234-1458

[465 rows x 27 columns]

2.1.a  what is its shape and what does that mean?

In [18]:
mb.shape  # it has 465 rows and 27 columns

(465, 27)

##Homework 2.2
 What are the number of rows in each quandrant?

In [32]:
XL =mb[mb['QUADRANT'] == 'NW']  # 195 ROWS
XL.count()

STREET              195
QUADRANT            195
FROMINTERSECTION    195
TOINTERSECTION      195
NOOFBLOCKS          195
WORKDESCRIPTION     195
YEARBUDGETED        195
PERCENTCOMPLETED    195
STATUS              195
MILES               195
                   ...
YCOORD              195
LATITUDE            195
LONGITUDE           195
PROJECTNOTE          77
PROJECTNAME         147
PROJECTMGR          141
PROJECTID           195
TEAMREP             135
EMAIL                79
CONTACTPHONE        132
dtype: int64

In [139]:
XL1 =mb[mb['QUADRANT'] == 'SW']  # 11 ROWS
XL1.count()

STREET              11
QUADRANT            11
FROMINTERSECTION    11
TOINTERSECTION      11
NOOFBLOCKS          11
WORKDESCRIPTION     11
YEARBUDGETED        11
PERCENTCOMPLETED    11
STATUS              11
MILES               11
                    ..
YCOORD              11
LATITUDE            11
LONGITUDE           11
PROJECTNOTE          2
PROJECTNAME          5
PROJECTMGR           6
PROJECTID           11
TEAMREP              5
EMAIL                4
CONTACTPHONE         4
dtype: int64

In [34]:
XL2 =mb[mb['QUADRANT'] == 'SE']  # 84 ROWS
XL2.count()

STREET              84
QUADRANT            84
FROMINTERSECTION    84
TOINTERSECTION      84
NOOFBLOCKS          84
WORKDESCRIPTION     84
YEARBUDGETED        84
PERCENTCOMPLETED    84
STATUS              84
MILES               84
                    ..
YCOORD              84
LATITUDE            84
LONGITUDE           84
PROJECTNOTE          8
PROJECTNAME         40
PROJECTMGR          30
PROJECTID           84
TEAMREP             21
EMAIL                3
CONTACTPHONE        22
dtype: int64

In [35]:
XL =mb[mb['QUADRANT'] == 'BN'] # 12 ROWS
XL.count()

STREET              12
QUADRANT            12
FROMINTERSECTION    12
TOINTERSECTION      12
NOOFBLOCKS          12
WORKDESCRIPTION     12
YEARBUDGETED        12
PERCENTCOMPLETED    12
STATUS              12
MILES               12
                    ..
YCOORD              12
LATITUDE            12
LONGITUDE           12
PROJECTNOTE          4
PROJECTNAME          8
PROJECTMGR           8
PROJECTID           12
TEAMREP              8
EMAIL                8
CONTACTPHONE         8
dtype: int64

In [36]:
XL =mb[mb['QUADRANT'] == 'NE'] # 163 ROWS
XL.count()

STREET              163
QUADRANT            163
FROMINTERSECTION    163
TOINTERSECTION      163
NOOFBLOCKS          163
WORKDESCRIPTION     163
YEARBUDGETED        163
PERCENTCOMPLETED    163
STATUS              163
MILES               163
                   ...
YCOORD              163
LATITUDE            163
LONGITUDE           163
PROJECTNOTE           8
PROJECTNAME          65
PROJECTMGR           49
PROJECTID           163
TEAMREP              42
EMAIL                34
CONTACTPHONE         43
dtype: int64

##Homework 2.3

2.3aCreate a 10x10 array with normally distributed random data

In [46]:
from numpy import random

In [56]:
# standard normal distributed random numbers
C= random.randn(10,10)
C

array([[ 1.20603568,  1.22599566, -1.24837732, -0.93656849, -1.95825779,
         1.56919673, -0.25988115,  0.46989972, -0.00640614, -0.57242855],
       [-0.54317805,  0.82713363,  0.99611776, -0.76406745, -0.78362137,
        -0.40581077,  0.2848846 , -0.30851881,  0.24563563,  1.45765062],
       [ 1.48700174, -0.91648547, -1.27915531, -1.34906812,  0.19749511,
         1.49874578,  0.03415089,  0.75803732,  0.89939378, -0.63307228],
       [-1.02317599,  1.20504042, -1.05635781, -0.97094077, -0.81760809,
        -1.07308215,  0.1642054 , -0.42400652,  0.36271027,  1.00600035],
       [ 0.24790723,  1.10790173, -1.73461511, -0.44049296, -0.02083276,
        -0.22715568,  1.68652412, -0.85198596,  2.1041591 , -0.91233611],
       [ 0.08948164,  0.05188755, -1.38928992, -0.930615  ,  0.15298247,
         1.5658666 , -0.57178031, -1.04631307,  0.40726012,  1.58941502],
       [ 0.55449984,  0.41790577,  0.20345763,  1.2828738 ,  1.51704263,
         2.42396411,  0.70044807, -1.45689529,  0.25899724, -0.20606963],
       [-0.003785  ,  0.73109779, -0.32454158, -0.46169253,  0.33895615,
        -0.17807397,  0.02647031,  0.34842205, -0.1972485 , -0.64886978],
       [ 0.5502336 ,  0.40168985,  0.77964738, -1.41658127, -0.57722015,
         0.36323564, -0.1769352 ,  0.85148488, -0.16014159,  0.88251631],
       [ 0.85125835, -0.77773659,  1.02004386,  0.96413079, -1.29645737,
        -1.53675779,  0.53253596, -0.6616021 ,  0.82618034, -0.46304402]])

In [57]:
L=C.mean()
L

0.057266714385422357

##Homework 2.3

2.3b Change all numbers under the mean to 0

In [73]:
# create a zero matrix and substitute with elements from C matrix
data =zeros((10,10)) 
for i in range(10): 
        for j in range(10): 
            if C[i,j] < L: 
                data[i,j] = 0 
            else: 
                data[i,j] =C[i,j]
data

array([[ 1.20603568,  1.22599566,  0.        ,  0.        ,  0.        ,
         1.56919673,  0.        ,  0.46989972,  0.        ,  0.        ],
       [ 0.        ,  0.82713363,  0.99611776,  0.        ,  0.        ,
         0.        ,  0.2848846 ,  0.        ,  0.24563563,  1.45765062],
       [ 1.48700174,  0.        ,  0.        ,  0.        ,  0.19749511,
         1.49874578,  0.        ,  0.75803732,  0.89939378,  0.        ],
       [ 0.        ,  1.20504042,  0.        ,  0.        ,  0.        ,
         0.        ,  0.1642054 ,  0.        ,  0.36271027,  1.00600035],
       [ 0.24790723,  1.10790173,  0.        ,  0.        ,  0.        ,
         0.        ,  1.68652412,  0.        ,  2.1041591 ,  0.        ],
       [ 0.08948164,  0.        ,  0.        ,  0.        ,  0.15298247,
         1.5658666 ,  0.        ,  0.        ,  0.40726012,  1.58941502],
       [ 0.55449984,  0.41790577,  0.20345763,  1.2828738 ,  1.51704263,
         2.42396411,  0.70044807,  0.        ,  0.25899724,  0.        ],
       [ 0.        ,  0.73109779,  0.        ,  0.        ,  0.33895615,
         0.        ,  0.        ,  0.34842205,  0.        ,  0.        ],
       [ 0.5502336 ,  0.40168985,  0.77964738,  0.        ,  0.        ,
         0.36323564,  0.        ,  0.85148488,  0.        ,  0.88251631],
       [ 0.85125835,  0.        ,  1.02004386,  0.96413079,  0.        ,
         0.        ,  0.53253596,  0.        ,  0.82618034,  0.        ]])

##Homework 2.3
2.3c Transpose the new array

In [75]:
Tdata=data.T
Tdata

array([[ 1.20603568,  0.        ,  1.48700174,  0.        ,  0.24790723,
         0.08948164,  0.55449984,  0.        ,  0.5502336 ,  0.85125835],
       [ 1.22599566,  0.82713363,  0.        ,  1.20504042,  1.10790173,
         0.        ,  0.41790577,  0.73109779,  0.40168985,  0.        ],
       [ 0.        ,  0.99611776,  0.        ,  0.        ,  0.        ,
         0.        ,  0.20345763,  0.        ,  0.77964738,  1.02004386],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.2828738 ,  0.        ,  0.        ,  0.96413079],
       [ 0.        ,  0.        ,  0.19749511,  0.        ,  0.        ,
         0.15298247,  1.51704263,  0.33895615,  0.        ,  0.        ],
       [ 1.56919673,  0.        ,  1.49874578,  0.        ,  0.        ,
         1.5658666 ,  2.42396411,  0.        ,  0.36323564,  0.        ],
       [ 0.        ,  0.2848846 ,  0.        ,  0.1642054 ,  1.68652412,
         0.        ,  0.70044807,  0.        ,  0.        ,  0.53253596],
       [ 0.46989972,  0.        ,  0.75803732,  0.        ,  0.        ,
         0.        ,  0.        ,  0.34842205,  0.85148488,  0.        ],
       [ 0.        ,  0.24563563,  0.89939378,  0.36271027,  2.1041591 ,
         0.40726012,  0.25899724,  0.        ,  0.        ,  0.82618034],
       [ 0.        ,  1.45765062,  0.        ,  1.00600035,  0.        ,
         1.58941502,  0.        ,  0.        ,  0.88251631,  0.        ]])

##Homework 2.3
2.3d Create an array of 10 alternating 1 and zero (starting with 1)

In [78]:
basearray =array([1,0])
alternatearray=tile(basearray,5)
alternatearray

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0])

##Homework 2.3
2.3e Take the dot product of the vectoer in 2.3d with the array in 2.3c

In [93]:
newarray =alternatearray*Tdata
newarray

array([[ 1.20603568,  0.        ,  1.48700174,  0.        ,  0.24790723,
         0.        ,  0.55449984,  0.        ,  0.5502336 ,  0.        ],
       [ 1.22599566,  0.        ,  0.        ,  0.        ,  1.10790173,
         0.        ,  0.41790577,  0.        ,  0.40168985,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.20345763,  0.        ,  0.77964738,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  1.2828738 ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.19749511,  0.        ,  0.        ,
         0.        ,  1.51704263,  0.        ,  0.        ,  0.        ],
       [ 1.56919673,  0.        ,  1.49874578,  0.        ,  0.        ,
         0.        ,  2.42396411,  0.        ,  0.36323564,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  1.68652412,
         0.        ,  0.70044807,  0.        ,  0.        ,  0.        ],
       [ 0.46989972,  0.        ,  0.75803732,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.85148488,  0.        ],
       [ 0.        ,  0.        ,  0.89939378,  0.        ,  2.1041591 ,
         0.        ,  0.25899724,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.88251631,  0.        ]])

##Homework 2.4

a. Load in a data from a csv file of your choosing.

In [85]:
pwd

u'C:\\Users\\gaurav\\Anaconda\\Lecture3\\Homework_2\\Homework_2\\data'

In [211]:
mn= pd.read_excel('titanic.xls')
mn

      pclass  survived                                               name  \
0          1         1                      Allen, Miss. Elisabeth Walton
1          1         1                     Allison, Master. Hudson Trevor
2          1         0                       Allison, Miss. Helen Loraine
3          1         0               Allison, Mr. Hudson Joshua Creighton
4          1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5          1         1                                Anderson, Mr. Harry
6          1         1                  Andrews, Miss. Kornelia Theodosia
7          1         0                             Andrews, Mr. Thomas Jr
8          1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9          1         0                            Artagaveytia, Mr. Ramon
10         1         0                             Astor, Col. John Jacob
11         1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12         1         1                      Aubart, Mme. Leontine Pauline
13         1         1                       Barber, Miss. Ellen "Nellie"
14         1         1               Barkworth, Mr. Algernon Henry Wilson
15         1         0                                Baumann, Mr. John D
16         1         0                           Baxter, Mr. Quigg Edmond
17         1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18         1         1                              Bazzani, Miss. Albina
19         1         0                               Beattie, Mr. Thomson
20         1         1                      Beckwith, Mr. Richard Leonard
21         1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22         1         1                              Behr, Mr. Karl Howell
23         1         1                              Bidois, Miss. Rosalie
24         1         1                                  Bird, Miss. Ellen
25         1         0                                Birnbaum, Mr. Jakob
26         1         1                            Bishop, Mr. Dickinson H
27         1         1            Bishop, Mrs. Dickinson H (Helen Walton)
28         1         1                             Bissette, Miss. Amelia
29         1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
30         1         0                       Blackwell, Mr. Stephen Weart
31         1         1                                   Blank, Mr. Henry
32         1         1                            Bonnell, Miss. Caroline
33         1         1                           Bonnell, Miss. Elizabeth
34         1         0                           Borebank, Mr. John James
35         1         1                           Bowen, Miss. Grace Scott
36         1         1                        Bowerman, Miss. Elsie Edith
37         1         1      Bradley, Mr. George ("George Arthur Brayton")
38         1         0                            Brady, Mr. John Bertram
39         1         0                                 Brandeis, Mr. Emil
40         1         0                          Brewe, Dr. Arthur Jackson
41         1         1          Brown, Mrs. James Joseph (Margaret Tobin)
42         1         1     Brown, Mrs. John Murray (Caroline Lane Lamson)
43         1         1    Bucknell, Mrs. William Robert (Emma Eliza Ward)
44         1         1                    Burns, Miss. Elizabeth Margaret
45         1         0                  Butt, Major. Archibald Willingham
46         1         0                              Cairns, Mr. Alexander
47         1         1                  Calderhead, Mr. Edward Pennington
48         1         1   Candee, Mrs. Edward (Helen Churchill Hungerford)
49         1         1                 Cardeza, Mr. Thomas Drake Martinez
50         1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
51         1         0                           Carlsson, Mr. Frans Olof
52         1         0                            Carrau, Mr. Francisco M
53         1         0                             Carrau, Mr. Jose Pedro
54         1         1                Carter, Master. William Thornton II
55         1         1                          Carter, Miss. Lucile Polk
56         1         1                         Carter, Mr. William Ernest
57         1         1          Carter, Mrs. William Ernest (Lucile Polk)
58         1         0                             Case, Mr. Howard Brown
59         1         1  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
60         1         0                      Cavendish, Mr. Tyrell William
61         1         1  Cavendish, Mrs. Tyrell William (Julia Florence...
62         1         0                        Chaffee, Mr. Herbert Fuller
63         1         1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
64         1         1                      Chambers, Mr. Norman Campbell
65         1         1     Chambers, Mrs. Norman Campbell (Bertha Griggs)
66         1         1                        Chaudanson, Miss. Victorine
67         1         1                               Cherry, Miss. Gladys
68         1         1                           Chevre, Mr. Paul Romaine
69         1         1             Chibnall, Mrs. (Edith Martha Bowerman)
70         1         0              Chisholm, Mr. Roderick Robert Crispin
71         1         0                           Clark, Mr. Walter Miller
72         1         1      Clark, Mrs. Walter Miller (Virginia McDowell)
73         1         1                               Cleaver, Miss. Alice
74         1         0                        Clifford, Mr. George Quincy
75         1         0                         Colley, Mr. Edward Pomeroy
76         1         1                        Compton, Miss. Sara Rebecca
77         1         0                   Compton, Mr. Alexander Taylor Jr
78         1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
79         1         1  Cornell, Mrs. Robert Clifford (Malvina Helen L...
80         1         0                          Crafton, Mr. John Bertram
81         1         0                       Crosby, Capt. Edward Gifford
82         1         1                            Crosby, Miss. Harriet R
83         1         1  Crosby, Mrs. Edward Gifford (Catherine Elizabe...
84         1         0                          Cumings, Mr. John Bradley
85         1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
86         1         1                             Daly, Mr. Peter Denis
87         1         1                        Daniel, Mr. Robert Williams
88         1         1                               Daniels, Miss. Sarah
89         1         0                             Davidson, Mr. Thornton
90         1         1               Davidson, Mrs. Thornton (Orian Hays)
91         1         1                            Dick, Mr. Albert Adrian
92         1         1          Dick, Mrs. Albert Adrian (Vera Gillespie)
93         1         1                              Dodge, Dr. Washington
94         1         1                          Dodge, Master. Washington
95         1         1              Dodge, Mrs. Washington (Ruth Vidaver)
96         1         0                         Douglas, Mr. Walter Donald
97         1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
98         1         1        Douglas, Mrs. Walter Donald (Mahala Dutton)
99         1         1  Duff Gordon, Lady. (Lucille Christiana Sutherl...
100        1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
101        1         0                       Dulles, Mr. William Crothers
102        1         1              Earnshaw, Mrs. Boulton (Olive Potter)
103        1         1                      Endres, Miss. Caroline Louise
104        1         1                     Eustis, Miss. Elizabeth Mussey
105        1         0                           Evans, Miss. Edith Corse
106        1         0                                 Farthing, Mr. John
107        1         1               Flegenheim, Mrs. Alfred (Antoinette)
108        1         1                            Fleming, Miss. Margaret
109        1         1                   Flynn, Mr. John Irwin ("Irving")
110        1         0                    Foreman, Mr. Benjamin Laventall
111        1         1                     Fortune, Miss. Alice Elizabeth
112        1         1                         Fortune, Miss. Ethel Flora
113        1         1                         Fortune, Miss. Mabel Helen
114        1         0                     Fortune, Mr. Charles Alexander
115        1         0                                  Fortune, Mr. Mark
116        1         1                Fortune, Mrs. Mark (Mary McDougald)
117        1         1                     Francatelli, Miss. Laura Mabel
118        1         0                        Franklin, Mr. Thomas Parham
119        1         1                      Frauenthal, Dr. Henry William
120        1         1                       Frauenthal, Mr. Isaac Gerald
121        1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
122        1         1                 Frolicher, Miss. Hedwig Margaritha
123        1         1                   Frolicher-Stehli, Mr. Maxmillian
124        1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
125        1         0                                   Fry, Mr. Richard
126        1         0                        Futrelle, Mr. Jacques Heath
127        1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
128        1         0                                  Gee, Mr. Arthur H
129        1         1                               Geiger, Miss. Amalie
130        1         1                     Gibson, Miss. Dorothy Winifred
131        1         1            Gibson, Mrs. Leonard (Pauline C Boeson)
132        1         0                                 Giglio, Mr. Victor
133        1         1                           Goldenberg, Mr. Samuel L
134        1         1       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
135        1         0                          Goldschmidt, Mr. George B
136        1         1                          Gracie, Col. Archibald IV
137        1         1                       Graham, Miss. Margaret Edith
138        1         0                          Graham, Mr. George Edward
139        1         1      Graham, Mrs. William Thompson (Edith Junkins)
140        1         1                    Greenfield, Mr. William Bertram
141        1         1       Greenfield, Mrs. Leo David (Blanche Strouse)
142        1         0                           Guggenheim, Mr. Benjamin
143        1         1                        Harder, Mr. George Achilles
144        1         1       Harder, Mrs. George Achilles (Dorothy Annan)
145        1         1                          Harper, Mr. Henry Sleeper
146        1         1           Harper, Mrs. Henry Sleeper (Myna Haxtun)
147        1         0                          Harrington, Mr. Charles H
148        1         0                        Harris, Mr. Henry Birkhardt
149        1         1       Harris, Mrs. Henry Birkhardt (Irene Wallach)
150        1         0                              Harrison, Mr. William
151        1         1                                 Hassab, Mr. Hammad
152        1         1                        Hawksford, Mr. Walter James
153        1         1                     Hays, Miss. Margaret Bechstein
154        1         0                         Hays, Mr. Charles Melville
155        1         1  Hays, Mrs. Charles Melville (Clara Jennings Gr...
156        1         0                              Head, Mr. Christopher
157        1         0                        Hilliard, Mr. Herbert Henry
158        1         0                        Hipkins, Mr. William Edward
159        1         1                       Hippach, Miss. Jean Gertrude
160        1         1    Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
161        1         1               Hogeboom, Mrs. John C (Anna Andrews)
162        1         0                     Holverson, Mr. Alexander Oskar
163        1         1  Holverson, Mrs. Alexander Oskar (Mary Aline To...
164        1         1                    Homer, Mr. Harry ("Mr E Haven")
165        1         1                       Hoyt, Mr. Frederick Maxfield
166        1         0                           Hoyt, Mr. William Fisher
167        1         1    Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
168        1         1                                Icard, Miss. Amelie
169        1         0                         Isham, Miss. Ann Elizabeth
170        1         1                            Ismay, Mr. Joseph Bruce
171        1         0                         Jones, Mr. Charles Cresson
172        1         0                           Julian, Mr. Henry Forbes
173        1         0                                 Keeping, Mr. Edwin
174        1         0                            Kent, Mr. Edward Austin
175        1         0                            Kenyon, Mr. Frederick R
176        1         1                  Kenyon, Mrs. Frederick R (Marion)
177        1         1                       Kimball, Mr. Edwin Nelson Jr
178        1         1   Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
179        1         0                                 Klaber, Mr. Herman
180        1         1                             Kreuchen, Miss. Emilie
181        1         1                        Leader, Dr. Alice (Farnham)
182        1         1                                LeRoy, Miss. Bertha
183        1         1                             Lesurer, Mr. Gustave J
184        1         0                                  Lewy, Mr. Ervin G
185        1         0  Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Li...
186        1         1          Lindstrom, Mrs. Carl Johan (Sigrid Posse)
187        1         1                          Lines, Miss. Mary Conover
188        1         1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
189        1         0                             Long, Mr. Milton Clyde
190        1         1                      Longley, Miss. Gretchen Fiske
191        1         0                         Loring, Mr. Joseph Holland
192        1         1                               Lurette, Miss. Elise
193        1         1                  Madill, Miss. Georgette Alexandra
194        1         0                           Maguire, Mr. John Edward
195        1         1                              Maioni, Miss. Roberta
196        1         1                               Marechal, Mr. Pierre
197        1         0                          Marvin, Mr. Daniel Warner
198        1         1  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
199        1         1   Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
200        1         0                       McCaffry, Mr. Thomas Francis
201        1         0                            McCarthy, Mr. Timothy J
202        1         1                          McGough, Mr. James Robert
203        1         0                            Meyer, Mr. Edgar Joseph
204        1         1              Meyer, Mrs. Edgar Joseph (Leila Saks)
205        1         0                          Millet, Mr. Francis Davis
206        1         0                        Minahan, Dr. William Edward
207        1         1                             Minahan, Miss. Daisy E
208        1         1    Minahan, Mrs. William Edward (Lillian E Thorpe)
209        1         1                           Mock, Mr. Philipp Edmund
210        1         0                         Molson, Mr. Harry Markland
211        1         0                     Moore, Mr. Clarence Bloomfield
212        1         0                              Natsch, Mr. Charles H
213        1         1                            Newell, Miss. Madeleine
214        1         1                             Newell, Miss. Marjorie
215        1         0                         Newell, Mr. Arthur Webster
216        1         1                       Newsom, Miss. Helen Monypeny
217        1         0                       Nicholson, Mr. Arthur Ernest
218        1         1                       Oliva y Ocana, Dona. Fermina
219        1         1                          Omont, Mr. Alfred Fernand
220        1         1                       Ostby, Miss. Helene Ragnhild
221        1         0                     Ostby, Mr. Engelhart Cornelius
222        1         0                    Ovies y Rodriguez, Mr. Servando
223        1         0                      Parr, Mr. William Henry Marsh
224        1         0                                Partner, Mr. Austen
225        1         0                         Payne, Mr. Vivian Ponsonby
226        1         0                          Pears, Mr. Thomas Clinton
227        1         1                  Pears, Mrs. Thomas (Edith Wearne)
228        1         0         Penasco y Castellana, Mr. Victor de Satode
229        1         1  Penasco y Castellana, Mrs. Victor de Satode (M...
230        1         1                              Perreault, Miss. Anne
231        1         1                     Peuchen, Major. Arthur Godfrey
232        1         0                     Porter, Mr. Walter Chamberlain
233        1         1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
234        1         0                    Reuchlin, Jonkheer. John George
235        1         1                Rheims, Mr. George Alexander Lucien
236        1         0                                Ringhini, Mr. Sante
237        1         0                                Robbins, Mr. Victor
238        1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
239        1         0               Roebling, Mr. Washington Augustus II
240        1         1      Romaine, Mr. Charles Hallace ("Mr C Rolmane")
241        1         0                              Rood, Mr. Hugh Roscoe
242        1         1                      Rosenbaum, Miss. Edith Louise
243        1         0        Rosenshine, Mr. George ("Mr George Thorne")
244        1         0                                Ross, Mr. John Hugo
245        1         1  Rothes, the Countess. of (Lucy Noel Martha Dye...
246        1         0                             Rothschild, Mr. Martin
247        1         1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)
248        1         0                                 Rowe, Mr. Alfred G
249        1         1                        Ryerson, Master. John Borie
250        1         1                         Ryerson, Miss. Emily Borie
251        1         1              Ryerson, Miss. Susan Parker "Suzette"
252        1         0                         Ryerson, Mr. Arthur Larned
253        1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
254        1         1                              Saalfeld, Mr. Adolphe
255        1         1                               Sagesser, Mlle. Emma
256        1         1                             Salomon, Mr. Abraham L
257        1         1                    Schabert, Mrs. Paul (Emma Mock)
258        1         1                            Serepeca, Miss. Augusta
259        1         1                        Seward, Mr. Frederic Kimber
260        1         1                          Shutes, Miss. Elizabeth W
261        1         1                   Silverthorne, Mr. Spencer Victor
262        1         0                          Silvey, Mr. William Baird
263        1         1          Silvey, Mrs. William Baird (Alice Munger)
264        1         1                Simonius-Blumer, Col. Oberst Alfons
265        1         1                       Sloper, Mr. William Thompson
266        1         0                         Smart, Mr. John Montgomery
267        1         0                            Smith, Mr. James Clinch
268        1         0                           Smith, Mr. Lucien Philip

In [157]:
ppp =mn[mn['survived'] == 1]  
ppp.count()

pclass       500
survived     500
name         500
sex          500
age          427
sibsp        500
parch        500
ticket       500
fare         500
cabin        193
embarked     498
boat         477
body           0
home.dest    347
dtype: int64

In [158]:
np.array_split(mn,10) # just a disscovery during investigation

[     pclass  survived                                               name  \
 0         1         1                      Allen, Miss. Elisabeth Walton
 1         1         1                     Allison, Master. Hudson Trevor
 2         1         0                       Allison, Miss. Helen Loraine
 3         1         0               Allison, Mr. Hudson Joshua Creighton
 4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
 5         1         1                                Anderson, Mr. Harry
 6         1         1                  Andrews, Miss. Kornelia Theodosia
 7         1         0                             Andrews, Mr. Thomas Jr
 8         1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
 9         1         0                            Artagaveytia, Mr. Ramon
 10        1         0                             Astor, Col. John Jacob
 11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
 12        1         1                      Aubart, Mme. Leontine Pauline
 13        1         1                       Barber, Miss. Ellen "Nellie"
 14        1         1               Barkworth, Mr. Algernon Henry Wilson
 15        1         0                                Baumann, Mr. John D
 16        1         0                           Baxter, Mr. Quigg Edmond
 17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
 18        1         1                              Bazzani, Miss. Albina
 19        1         0                               Beattie, Mr. Thomson
 20        1         1                      Beckwith, Mr. Richard Leonard
 21        1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
 22        1         1                              Behr, Mr. Karl Howell
 23        1         1                              Bidois, Miss. Rosalie
 24        1         1                                  Bird, Miss. Ellen
 25        1         0                                Birnbaum, Mr. Jakob
 26        1         1                            Bishop, Mr. Dickinson H
 27        1         1            Bishop, Mrs. Dickinson H (Helen Walton)
 28        1         1                             Bissette, Miss. Amelia
 29        1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
 30        1         0                       Blackwell, Mr. Stephen Weart
 31        1         1                                   Blank, Mr. Henry
 32        1         1                            Bonnell, Miss. Caroline
 33        1         1                           Bonnell, Miss. Elizabeth
 34        1         0                           Borebank, Mr. John James
 35        1         1                           Bowen, Miss. Grace Scott
 36        1         1                        Bowerman, Miss. Elsie Edith
 37        1         1      Bradley, Mr. George ("George Arthur Brayton")
 38        1         0                            Brady, Mr. John Bertram
 39        1         0                                 Brandeis, Mr. Emil
 40        1         0                          Brewe, Dr. Arthur Jackson
 41        1         1          Brown, Mrs. James Joseph (Margaret Tobin)
 42        1         1     Brown, Mrs. John Murray (Caroline Lane Lamson)
 43        1         1    Bucknell, Mrs. William Robert (Emma Eliza Ward)
 44        1         1                    Burns, Miss. Elizabeth Margaret
 45        1         0                  Butt, Major. Archibald Willingham
 46        1         0                              Cairns, Mr. Alexander
 47        1         1                  Calderhead, Mr. Edward Pennington
 48        1         1   Candee, Mrs. Edward (Helen Churchill Hungerford)
 49        1         1                 Cardeza, Mr. Thomas Drake Martinez
 50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
 51        1         0                           Carlsson, Mr. Frans Olof
 52        1         0                            Carrau, Mr. Francisco M
 53        1         0                             Carrau, Mr. Jose Pedro
 54        1         1                Carter, Master. William Thornton II
 55        1         1                          Carter, Miss. Lucile Polk
 56        1         1                         Carter, Mr. William Ernest
 57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
 58        1         0                             Case, Mr. Howard Brown
 59        1         1  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
 60        1         0                      Cavendish, Mr. Tyrell William
 61        1         1  Cavendish, Mrs. Tyrell William (Julia Florence...
 62        1         0                        Chaffee, Mr. Herbert Fuller
 63        1         1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
 64        1         1                      Chambers, Mr. Norman Campbell
 65        1         1     Chambers, Mrs. Norman Campbell (Bertha Griggs)
 66        1         1                        Chaudanson, Miss. Victorine
 67        1         1                               Cherry, Miss. Gladys
 68        1         1                           Chevre, Mr. Paul Romaine
 69        1         1             Chibnall, Mrs. (Edith Martha Bowerman)
 70        1         0              Chisholm, Mr. Roderick Robert Crispin
 71        1         0                           Clark, Mr. Walter Miller
 72        1         1      Clark, Mrs. Walter Miller (Virginia McDowell)
 73        1         1                               Cleaver, Miss. Alice
 74        1         0                        Clifford, Mr. George Quincy
 75        1         0                         Colley, Mr. Edward Pomeroy
 76        1         1                        Compton, Miss. Sara Rebecca
 77        1         0                   Compton, Mr. Alexander Taylor Jr
 78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
 79        1         1  Cornell, Mrs. Robert Clifford (Malvina Helen L...
 80        1         0                          Crafton, Mr. John Bertram
 81        1         0                       Crosby, Capt. Edward Gifford
 82        1         1                            Crosby, Miss. Harriet R
 83        1         1  Crosby, Mrs. Edward Gifford (Catherine Elizabe...
 84        1         0                          Cumings, Mr. John Bradley
 85        1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
 86        1         1                             Daly, Mr. Peter Denis
 87        1         1                        Daniel, Mr. Robert Williams
 88        1         1                               Daniels, Miss. Sarah
 89        1         0                             Davidson, Mr. Thornton
 90        1         1               Davidson, Mrs. Thornton (Orian Hays)
 91        1         1                            Dick, Mr. Albert Adrian
 92        1         1          Dick, Mrs. Albert Adrian (Vera Gillespie)
 93        1         1                              Dodge, Dr. Washington
 94        1         1                          Dodge, Master. Washington
 95        1         1              Dodge, Mrs. Washington (Ruth Vidaver)
 96        1         0                         Douglas, Mr. Walter Donald
 97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
 98        1         1        Douglas, Mrs. Walter Donald (Mahala Dutton)
 99        1         1  Duff Gordon, Lady. (Lucille Christiana Sutherl...
 100       1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
 101       1         0                       Dulles, Mr. William Crothers
 102       1         1              Earnshaw, Mrs. Boulton (Olive Potter)
 103       1         1                      Endres, Miss. Caroline Louise
 104       1         1                     Eustis, Miss. Elizabeth Mussey
 105       1         0                           Evans, Miss. Edith Corse
 106       1         0                                 Farthing, Mr. John
 107       1         1               Flegenheim, Mrs. Alfred (Antoinette)
 108       1         1                            Fleming, Miss. Margaret
 109       1         1                   Flynn, Mr. John Irwin ("Irving")
 110       1         0                    Foreman, Mr. Benjamin Laventall
 111       1         1                     Fortune, Miss. Alice Elizabeth
 112       1         1                         Fortune, Miss. Ethel Flora
 113       1         1                         Fortune, Miss. Mabel Helen
 114       1         0                     Fortune, Mr. Charles Alexander
 115       1         0                                  Fortune, Mr. Mark
 116       1         1                Fortune, Mrs. Mark (Mary McDougald)
 117       1         1                     Francatelli, Miss. Laura Mabel
 118       1         0                        Franklin, Mr. Thomas Parham
 119       1         1                      Frauenthal, Dr. Henry William
 120       1         1                       Frauenthal, Mr. Isaac Gerald
 121       1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
 122       1         1                 Frolicher, Miss. Hedwig Margaritha
 123       1         1                   Frolicher-Stehli, Mr. Maxmillian
 124       1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
 125       1         0                                   Fry, Mr. Richard
 126       1         0                        Futrelle, Mr. Jacques Heath
 127       1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
 128       1         0                                  Gee, Mr. Arthur H
 129       1         1                               Geiger, Miss. Amalie
 130       1         1                     Gibson, Miss. Dorothy Winifred

         sex      age  sibsp  parch       ticket      fare        cabin  \
 0    female  29.0000      0      0        24160  211.3375           B5
 1      male   0.9167      1      2       113781  151.5500      C22 C26
 2    female   2.0000      1      2       113781  151.5500      C22 C26
 3      male  30.0000      1      2       113781  151.5500      C22 C26
 4    female  25.0000      1      2       113781  151.5500      C22 C26
 5      male  48.0000      0      0        19952   26.5500          E12
 6    female  63.0000      1      0        13502   77.9583           D7
 7      male  39.0000      0      0       112050    0.0000          A36
 8    female  53.0000      2      0        11769   51.4792         C101
 9      male  71.0000      0      0     PC 17609   49.5042          NaN
 10     male  47.0000      1      0     PC 17757  227.5250      C62 C64
 11   female  18.0000      1      0     PC 17757  227.5250      C62 C64
 12   female  24.0000      0      0     PC 17477   69.3000          B35
 13   female  26.0000      0      0        19877   78.8500          NaN
 14     male  80.0000      0      0        27042   30.0000          A23
 15     male      NaN      0      0     PC 17318   25.9250          NaN
 16     male  24.0000      0      1     PC 17558  247.5208      B58 B60
 17   female  50.0000      0      1     PC 17558  247.5208      B58 B60
 18   female  32.0000      0      0        11813   76.2917          D15
 19     male  36.0000      0      0        13050   75.2417           C6
 20     male  37.0000      1      1        11751   52.5542          D35
 21   female  47.0000      1      1        11751   52.5542          D35
 22     male  26.0000      0      0       111369   30.0000         C148
 23   female  42.0000      0      0     PC 17757  227.5250          NaN
 24   female  29.0000      0      0     PC 17483  221.7792          C97
 25     male  25.0000      0      0        13905   26.0000          NaN
 26     male  25.0000      1      0        11967   91.0792          B49
 27   female  19.0000      1      0        11967   91.0792          B49
 28   female  35.0000      0      0     PC 17760  135.6333          C99
 29     male  28.0000      0      0       110564   26.5500          C52
 30     male  45.0000      0      0       113784   35.5000            T
 31     male  40.0000      0      0       112277   31.0000          A31
 32   female  30.0000      0      0        36928  164.8667           C7
 33   female  58.0000      0      0       113783   26.5500         C103
 34     male  42.0000      0      0       110489   26.5500          D22
 35   female  45.0000      0      0     PC 17608  262.3750          NaN
 36   female  22.0000      0      1       113505   55.0000          E33
 37     male      NaN      0      0       111427   26.5500          NaN
 38     male  41.0000      0      0       113054   30.5000          A21
 39     male  48.0000      0      0     PC 17591   50.4958          B10
 40     male      NaN      0      0       112379   39.6000          NaN
 41   female  44.0000      0      0     PC 17610   27.7208           B4
 42   female  59.0000      2      0        11769   51.4792         C101
 43   female  60.0000      0      0        11813   76.2917          D15
 44   female  41.0000      0      0        16966  134.5000          E40
 45     male  45.0000      0      0       113050   26.5500          B38
 46     male      NaN      0      0       113798   31.0000          NaN
 47     male  42.0000      0      0     PC 17476   26.2875          E24
 48   female  53.0000      0      0     PC 17606   27.4458          NaN
 49     male  36.0000      0      1     PC 17755  512.3292  B51 B53 B55
 50   female  58.0000      0      1     PC 17755  512.3292  B51 B53 B55
 51     male  33.0000      0      0          695    5.0000  B51 B53 B55
 52     male  28.0000      0      0       113059   47.1000          NaN
 53     male  17.0000      0      0       113059   47.1000          NaN
 54     male  11.0000      1      2       113760  120.0000      B96 B98
 55   female  14.0000      1      2       113760  120.0000      B96 B98
 56     male  36.0000      1      2       113760  120.0000      B96 B98
 57   female  36.0000      1      2       113760  120.0000      B96 B98
 58     male  49.0000      0      0        19924   26.0000          NaN
 59   female      NaN      0      0        17770   27.7208          NaN
 60     male  36.0000      1      0        19877   78.8500          C46
 61   female  76.0000      1      0        19877   78.8500          C46
 62     male  46.0000      1      0  W.E.P. 5734   61.1750          E31
 63   female  47.0000      1      0  W.E.P. 5734   61.1750          E31
 64     male  27.0000      1      0       113806   53.1000           E8
 65   female  33.0000      1      0       113806   53.1000           E8
 66   female  36.0000      0      0     PC 17608  262.3750          B61
 67   female  30.0000      0      0       110152   86.5000          B77
 68     male  45.0000      0      0     PC 17594   29.7000           A9
 69   female      NaN      0      1       113505   55.0000          E33
 70     male      NaN      0      0       112051    0.0000          NaN
 71     male  27.0000      1      0        13508  136.7792          C89
 72   female  26.0000      1      0        13508  136.7792          C89
 73   female  22.0000      0      0       113781  151.5500          NaN
 74     male      NaN      0      0       110465   52.0000          A14
 75     male  47.0000      0      0         5727   25.5875          E58
 76   female  39.0000      1      1     PC 17756   83.1583          E49
 77     male  37.0000      1      1     PC 17756   83.1583          E52
 78   female  64.0000      0      2     PC 17756   83.1583          E45
 79   female  55.0000      2      0        11770   25.7000         C101
 80     male      NaN      0      0       113791   26.5500          NaN
 81     male  70.0000      1      1    WE/P 5735   71.0000          B22
 82   female  36.0000      0      2    WE/P 5735   71.0000          B22
 83   female  64.0000      1      1       112901   26.5500          B26
 84     male  39.0000      1      0     PC 17599   71.2833          C85
 85   female  38.0000      1      0     PC 17599   71.2833          C85
 86     male  51.0000      0      0       113055   26.5500          E17
 87     male  27.0000      0      0       113804   30.5000          NaN
 88   female  33.0000      0      0       113781  151.5500          NaN
 89     male  31.0000      1      0   F.C. 12750   52.0000          B71
 90   female  27.0000      1      2   F.C. 12750   52.0000          B71
 91     male  31.0000      1      0        17474   57.0000          B20
 92   female  17.0000      1      0        17474   57.0000          B20
 93     male  53.0000      1      1        33638   81.8583          A34
 94     male   4.0000      0      2        33638   81.8583          A34
 95   female  54.0000      1      1        33638   81.8583          A34
 96     male  50.0000      1      0     PC 17761  106.4250          C86
 97   female  27.0000      1      1     PC 17558  247.5208      B58 B60
 98   female  48.0000      1      0     PC 17761  106.4250          C86
 99   female  48.0000      1      0        11755   39.6000          A16
 100    male  49.0000      1      0     PC 17485   56.9292          A20
 101    male  39.0000      0      0     PC 17580   29.7000          A18
 102  female  23.0000      0      1        11767   83.1583          C54
 103  female  38.0000      0      0     PC 17757  227.5250          C45
 104  female  54.0000      1      0        36947   78.2667          D20
 105  female  36.0000      0      0     PC 17531   31.6792          A29
 106    male      NaN      0      0     PC 17483  221.7792          C95
 107  female      NaN      0      0     PC 17598   31.6833          NaN
 108  female      NaN      0      0        17421  110.8833          NaN
 109    male  36.0000      0      0     PC 17474   26.3875          E25
 110    male  30.0000      0      0       113051   27.7500         C111
 111  female  24.0000      3      2        19950  263.0000  C23 C25 C27
 112  female  28.0000      3      2        19950  263.0000  C23 C25 C27
 113  female  23.0000      3      2        19950  263.0000  C23 C25 C27
 114    male  19.0000      3      2        19950  263.0000  C23 C25 C27
 115    male  64.0000      1      4        19950  263.0000  C23 C25 C27
 116  female  60.0000      1      4        19950  263.0000  C23 C25 C27
 117  female  30.0000      0      0     PC 17485   56.9292          E36
 118    male      NaN      0      0       113778   26.5500          D34
 119    male  50.0000      2      0     PC 17611  133.6500          NaN
 120    male  43.0000      1      0        17765   27.7208          D40
 121  female      NaN      1      0     PC 17611  133.6500          NaN
 122  female  22.0000      0      2        13568   49.5000          B39
 123    male  60.0000      1      1        13567   79.2000          B41
 124  female  48.0000      1      1        13567   79.2000          B41
 125    male      NaN      0      0       112058    0.0000         B102
 126    male  37.0000      1      0       113803   53.1000         C123
 127  female  35.0000      1      0       113803   53.1000         C123
 128    male  47.0000      0      0       111320   38.5000          E63
 129  female  35.0000      0      0       113503  211.5000         C130
 130  female  22.0000      0      1       112378   59.4000          NaN

     embarked boat  body                                       home.dest
 0          S    2   NaN                                    St Louis, MO
 1          S   11   NaN                 Montreal, PQ / Chesterville, ON
 2          S  NaN   NaN                 Montreal, PQ / Chesterville, ON
 3          S  NaN   135                 Montreal, PQ / Chesterville, ON
 4          S  NaN   NaN                 Montreal, PQ / Chesterville, ON
 5          S    3   NaN                                    New York, NY
 6          S   10   NaN                                      Hudson, NY
 7          S  NaN   NaN                                     Belfast, NI

##Homework 2.4

b. Provide an simple analysis of the data using a pandas dataframe

In [159]:
Survivalcount =mn[mn['survived'] == 1]  # survival count in Titanic
Survivalcount.count()

pclass       500
survived     500
name         500
sex          500
age          427
sibsp        500
parch        500
ticket       500
fare         500
cabin        193
embarked     498
boat         477
body           0
home.dest    347
dtype: int64

##Homework 2.4

c. Provide an simple manipulation by transferring you data to an numbpy array and then  slicing your input into 10 ~equal arrays.

In [208]:
array1=mn[0:130]  #subarray1
array1

     pclass  survived                                               name  \
0         1         1                      Allen, Miss. Elisabeth Walton
1         1         1                     Allison, Master. Hudson Trevor
2         1         0                       Allison, Miss. Helen Loraine
3         1         0               Allison, Mr. Hudson Joshua Creighton
4         1         0    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
5         1         1                                Anderson, Mr. Harry
6         1         1                  Andrews, Miss. Kornelia Theodosia
7         1         0                             Andrews, Mr. Thomas Jr
8         1         1      Appleton, Mrs. Edward Dale (Charlotte Lamson)
9         1         0                            Artagaveytia, Mr. Ramon
10        1         0                             Astor, Col. John Jacob
11        1         1  Astor, Mrs. John Jacob (Madeleine Talmadge Force)
12        1         1                      Aubart, Mme. Leontine Pauline
13        1         1                       Barber, Miss. Ellen "Nellie"
14        1         1               Barkworth, Mr. Algernon Henry Wilson
15        1         0                                Baumann, Mr. John D
16        1         0                           Baxter, Mr. Quigg Edmond
17        1         1    Baxter, Mrs. James (Helene DeLaudeniere Chaput)
18        1         1                              Bazzani, Miss. Albina
19        1         0                               Beattie, Mr. Thomson
20        1         1                      Beckwith, Mr. Richard Leonard
21        1         1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
22        1         1                              Behr, Mr. Karl Howell
23        1         1                              Bidois, Miss. Rosalie
24        1         1                                  Bird, Miss. Ellen
25        1         0                                Birnbaum, Mr. Jakob
26        1         1                            Bishop, Mr. Dickinson H
27        1         1            Bishop, Mrs. Dickinson H (Helen Walton)
28        1         1                             Bissette, Miss. Amelia
29        1         1          Bjornstrom-Steffansson, Mr. Mauritz Hakan
30        1         0                       Blackwell, Mr. Stephen Weart
31        1         1                                   Blank, Mr. Henry
32        1         1                            Bonnell, Miss. Caroline
33        1         1                           Bonnell, Miss. Elizabeth
34        1         0                           Borebank, Mr. John James
35        1         1                           Bowen, Miss. Grace Scott
36        1         1                        Bowerman, Miss. Elsie Edith
37        1         1      Bradley, Mr. George ("George Arthur Brayton")
38        1         0                            Brady, Mr. John Bertram
39        1         0                                 Brandeis, Mr. Emil
40        1         0                          Brewe, Dr. Arthur Jackson
41        1         1          Brown, Mrs. James Joseph (Margaret Tobin)
42        1         1     Brown, Mrs. John Murray (Caroline Lane Lamson)
43        1         1    Bucknell, Mrs. William Robert (Emma Eliza Ward)
44        1         1                    Burns, Miss. Elizabeth Margaret
45        1         0                  Butt, Major. Archibald Willingham
46        1         0                              Cairns, Mr. Alexander
47        1         1                  Calderhead, Mr. Edward Pennington
48        1         1   Candee, Mrs. Edward (Helen Churchill Hungerford)
49        1         1                 Cardeza, Mr. Thomas Drake Martinez
50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
51        1         0                           Carlsson, Mr. Frans Olof
52        1         0                            Carrau, Mr. Francisco M
53        1         0                             Carrau, Mr. Jose Pedro
54        1         1                Carter, Master. William Thornton II
55        1         1                          Carter, Miss. Lucile Polk
56        1         1                         Carter, Mr. William Ernest
57        1         1          Carter, Mrs. William Ernest (Lucile Polk)
58        1         0                             Case, Mr. Howard Brown
59        1         1  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...
60        1         0                      Cavendish, Mr. Tyrell William
61        1         1  Cavendish, Mrs. Tyrell William (Julia Florence...
62        1         0                        Chaffee, Mr. Herbert Fuller
63        1         1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
64        1         1                      Chambers, Mr. Norman Campbell
65        1         1     Chambers, Mrs. Norman Campbell (Bertha Griggs)
66        1         1                        Chaudanson, Miss. Victorine
67        1         1                               Cherry, Miss. Gladys
68        1         1                           Chevre, Mr. Paul Romaine
69        1         1             Chibnall, Mrs. (Edith Martha Bowerman)
70        1         0              Chisholm, Mr. Roderick Robert Crispin
71        1         0                           Clark, Mr. Walter Miller
72        1         1      Clark, Mrs. Walter Miller (Virginia McDowell)
73        1         1                               Cleaver, Miss. Alice
74        1         0                        Clifford, Mr. George Quincy
75        1         0                         Colley, Mr. Edward Pomeroy
76        1         1                        Compton, Miss. Sara Rebecca
77        1         0                   Compton, Mr. Alexander Taylor Jr
78        1         1  Compton, Mrs. Alexander Taylor (Mary Eliza Ing...
79        1         1  Cornell, Mrs. Robert Clifford (Malvina Helen L...
80        1         0                          Crafton, Mr. John Bertram
81        1         0                       Crosby, Capt. Edward Gifford
82        1         1                            Crosby, Miss. Harriet R
83        1         1  Crosby, Mrs. Edward Gifford (Catherine Elizabe...
84        1         0                          Cumings, Mr. John Bradley
85        1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
86        1         1                             Daly, Mr. Peter Denis
87        1         1                        Daniel, Mr. Robert Williams
88        1         1                               Daniels, Miss. Sarah
89        1         0                             Davidson, Mr. Thornton
90        1         1               Davidson, Mrs. Thornton (Orian Hays)
91        1         1                            Dick, Mr. Albert Adrian
92        1         1          Dick, Mrs. Albert Adrian (Vera Gillespie)
93        1         1                              Dodge, Dr. Washington
94        1         1                          Dodge, Master. Washington
95        1         1              Dodge, Mrs. Washington (Ruth Vidaver)
96        1         0                         Douglas, Mr. Walter Donald
97        1         1  Douglas, Mrs. Frederick Charles (Mary Helene B...
98        1         1        Douglas, Mrs. Walter Donald (Mahala Dutton)
99        1         1  Duff Gordon, Lady. (Lucille Christiana Sutherl...
100       1         1       Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")
101       1         0                       Dulles, Mr. William Crothers
102       1         1              Earnshaw, Mrs. Boulton (Olive Potter)
103       1         1                      Endres, Miss. Caroline Louise
104       1         1                     Eustis, Miss. Elizabeth Mussey
105       1         0                           Evans, Miss. Edith Corse
106       1         0                                 Farthing, Mr. John
107       1         1               Flegenheim, Mrs. Alfred (Antoinette)
108       1         1                            Fleming, Miss. Margaret
109       1         1                   Flynn, Mr. John Irwin ("Irving")
110       1         0                    Foreman, Mr. Benjamin Laventall
111       1         1                     Fortune, Miss. Alice Elizabeth
112       1         1                         Fortune, Miss. Ethel Flora
113       1         1                         Fortune, Miss. Mabel Helen
114       1         0                     Fortune, Mr. Charles Alexander
115       1         0                                  Fortune, Mr. Mark
116       1         1                Fortune, Mrs. Mark (Mary McDougald)
117       1         1                     Francatelli, Miss. Laura Mabel
118       1         0                        Franklin, Mr. Thomas Parham
119       1         1                      Frauenthal, Dr. Henry William
120       1         1                       Frauenthal, Mr. Isaac Gerald
121       1         1  Frauenthal, Mrs. Henry William (Clara Heinshei...
122       1         1                 Frolicher, Miss. Hedwig Margaritha
123       1         1                   Frolicher-Stehli, Mr. Maxmillian
124       1         1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
125       1         0                                   Fry, Mr. Richard
126       1         0                        Futrelle, Mr. Jacques Heath
127       1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
128       1         0                                  Gee, Mr. Arthur H
129       1         1                               Geiger, Miss. Amalie

        sex      age  sibsp  parch       ticket      fare        cabin  \
0    female  29.0000      0      0        24160  211.3375           B5
1      male   0.9167      1      2       113781  151.5500      C22 C26
2    female   2.0000      1      2       113781  151.5500      C22 C26
3      male  30.0000      1      2       113781  151.5500      C22 C26
4    female  25.0000      1      2       113781  151.5500      C22 C26
5      male  48.0000      0      0        19952   26.5500          E12
6    female  63.0000      1      0        13502   77.9583           D7
7      male  39.0000      0      0       112050    0.0000          A36
8    female  53.0000      2      0        11769   51.4792         C101
9      male  71.0000      0      0     PC 17609   49.5042          NaN
10     male  47.0000      1      0     PC 17757  227.5250      C62 C64
11   female  18.0000      1      0     PC 17757  227.5250      C62 C64
12   female  24.0000      0      0     PC 17477   69.3000          B35
13   female  26.0000      0      0        19877   78.8500          NaN
14     male  80.0000      0      0        27042   30.0000          A23
15     male      NaN      0      0     PC 17318   25.9250          NaN
16     male  24.0000      0      1     PC 17558  247.5208      B58 B60
17   female  50.0000      0      1     PC 17558  247.5208      B58 B60
18   female  32.0000      0      0        11813   76.2917          D15
19     male  36.0000      0      0        13050   75.2417           C6
20     male  37.0000      1      1        11751   52.5542          D35
21   female  47.0000      1      1        11751   52.5542          D35
22     male  26.0000      0      0       111369   30.0000         C148
23   female  42.0000      0      0     PC 17757  227.5250          NaN
24   female  29.0000      0      0     PC 17483  221.7792          C97
25     male  25.0000      0      0        13905   26.0000          NaN
26     male  25.0000      1      0        11967   91.0792          B49
27   female  19.0000      1      0        11967   91.0792          B49
28   female  35.0000      0      0     PC 17760  135.6333          C99
29     male  28.0000      0      0       110564   26.5500          C52
30     male  45.0000      0      0       113784   35.5000            T
31     male  40.0000      0      0       112277   31.0000          A31
32   female  30.0000      0      0        36928  164.8667           C7
33   female  58.0000      0      0       113783   26.5500         C103
34     male  42.0000      0      0       110489   26.5500          D22
35   female  45.0000      0      0     PC 17608  262.3750          NaN
36   female  22.0000      0      1       113505   55.0000          E33
37     male      NaN      0      0       111427   26.5500          NaN
38     male  41.0000      0      0       113054   30.5000          A21
39     male  48.0000      0      0     PC 17591   50.4958          B10
40     male      NaN      0      0       112379   39.6000          NaN
41   female  44.0000      0      0     PC 17610   27.7208           B4
42   female  59.0000      2      0        11769   51.4792         C101
43   female  60.0000      0      0        11813   76.2917          D15
44   female  41.0000      0      0        16966  134.5000          E40
45     male  45.0000      0      0       113050   26.5500          B38
46     male      NaN      0      0       113798   31.0000          NaN
47     male  42.0000      0      0     PC 17476   26.2875          E24
48   female  53.0000      0      0     PC 17606   27.4458          NaN
49     male  36.0000      0      1     PC 17755  512.3292  B51 B53 B55
50   female  58.0000      0      1     PC 17755  512.3292  B51 B53 B55
51     male  33.0000      0      0          695    5.0000  B51 B53 B55
52     male  28.0000      0      0       113059   47.1000          NaN
53     male  17.0000      0      0       113059   47.1000          NaN
54     male  11.0000      1      2       113760  120.0000      B96 B98
55   female  14.0000      1      2       113760  120.0000      B96 B98
56     male  36.0000      1      2       113760  120.0000      B96 B98
57   female  36.0000      1      2       113760  120.0000      B96 B98
58     male  49.0000      0      0        19924   26.0000          NaN
59   female      NaN      0      0        17770   27.7208          NaN
60     male  36.0000      1      0        19877   78.8500          C46
61   female  76.0000      1      0        19877   78.8500          C46
62     male  46.0000      1      0  W.E.P. 5734   61.1750          E31
63   female  47.0000      1      0  W.E.P. 5734   61.1750          E31
64     male  27.0000      1      0       113806   53.1000           E8
65   female  33.0000      1      0       113806   53.1000           E8
66   female  36.0000      0      0     PC 17608  262.3750          B61
67   female  30.0000      0      0       110152   86.5000          B77
68     male  45.0000      0      0     PC 17594   29.7000           A9
69   female      NaN      0      1       113505   55.0000          E33
70     male      NaN      0      0       112051    0.0000          NaN
71     male  27.0000      1      0        13508  136.7792          C89
72   female  26.0000      1      0        13508  136.7792          C89
73   female  22.0000      0      0       113781  151.5500          NaN
74     male      NaN      0      0       110465   52.0000          A14
75     male  47.0000      0      0         5727   25.5875          E58
76   female  39.0000      1      1     PC 17756   83.1583          E49
77     male  37.0000      1      1     PC 17756   83.1583          E52
78   female  64.0000      0      2     PC 17756   83.1583          E45
79   female  55.0000      2      0        11770   25.7000         C101
80     male      NaN      0      0       113791   26.5500          NaN
81     male  70.0000      1      1    WE/P 5735   71.0000          B22
82   female  36.0000      0      2    WE/P 5735   71.0000          B22
83   female  64.0000      1      1       112901   26.5500          B26
84     male  39.0000      1      0     PC 17599   71.2833          C85
85   female  38.0000      1      0     PC 17599   71.2833          C85
86     male  51.0000      0      0       113055   26.5500          E17
87     male  27.0000      0      0       113804   30.5000          NaN
88   female  33.0000      0      0       113781  151.5500          NaN
89     male  31.0000      1      0   F.C. 12750   52.0000          B71
90   female  27.0000      1      2   F.C. 12750   52.0000          B71
91     male  31.0000      1      0        17474   57.0000          B20
92   female  17.0000      1      0        17474   57.0000          B20
93     male  53.0000      1      1        33638   81.8583          A34
94     male   4.0000      0      2        33638   81.8583          A34
95   female  54.0000      1      1        33638   81.8583          A34
96     male  50.0000      1      0     PC 17761  106.4250          C86
97   female  27.0000      1      1     PC 17558  247.5208      B58 B60
98   female  48.0000      1      0     PC 17761  106.4250          C86
99   female  48.0000      1      0        11755   39.6000          A16
100    male  49.0000      1      0     PC 17485   56.9292          A20
101    male  39.0000      0      0     PC 17580   29.7000          A18
102  female  23.0000      0      1        11767   83.1583          C54
103  female  38.0000      0      0     PC 17757  227.5250          C45
104  female  54.0000      1      0        36947   78.2667          D20
105  female  36.0000      0      0     PC 17531   31.6792          A29
106    male      NaN      0      0     PC 17483  221.7792          C95
107  female      NaN      0      0     PC 17598   31.6833          NaN
108  female      NaN      0      0        17421  110.8833          NaN
109    male  36.0000      0      0     PC 17474   26.3875          E25
110    male  30.0000      0      0       113051   27.7500         C111
111  female  24.0000      3      2        19950  263.0000  C23 C25 C27
112  female  28.0000      3      2        19950  263.0000  C23 C25 C27
113  female  23.0000      3      2        19950  263.0000  C23 C25 C27
114    male  19.0000      3      2        19950  263.0000  C23 C25 C27
115    male  64.0000      1      4        19950  263.0000  C23 C25 C27
116  female  60.0000      1      4        19950  263.0000  C23 C25 C27
117  female  30.0000      0      0     PC 17485   56.9292          E36
118    male      NaN      0      0       113778   26.5500          D34
119    male  50.0000      2      0     PC 17611  133.6500          NaN
120    male  43.0000      1      0        17765   27.7208          D40
121  female      NaN      1      0     PC 17611  133.6500          NaN
122  female  22.0000      0      2        13568   49.5000          B39
123    male  60.0000      1      1        13567   79.2000          B41
124  female  48.0000      1      1        13567   79.2000          B41
125    male      NaN      0      0       112058    0.0000         B102
126    male  37.0000      1      0       113803   53.1000         C123
127  female  35.0000      1      0       113803   53.1000         C123
128    male  47.0000      0      0       111320   38.5000          E63
129  female  35.0000      0      0       113503  211.5000         C130

    embarked boat  body                                       home.dest
0          S    2   NaN                                    St Louis, MO
1          S   11   NaN                 Montreal, PQ / Chesterville, ON
2          S  NaN   NaN                 Montreal, PQ / Chesterville, ON
3          S  NaN   135                 Montreal, PQ / Chesterville, ON
4          S  NaN   NaN                 Montreal, PQ / Chesterville, ON
5          S    3   NaN                                    New York, NY
6          S   10   NaN                                      Hudson, NY
7          S  NaN   NaN                                     Belfast, NI
8          S    D   NaN                             Bayside, Queens, NY
9          C  NaN    22                             Montevideo, Uruguay
10         C  NaN   124                                    New York, NY
11         C    4   NaN                                    New York, NY
12         C    9   NaN                                   Paris, France
13         S    6   NaN                                             NaN

In [209]:
array2=mn[130:260] #subarray2
array2

     pclass  survived                                               name  \
130       1         1                     Gibson, Miss. Dorothy Winifred
131       1         1            Gibson, Mrs. Leonard (Pauline C Boeson)
132       1         0                                 Giglio, Mr. Victor
133       1         1                           Goldenberg, Mr. Samuel L
134       1         1       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
135       1         0                          Goldschmidt, Mr. George B
136       1         1                          Gracie, Col. Archibald IV
137       1         1                       Graham, Miss. Margaret Edith
138       1         0                          Graham, Mr. George Edward
139       1         1      Graham, Mrs. William Thompson (Edith Junkins)
140       1         1                    Greenfield, Mr. William Bertram
141       1         1       Greenfield, Mrs. Leo David (Blanche Strouse)
142       1         0                           Guggenheim, Mr. Benjamin
143       1         1                        Harder, Mr. George Achilles
144       1         1       Harder, Mrs. George Achilles (Dorothy Annan)
145       1         1                          Harper, Mr. Henry Sleeper
146       1         1           Harper, Mrs. Henry Sleeper (Myna Haxtun)
147       1         0                          Harrington, Mr. Charles H
148       1         0                        Harris, Mr. Henry Birkhardt
149       1         1       Harris, Mrs. Henry Birkhardt (Irene Wallach)
150       1         0                              Harrison, Mr. William
151       1         1                                 Hassab, Mr. Hammad
152       1         1                        Hawksford, Mr. Walter James
153       1         1                     Hays, Miss. Margaret Bechstein
154       1         0                         Hays, Mr. Charles Melville
155       1         1  Hays, Mrs. Charles Melville (Clara Jennings Gr...
156       1         0                              Head, Mr. Christopher
157       1         0                        Hilliard, Mr. Herbert Henry
158       1         0                        Hipkins, Mr. William Edward
159       1         1                       Hippach, Miss. Jean Gertrude
160       1         1    Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
161       1         1               Hogeboom, Mrs. John C (Anna Andrews)
162       1         0                     Holverson, Mr. Alexander Oskar
163       1         1  Holverson, Mrs. Alexander Oskar (Mary Aline To...
164       1         1                    Homer, Mr. Harry ("Mr E Haven")
165       1         1                       Hoyt, Mr. Frederick Maxfield
166       1         0                           Hoyt, Mr. William Fisher
167       1         1    Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
168       1         1                                Icard, Miss. Amelie
169       1         0                         Isham, Miss. Ann Elizabeth
170       1         1                            Ismay, Mr. Joseph Bruce
171       1         0                         Jones, Mr. Charles Cresson
172       1         0                           Julian, Mr. Henry Forbes
173       1         0                                 Keeping, Mr. Edwin
174       1         0                            Kent, Mr. Edward Austin
175       1         0                            Kenyon, Mr. Frederick R
176       1         1                  Kenyon, Mrs. Frederick R (Marion)
177       1         1                       Kimball, Mr. Edwin Nelson Jr
178       1         1   Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
179       1         0                                 Klaber, Mr. Herman
180       1         1                             Kreuchen, Miss. Emilie
181       1         1                        Leader, Dr. Alice (Farnham)
182       1         1                                LeRoy, Miss. Bertha
183       1         1                             Lesurer, Mr. Gustave J
184       1         0                                  Lewy, Mr. Ervin G
185       1         0  Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Li...
186       1         1          Lindstrom, Mrs. Carl Johan (Sigrid Posse)
187       1         1                          Lines, Miss. Mary Conover
188       1         1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
189       1         0                             Long, Mr. Milton Clyde
190       1         1                      Longley, Miss. Gretchen Fiske
191       1         0                         Loring, Mr. Joseph Holland
192       1         1                               Lurette, Miss. Elise
193       1         1                  Madill, Miss. Georgette Alexandra
194       1         0                           Maguire, Mr. John Edward
195       1         1                              Maioni, Miss. Roberta
196       1         1                               Marechal, Mr. Pierre
197       1         0                          Marvin, Mr. Daniel Warner
198       1         1  Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
199       1         1   Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
200       1         0                       McCaffry, Mr. Thomas Francis
201       1         0                            McCarthy, Mr. Timothy J
202       1         1                          McGough, Mr. James Robert
203       1         0                            Meyer, Mr. Edgar Joseph
204       1         1              Meyer, Mrs. Edgar Joseph (Leila Saks)
205       1         0                          Millet, Mr. Francis Davis
206       1         0                        Minahan, Dr. William Edward
207       1         1                             Minahan, Miss. Daisy E
208       1         1    Minahan, Mrs. William Edward (Lillian E Thorpe)
209       1         1                           Mock, Mr. Philipp Edmund
210       1         0                         Molson, Mr. Harry Markland
211       1         0                     Moore, Mr. Clarence Bloomfield
212       1         0                              Natsch, Mr. Charles H
213       1         1                            Newell, Miss. Madeleine
214       1         1                             Newell, Miss. Marjorie
215       1         0                         Newell, Mr. Arthur Webster
216       1         1                       Newsom, Miss. Helen Monypeny
217       1         0                       Nicholson, Mr. Arthur Ernest
218       1         1                       Oliva y Ocana, Dona. Fermina
219       1         1                          Omont, Mr. Alfred Fernand
220       1         1                       Ostby, Miss. Helene Ragnhild
221       1         0                     Ostby, Mr. Engelhart Cornelius
222       1         0                    Ovies y Rodriguez, Mr. Servando
223       1         0                      Parr, Mr. William Henry Marsh
224       1         0                                Partner, Mr. Austen
225       1         0                         Payne, Mr. Vivian Ponsonby
226       1         0                          Pears, Mr. Thomas Clinton
227       1         1                  Pears, Mrs. Thomas (Edith Wearne)
228       1         0         Penasco y Castellana, Mr. Victor de Satode
229       1         1  Penasco y Castellana, Mrs. Victor de Satode (M...
230       1         1                              Perreault, Miss. Anne
231       1         1                     Peuchen, Major. Arthur Godfrey
232       1         0                     Porter, Mr. Walter Chamberlain
233       1         1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
234       1         0                    Reuchlin, Jonkheer. John George
235       1         1                Rheims, Mr. George Alexander Lucien
236       1         0                                Ringhini, Mr. Sante
237       1         0                                Robbins, Mr. Victor
238       1         1  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
239       1         0               Roebling, Mr. Washington Augustus II
240       1         1      Romaine, Mr. Charles Hallace ("Mr C Rolmane")
241       1         0                              Rood, Mr. Hugh Roscoe
242       1         1                      Rosenbaum, Miss. Edith Louise
243       1         0        Rosenshine, Mr. George ("Mr George Thorne")
244       1         0                                Ross, Mr. John Hugo
245       1         1  Rothes, the Countess. of (Lucy Noel Martha Dye...
246       1         0                             Rothschild, Mr. Martin
247       1         1     Rothschild, Mrs. Martin (Elizabeth L. Barrett)
248       1         0                                 Rowe, Mr. Alfred G
249       1         1                        Ryerson, Master. John Borie
250       1         1                         Ryerson, Miss. Emily Borie
251       1         1              Ryerson, Miss. Susan Parker "Suzette"
252       1         0                         Ryerson, Mr. Arthur Larned
253       1         1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
254       1         1                              Saalfeld, Mr. Adolphe
255       1         1                               Sagesser, Mlle. Emma
256       1         1                             Salomon, Mr. Abraham L
257       1         1                    Schabert, Mrs. Paul (Emma Mock)
258       1         1                            Serepeca, Miss. Augusta
259       1         1                        Seward, Mr. Frederic Kimber

        sex   age  sibsp  parch      ticket      fare            cabin  \
130  female  22.0      0      1      112378   59.4000              NaN
131  female  45.0      0      1      112378   59.4000              NaN
132    male  24.0      0      0    PC 17593   79.2000              B86
133    male  49.0      1      0       17453   89.1042              C92
134  female   NaN      1      0       17453   89.1042              C92
135    male  71.0      0      0    PC 17754   34.6542               A5
136    male  53.0      0      0      113780   28.5000              C51
137  female  19.0      0      0      112053   30.0000              B42
138    male  38.0      0      1    PC 17582  153.4625              C91
139  female  58.0      0      1    PC 17582  153.4625             C125
140    male  23.0      0      1    PC 17759   63.3583          D10 D12
141  female  45.0      0      1    PC 17759   63.3583          D10 D12
142    male  46.0      0      0    PC 17593   79.2000          B82 B84
143    male  25.0      1      0       11765   55.4417              E50
144  female  25.0      1      0       11765   55.4417              E50
145    male  48.0      1      0    PC 17572   76.7292              D33
146  female  49.0      1      0    PC 17572   76.7292              D33
147    male   NaN      0      0      113796   42.4000              NaN
148    male  45.0      1      0       36973   83.4750              C83
149  female  35.0      1      0       36973   83.4750              C83
150    male  40.0      0      0      112059    0.0000              B94
151    male  27.0      0      0    PC 17572   76.7292              D49
152    male   NaN      0      0       16988   30.0000              D45
153  female  24.0      0      0       11767   83.1583              C54
154    male  55.0      1      1       12749   93.5000              B69
155  female  52.0      1      1       12749   93.5000              B69
156    male  42.0      0      0      113038   42.5000              B11
157    male   NaN      0      0       17463   51.8625              E46
158    male  55.0      0      0         680   50.0000              C39
159  female  16.0      0      1      111361   57.9792              B18
160  female  44.0      0      1      111361   57.9792              B18
161  female  51.0      1      0       13502   77.9583              D11
162    male  42.0      1      0      113789   52.0000              NaN
163  female  35.0      1      0      113789   52.0000              NaN
164    male  35.0      0      0      111426   26.5500              NaN
165    male  38.0      1      0       19943   90.0000              C93
166    male   NaN      0      0    PC 17600   30.6958              NaN
167  female  35.0      1      0       19943   90.0000              C93
168  female  38.0      0      0      113572   80.0000              B28
169  female  50.0      0      0    PC 17595   28.7125              C49
170    male  49.0      0      0      112058    0.0000      B52 B54 B56
171    male  46.0      0      0         694   26.0000              NaN
172    male  50.0      0      0      113044   26.0000              E60
173    male  32.5      0      0      113503  211.5000             C132
174    male  58.0      0      0       11771   29.7000              B37
175    male  41.0      1      0       17464   51.8625              D21
176  female   NaN      1      0       17464   51.8625              D21
177    male  42.0      1      0       11753   52.5542              D19
178  female  45.0      1      0       11753   52.5542              D19
179    male   NaN      0      0      113028   26.5500             C124
180  female  39.0      0      0       24160  211.3375              NaN
181  female  49.0      0      0       17465   25.9292              D17
182  female  30.0      0      0    PC 17761  106.4250              NaN
183    male  35.0      0      0    PC 17755  512.3292             B101
184    male   NaN      0      0    PC 17612   27.7208              NaN
185    male  42.0      0      0       17475   26.5500              NaN
186  female  55.0      0      0      112377   27.7208              NaN
187  female  16.0      0      1    PC 17592   39.4000              D28
188  female  51.0      0      1    PC 17592   39.4000              D28
189    male  29.0      0      0      113501   30.0000               D6
190  female  21.0      0      0       13502   77.9583               D9
191    male  30.0      0      0      113801   45.5000              NaN
192  female  58.0      0      0    PC 17569  146.5208              B80
193  female  15.0      0      1       24160  211.3375               B5
194    male  30.0      0      0      110469   26.0000             C106
195  female  16.0      0      0      110152   86.5000              B79
196    male   NaN      0      0       11774   29.7000              C47
197    male  19.0      1      0      113773   53.1000              D30
198  female  18.0      1      0      113773   53.1000              D30
199  female  24.0      0      0    PC 17482   49.5042              C90
200    male  46.0      0      0       13050   75.2417               C6
201    male  54.0      0      0       17463   51.8625              E46
202    male  36.0      0      0    PC 17473   26.2875              E25
203    male  28.0      1      0    PC 17604   82.1708              NaN
204  female   NaN      1      0    PC 17604   82.1708              NaN
205    male  65.0      0      0       13509   26.5500              E38
206    male  44.0      2      0       19928   90.0000              C78
207  female  33.0      1      0       19928   90.0000              C78
208  female  37.0      1      0       19928   90.0000              C78
209    male  30.0      1      0       13236   57.7500              C78
210    male  55.0      0      0      113787   30.5000              C30
211    male  47.0      0      0      113796   42.4000              NaN
212    male  37.0      0      1    PC 17596   29.7000             C118
213  female  31.0      1      0       35273  113.2750              D36
214  female  23.0      1      0       35273  113.2750              D36
215    male  58.0      0      2       35273  113.2750              D48
216  female  19.0      0      2       11752   26.2833              D47
217    male  64.0      0      0         693   26.0000              NaN
218  female  39.0      0      0    PC 17758  108.9000             C105
219    male   NaN      0      0  F.C. 12998   25.7417              NaN
220  female  22.0      0      1      113509   61.9792              B36
221    male  65.0      0      1      113509   61.9792              B30
222    male  28.5      0      0    PC 17562   27.7208              D43
223    male   NaN      0      0      112052    0.0000              NaN
224    male  45.5      0      0      113043   28.5000             C124
225    male  23.0      0      0       12749   93.5000              B24
226    male  29.0      1      0      113776   66.6000               C2
227  female  22.0      1      0      113776   66.6000               C2
228    male  18.0      1      0    PC 17758  108.9000              C65
229  female  17.0      1      0    PC 17758  108.9000              C65
230  female  30.0      0      0       12749   93.5000              B73
231    male  52.0      0      0      113786   30.5000             C104
232    male  47.0      0      0      110465   52.0000             C110
233  female  56.0      0      1       11767   83.1583              C50
234    male  38.0      0      0       19972    0.0000              NaN
235    male   NaN      0      0    PC 17607   39.6000              NaN
236    male  22.0      0      0    PC 17760  135.6333              NaN
237    male   NaN      0      0    PC 17757  227.5250              NaN
238  female  43.0      0      1       24160  211.3375               B3
239    male  31.0      0      0    PC 17590   50.4958              A24
240    male  45.0      0      0      111428   26.5500              NaN
241    male   NaN      0      0      113767   50.0000              A32
242  female  33.0      0      0    PC 17613   27.7208              A11
243    male  46.0      0      0    PC 17585   79.2000              NaN
244    male  36.0      0      0       13049   40.1250              A10
245  female  33.0      0      0      110152   86.5000              B77
246    male  55.0      1      0    PC 17603   59.4000              NaN
247  female  54.0      1      0    PC 17603   59.4000              NaN
248    male  33.0      0      0      113790   26.5500              NaN
249    male  13.0      2      2    PC 17608  262.3750  B57 B59 B63 B66
250  female  18.0      2      2    PC 17608  262.3750  B57 B59 B63 B66
251  female  21.0      2      2    PC 17608  262.3750  B57 B59 B63 B66
252    male  61.0      1      3    PC 17608  262.3750  B57 B59 B63 B66
253  female  48.0      1      3    PC 17608  262.3750  B57 B59 B63 B66
254    male   NaN      0      0       19988   30.5000             C106
255  female  24.0      0      0    PC 17477   69.3000              B35
256    male   NaN      0      0      111163   26.0000              NaN
257  female  35.0      1      0       13236   57.7500              C28
258  female  30.0      0      0      113798   31.0000              NaN
259    male  34.0      0      0      113794   26.5500              NaN

    embarked boat  body                        home.dest
130        C    7   NaN                     New York, NY
131        C    7   NaN                     New York, NY
132        C  NaN   NaN                              NaN
133        C    5   NaN     Paris, France / New York, NY
134        C    5   NaN     Paris, France / New York, NY
135        C  NaN   NaN                     New York, NY
136        C    B   NaN                   Washington, DC
137        S    3   NaN                    Greenwich, CT
138        S  NaN   147                     Winnipeg, MB
139        S    3   NaN                    Greenwich, CT
140        C    7   NaN                     New York, NY
141        C    7   NaN                     New York, NY
142        C  NaN   NaN                     New York, NY
143        C    5   NaN                     Brooklyn, NY
144        C    5   NaN                     Brooklyn, NY
145        C    3   NaN                     New York, NY
146        C    3   NaN                     New York, NY
147        S  NaN   NaN                              NaN

In [213]:
array3=mn[260:390] #subarray3
array3

     pclass  survived                                               name  \
260       1         1                          Shutes, Miss. Elizabeth W
261       1         1                   Silverthorne, Mr. Spencer Victor
262       1         0                          Silvey, Mr. William Baird
263       1         1          Silvey, Mrs. William Baird (Alice Munger)
264       1         1                Simonius-Blumer, Col. Oberst Alfons
265       1         1                       Sloper, Mr. William Thompson
266       1         0                         Smart, Mr. John Montgomery
267       1         0                            Smith, Mr. James Clinch
268       1         0                           Smith, Mr. Lucien Philip
269       1         0                         Smith, Mr. Richard William
270       1         1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
271       1         1                         Snyder, Mr. John Pillsbury
272       1         1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
273       1         1                    Spedden, Master. Robert Douglas
274       1         1                       Spedden, Mr. Frederic Oakley
275       1         1  Spedden, Mrs. Frederic Oakley (Margaretta Corn...
276       1         0                      Spencer, Mr. William Augustus
277       1         1     Spencer, Mrs. William Augustus (Marie Eugenie)
278       1         1                          Stahelin-Maeglin, Dr. Max
279       1         0                          Stead, Mr. William Thomas
280       1         1                    Stengel, Mr. Charles Emil Henry
281       1         1  Stengel, Mrs. Charles Emil Henry (Annie May Mo...
282       1         1    Stephenson, Mrs. Walter Bertram (Martha Eustis)
283       1         0                              Stewart, Mr. Albert A
284       1         1          Stone, Mrs. George Nelson (Martha Evelyn)
285       1         0                                 Straus, Mr. Isidor
286       1         0             Straus, Mrs. Isidor (Rosalie Ida Blun)
287       1         0                              Sutton, Mr. Frederick
288       1         1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
289       1         1                                Taussig, Miss. Ruth
290       1         0                                  Taussig, Mr. Emil
291       1         1             Taussig, Mrs. Emil (Tillie Mandelbaum)
292       1         1                           Taylor, Mr. Elmer Zebley
293       1         1  Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
294       1         0                           Thayer, Mr. John Borland
295       1         1                        Thayer, Mr. John Borland Jr
296       1         1  Thayer, Mrs. John Borland (Marian Longstreth M...
297       1         1                     Thorne, Mrs. Gertrude Maybelle
298       1         1                    Tucker, Mr. Gilbert Milligan Jr
299       1         0                           Uruchurtu, Don. Manuel E
300       1         0                          Van der hoef, Mr. Wyckoff
301       1         0                       Walker, Mr. William Anderson
302       1         1                                   Ward, Miss. Anna
303       1         0                           Warren, Mr. Frank Manley
304       1         1   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
305       1         0                                    Weir, Col. John
306       1         0                        White, Mr. Percival Wayland
307       1         0                          White, Mr. Richard Frasar
308       1         1              White, Mrs. John Stuart (Ella Holmes)
309       1         1                           Wick, Miss. Mary Natalie
310       1         0                           Wick, Mr. George Dennick
311       1         1         Wick, Mrs. George Dennick (Mary Hitchcock)
312       1         0                         Widener, Mr. George Dunton
313       1         0                          Widener, Mr. Harry Elkins
314       1         1       Widener, Mrs. George Dunton (Eleanor Elkins)
315       1         1                           Willard, Miss. Constance
316       1         0                        Williams, Mr. Charles Duane
317       1         1                    Williams, Mr. Richard Norris II
318       1         0             Williams-Lambert, Mr. Fletcher Fellows
319       1         1                          Wilson, Miss. Helen Alice
320       1         1                                  Woolner, Mr. Hugh
321       1         0                                 Wright, Mr. George
322       1         1                           Young, Miss. Marie Grice
323       2         0                                Abelson, Mr. Samuel
324       2         1              Abelson, Mrs. Samuel (Hannah Wizosky)
325       2         0                     Aldworth, Mr. Charles Augustus
326       2         0                         Andrew, Mr. Edgardo Samuel
327       2         0                           Andrew, Mr. Frank Thomas
328       2         0                               Angle, Mr. William A
329       2         1  Angle, Mrs. William A (Florence "Mary" Agnes H...
330       2         0                                    Ashby, Mr. John
331       2         0                           Bailey, Mr. Percy Andrew
332       2         0                     Baimbrigge, Mr. Charles Robert
333       2         1                            Ball, Mrs. (Ada E Hall)
334       2         0                      Banfield, Mr. Frederick James
335       2         0                         Bateman, Rev. Robert James
336       2         1                                  Beane, Mr. Edward
337       2         1                  Beane, Mrs. Edward (Ethel Clarke)
338       2         0                         Beauchamp, Mr. Henry James
339       2         1                          Becker, Master. Richard F
340       2         1                        Becker, Miss. Marion Louise
341       2         1                       Becker, Miss. Ruth Elizabeth
342       2         1   Becker, Mrs. Allen Oliver (Nellie E Baumgardner)
343       2         1                              Beesley, Mr. Lawrence
344       2         1                            Bentham, Miss. Lilian W
345       2         0                         Berriman, Mr. William John
346       2         0                         Botsford, Mr. William Hull
347       2         0                               Bowenur, Mr. Solomon
348       2         0                               Bracken, Mr. James H
349       2         1                      Brown, Miss. Amelia "Mildred"
350       2         1                          Brown, Miss. Edith Eileen
351       2         0                  Brown, Mr. Thomas William Solomon
352       2         1  Brown, Mrs. Thomas William Solomon (Elizabeth ...
353       2         1                Bryhl, Miss. Dagmar Jenny Ingeborg
354       2         0                    Bryhl, Mr. Kurt Arnold Gottfrid
355       2         1                                   Buss, Miss. Kate
356       2         0                        Butler, Mr. Reginald Fenton
357       2         0                  Byles, Rev. Thomas Roussel Davids
358       2         1                           Bystrom, Mrs. (Karolina)
359       2         1                      Caldwell, Master. Alden Gates
360       2         1                       Caldwell, Mr. Albert Francis
361       2         1  Caldwell, Mrs. Albert Francis (Sylvia Mae Harb...
362       2         1                         Cameron, Miss. Clear Annie
363       2         0                              Campbell, Mr. William
364       2         0                              Carbines, Mr. William
365       2         0      Carter, Mrs. Ernest Courtenay (Lilian Hughes)
366       2         0                      Carter, Rev. Ernest Courtenay
367       2         0                         Chapman, Mr. Charles Henry
368       2         0                            Chapman, Mr. John Henry
369       2         0    Chapman, Mrs. John Henry (Sara Elizabeth Lawry)
370       2         1                        Christy, Miss. Julie Rachel
371       2         1                      Christy, Mrs. (Alice Frances)
372       2         0                      Clarke, Mr. Charles Valentine
373       2         1        Clarke, Mrs. Charles V (Ada Maria Winfield)
374       2         0                    Coleridge, Mr. Reginald Charles
375       2         0                         Collander, Mr. Erik Gustaf
376       2         1                       Collett, Mr. Sidney C Stuart
377       2         1                   Collyer, Miss. Marjorie "Lottie"
378       2         0                                Collyer, Mr. Harvey
379       2         1        Collyer, Mrs. Harvey (Charlotte Annie Tate)
380       2         1                         Cook, Mrs. (Selena Rogers)
381       2         0              Corbett, Mrs. Walter H (Irene Colvin)
382       2         0  Corey, Mrs. Percy C (Mary Phyllis Elizabeth Mi...
383       2         0                       Cotterill, Mr. Henry "Harry"
384       2         0                     Cunningham, Mr. Alfred Fleming
385       2         1                     Davies, Master. John Morgan Jr
386       2         0                          Davies, Mr. Charles Henry
387       2         1  Davies, Mrs. John Morgan (Elizabeth Agnes Mary...
388       2         1                                  Davis, Miss. Mary
389       2         0                         de Brito, Mr. Jose Joaquim

        sex      age  sibsp  parch            ticket      fare    cabin  \
260  female  40.0000      0      0          PC 17582  153.4625     C125
261    male  35.0000      0      0          PC 17475   26.2875      E24
262    male  50.0000      1      0             13507   55.9000      E44
263  female  39.0000      1      0             13507   55.9000      E44
264    male  56.0000      0      0             13213   35.5000      A26
265    male  28.0000      0      0            113788   35.5000       A6
266    male  56.0000      0      0            113792   26.5500      NaN
267    male  56.0000      0      0             17764   30.6958       A7
268    male  24.0000      1      0             13695   60.0000      C31
269    male      NaN      0      0            113056   26.0000      A19
270  female  18.0000      1      0             13695   60.0000      C31
271    male  24.0000      1      0             21228   82.2667      B45
272  female  23.0000      1      0             21228   82.2667      B45
273    male   6.0000      0      2             16966  134.5000      E34
274    male  45.0000      1      1             16966  134.5000      E34
275  female  40.0000      1      1             16966  134.5000      E34
276    male  57.0000      1      0          PC 17569  146.5208      B78
277  female      NaN      1      0          PC 17569  146.5208      B78
278    male  32.0000      0      0             13214   30.5000      B50
279    male  62.0000      0      0            113514   26.5500      C87
280    male  54.0000      1      0             11778   55.4417     C116
281  female  43.0000      1      0             11778   55.4417     C116
282  female  52.0000      1      0             36947   78.2667      D20
283    male      NaN      0      0          PC 17605   27.7208      NaN
284  female  62.0000      0      0            113572   80.0000      B28
285    male  67.0000      1      0          PC 17483  221.7792  C55 C57
286  female  63.0000      1      0          PC 17483  221.7792  C55 C57
287    male  61.0000      0      0             36963   32.3208      D50
288  female  48.0000      0      0             17466   25.9292      D17
289  female  18.0000      0      2            110413   79.6500      E68
290    male  52.0000      1      1            110413   79.6500      E67
291  female  39.0000      1      1            110413   79.6500      E67
292    male  48.0000      1      0             19996   52.0000     C126
293  female      NaN      1      0             19996   52.0000     C126
294    male  49.0000      1      1             17421  110.8833      C68
295    male  17.0000      0      2             17421  110.8833      C70
296  female  39.0000      1      1             17421  110.8833      C68
297  female      NaN      0      0          PC 17585   79.2000      NaN
298    male  31.0000      0      0              2543   28.5375      C53
299    male  40.0000      0      0          PC 17601   27.7208      NaN
300    male  61.0000      0      0            111240   33.5000      B19
301    male  47.0000      0      0             36967   34.0208      D46
302  female  35.0000      0      0          PC 17755  512.3292      NaN
303    male  64.0000      1      0            110813   75.2500      D37
304  female  60.0000      1      0            110813   75.2500      D37
305    male  60.0000      0      0            113800   26.5500      NaN
306    male  54.0000      0      1             35281   77.2875      D26
307    male  21.0000      0      1             35281   77.2875      D26
308  female  55.0000      0      0          PC 17760  135.6333      C32
309  female  31.0000      0      2             36928  164.8667       C7
310    male  57.0000      1      1             36928  164.8667      NaN
311  female  45.0000      1      1             36928  164.8667      NaN
312    male  50.0000      1      1            113503  211.5000      C80
313    male  27.0000      0      2            113503  211.5000      C82
314  female  50.0000      1      1            113503  211.5000      C80
315  female  21.0000      0      0            113795   26.5500      NaN
316    male  51.0000      0      1          PC 17597   61.3792      NaN
317    male  21.0000      0      1          PC 17597   61.3792      NaN
318    male      NaN      0      0            113510   35.0000     C128
319  female  31.0000      0      0             16966  134.5000  E39 E41
320    male      NaN      0      0             19947   35.5000      C52
321    male  62.0000      0      0            113807   26.5500      NaN
322  female  36.0000      0      0          PC 17760  135.6333      C32
323    male  30.0000      1      0         P/PP 3381   24.0000      NaN
324  female  28.0000      1      0         P/PP 3381   24.0000      NaN
325    male  30.0000      0      0            248744   13.0000      NaN
326    male  18.0000      0      0            231945   11.5000      NaN
327    male  25.0000      0      0        C.A. 34050   10.5000      NaN
328    male  34.0000      1      0            226875   26.0000      NaN
329  female  36.0000      1      0            226875   26.0000      NaN
330    male  57.0000      0      0            244346   13.0000      NaN
331    male  18.0000      0      0             29108   11.5000      NaN
332    male  23.0000      0      0        C.A. 31030   10.5000      NaN
333  female  36.0000      0      0             28551   13.0000        D
334    male  28.0000      0      0  C.A./SOTON 34068   10.5000      NaN
335    male  51.0000      0      0       S.O.P. 1166   12.5250      NaN
336    male  32.0000      1      0              2908   26.0000      NaN
337  female  19.0000      1      0              2908   26.0000      NaN
338    male  28.0000      0      0            244358   26.0000      NaN
339    male   1.0000      2      1            230136   39.0000       F4
340  female   4.0000      2      1            230136   39.0000       F4
341  female  12.0000      2      1            230136   39.0000       F4
342  female  36.0000      0      3            230136   39.0000       F4
343    male  34.0000      0      0            248698   13.0000      D56
344  female  19.0000      0      0             28404   13.0000      NaN
345    male  23.0000      0      0             28425   13.0000      NaN
346    male  26.0000      0      0            237670   13.0000      NaN
347    male  42.0000      0      0            211535   13.0000      NaN
348    male  27.0000      0      0            220367   13.0000      NaN
349  female  24.0000      0      0            248733   13.0000      F33
350  female  15.0000      0      2             29750   39.0000      NaN
351    male  60.0000      1      1             29750   39.0000      NaN
352  female  40.0000      1      1             29750   39.0000      NaN
353  female  20.0000      1      0            236853   26.0000      NaN
354    male  25.0000      1      0            236853   26.0000      NaN
355  female  36.0000      0      0             27849   13.0000      NaN
356    male  25.0000      0      0            234686   13.0000      NaN
357    male  42.0000      0      0            244310   13.0000      NaN
358  female  42.0000      0      0            236852   13.0000      NaN
359    male   0.8333      0      2            248738   29.0000      NaN
360    male  26.0000      1      1            248738   29.0000      NaN
361  female  22.0000      1      1            248738   29.0000      NaN
362  female  35.0000      0      0      F.C.C. 13528   21.0000      NaN
363    male      NaN      0      0            239853    0.0000      NaN
364    male  19.0000      0      0             28424   13.0000      NaN
365  female  44.0000      1      0            244252   26.0000      NaN
366    male  54.0000      1      0            244252   26.0000      NaN
367    male  52.0000      0      0            248731   13.5000      NaN
368    male  37.0000      1      0       SC/AH 29037   26.0000      NaN
369  female  29.0000      1      0       SC/AH 29037   26.0000      NaN
370  female  25.0000      1      1            237789   30.0000      NaN
371  female  45.0000      0      2            237789   30.0000      NaN
372    male  29.0000      1      0              2003   26.0000      NaN
373  female  28.0000      1      0              2003   26.0000      NaN
374    male  29.0000      0      0       W./C. 14263   10.5000      NaN
375    male  28.0000      0      0            248740   13.0000      NaN
376    male  24.0000      0      0             28034   10.5000      NaN
377  female   8.0000      0      2        C.A. 31921   26.2500      NaN
378    male  31.0000      1      1        C.A. 31921   26.2500      NaN
379  female  31.0000      1      1        C.A. 31921   26.2500      NaN
380  female  22.0000      0      0       W./C. 14266   10.5000      F33
381  female  30.0000      0      0            237249   13.0000      NaN
382  female      NaN      0      0      F.C.C. 13534   21.0000      NaN
383    male  21.0000      0      0             29107   11.5000      NaN
384    male      NaN      0      0            239853    0.0000      NaN
385    male   8.0000      1      1        C.A. 33112   36.7500      NaN
386    male  18.0000      0      0      S.O.C. 14879   73.5000      NaN
387  female  48.0000      0      2        C.A. 33112   36.7500      NaN
388  female  28.0000      0      0            237668   13.0000      NaN
389    male  32.0000      0      0            244360   13.0000      NaN

    embarked  boat  body                                       home.dest
260        S     3   NaN                     New York, NY / Greenwich CT
261        S     5   NaN                                    St Louis, MO
262        S   NaN   NaN                                      Duluth, MN
263        S    11   NaN                                      Duluth, MN
264        C     3   NaN                              Basel, Switzerland
265        S     7   NaN                                 New Britain, CT
266        S   NaN   NaN                                    New York, NY
267        C   NaN   NaN                       St James, Long Island, NY
268        S   NaN   NaN                                  Huntington, WV
269        S   NaN   NaN                               Streatham, Surrey
270        S     6   NaN                                  Huntington, WV
271        S     7   NaN                                 Minneapolis, MN

In [217]:
array4=mn[390:520] #subarray4
array4

     pclass  survived                                               name  \
390       2         0                          Deacon, Mr. Percy William
391       2         0                          del Carlo, Mr. Sebastiano
392       2         1      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
393       2         0                               Denbury, Mr. Herbert
394       2         0                                Dibden, Mr. William
395       2         1                                Doling, Miss. Elsie
396       2         1               Doling, Mrs. John T (Ada Julia Bone)
397       2         0                         Downton, Mr. William James
398       2         1                      Drew, Master. Marshall Brines
399       2         0                             Drew, Mr. James Vivian
400       2         1    Drew, Mrs. James Vivian (Lulu Thorne Christian)
401       2         1                       Duran y More, Miss. Asuncion
402       2         1                     Duran y More, Miss. Florentina
403       2         0                       Eitemiller, Mr. George Floyd
404       2         0                                Enander, Mr. Ingvar
405       2         0                          Fahlstrom, Mr. Arne Jonas
406       2         0                              Faunthorpe, Mr. Harry
407       2         1  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
408       2         0                      Fillbrook, Mr. Joseph Charles
409       2         0                            Fox, Mr. Stanley Hubert
410       2         0                   Frost, Mr. Anthony Wood "Archie"
411       2         0                          Funk, Miss. Annie Clemmer
412       2         0                               Fynney, Mr. Joseph J
413       2         0                                    Gale, Mr. Harry
414       2         0                                 Gale, Mr. Shadrach
415       2         1                               Garside, Miss. Ethel
416       2         0                                Gaskell, Mr. Alfred
417       2         0                                Gavey, Mr. Lawrence
418       2         0                               Gilbert, Mr. William
419       2         0                                   Giles, Mr. Edgar
420       2         0                        Giles, Mr. Frederick Edward
421       2         0                                   Giles, Mr. Ralph
422       2         0                             Gill, Mr. John William
423       2         0                       Gillespie, Mr. William Henry
424       2         0                        Givard, Mr. Hans Kristensen
425       2         0                              Greenberg, Mr. Samuel
426       2         0                                 Hale, Mr. Reginald
427       2         1                          Hamalainen, Master. Viljo
428       2         1                    Hamalainen, Mrs. William (Anna)
429       2         0                             Harbeck, Mr. William H
430       2         1                  Harper, Miss. Annie Jessie "Nina"
431       2         0                                  Harper, Rev. John
432       2         1                                 Harris, Mr. George
433       2         0                                 Harris, Mr. Walter
434       2         1                             Hart, Miss. Eva Miriam
435       2         0                                 Hart, Mr. Benjamin
436       2         1        Hart, Mrs. Benjamin (Esther Ada Bloomfield)
437       2         1                                Herman, Miss. Alice
438       2         1                                 Herman, Miss. Kate
439       2         0                                 Herman, Mr. Samuel
440       2         1                   Herman, Mrs. Samuel (Jane Laver)
441       2         1                   Hewlett, Mrs. (Mary D Kingcome)
442       2         0                          Hickman, Mr. Leonard Mark
443       2         0                                 Hickman, Mr. Lewis
444       2         0                        Hickman, Mr. Stanley George
445       2         0                              Hiltunen, Miss. Marta
446       2         1                      Hocking, Miss. Ellen "Nellie"
447       2         0                        Hocking, Mr. Richard George
448       2         0                 Hocking, Mr. Samuel James Metcalfe
449       2         1              Hocking, Mrs. Elizabeth (Eliza Needs)
450       2         0                            Hodges, Mr. Henry Price
451       2         0                                  Hold, Mr. Stephen
452       2         1           Hold, Mrs. Stephen (Annie Margaret Hill)
453       2         0                               Hood, Mr. Ambrose Jr
454       2         1                               Hosono, Mr. Masabumi
455       2         0                               Howard, Mr. Benjamin
456       2         0       Howard, Mrs. Benjamin (Ellen Truelove Arman)
457       2         0                             Hunt, Mr. George Henry
458       2         1                                Ilett, Miss. Bertha
459       2         0                       Jacobsohn, Mr. Sidney Samuel
460       2         1  Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...
461       2         0                            Jarvis, Mr. John Denzil
462       2         0                      Jefferys, Mr. Clifford Thomas
463       2         0                       Jefferys, Mr. Ernest Wilfred
464       2         0                         Jenkin, Mr. Stephen Curnow
465       2         1       Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
466       2         0                                  Kantor, Mr. Sinai
467       2         1                Kantor, Mrs. Sinai (Miriam Sternin)
468       2         0              Karnes, Mrs. J Frank (Claire Bennett)
469       2         1                                Keane, Miss. Nora A
470       2         0                                  Keane, Mr. Daniel
471       2         1                      Kelly, Mrs. Florence "Fannie"
472       2         0                     Kirkland, Rev. Charles Leonard
473       2         0                               Knight, Mr. Robert J
474       2         0             Kvillner, Mr. Johan Henrik Johannesson
475       2         0              Lahtinen, Mrs. William (Anna Sylfven)
476       2         0                             Lahtinen, Rev. William
477       2         0                              Lamb, Mr. John Joseph
478       2         1                              Laroche, Miss. Louise
479       2         1           Laroche, Miss. Simonne Marie Anne Andree
480       2         0             Laroche, Mr. Joseph Philippe Lemercier
481       2         1  Laroche, Mrs. Joseph (Juliette Marie Louise La...
482       2         1                              Lehmann, Miss. Bertha
483       2         1                         Leitch, Miss. Jessie Wills
484       2         1                       Lemore, Mrs. (Amelia Milley)
485       2         0                             Levy, Mr. Rene Jacques
486       2         0                  Leyson, Mr. Robert William Norman
487       2         0                                  Lingane, Mr. John
488       2         0                       Louch, Mr. Charles Alexander
489       2         1  Louch, Mrs. Charles Alexander (Alice Adelaide ...
490       2         0                                  Mack, Mrs. (Mary)
491       2         0                                Malachard, Mr. Noel
492       2         1                              Mallet, Master. Andre
493       2         0                                 Mallet, Mr. Albert
494       2         1            Mallet, Mrs. Albert (Antoinette Magnin)
495       2         0                  Mangiavacchi, Mr. Serafino Emilio
496       2         0                         Matthews, Mr. William John
497       2         0                          Maybery, Mr. Frank Hubert
498       2         0                          McCrae, Mr. Arthur Gordon
499       2         0                          McCrie, Mr. James Matthew
500       2         0                            McKane, Mr. Peter David
501       2         1                  Mellinger, Miss. Madeleine Violet
502       2         1          Mellinger, Mrs. (Elizabeth Anne Maidment)
503       2         1                          Mellors, Mr. William John
504       2         0                                  Meyer, Mr. August
505       2         0                       Milling, Mr. Jacob Christian
506       2         0                        Mitchell, Mr. Henry Michael
507       2         0                              Montvila, Rev. Juozas
508       2         0                               Moraweck, Dr. Ernest
509       2         0     Morley, Mr. Henry Samuel ("Mr Henry Marshall")
510       2         0                           Mudd, Mr. Thomas Charles
511       2         0                          Myles, Mr. Thomas Francis
512       2         0                               Nasser, Mr. Nicholas
513       2         1                Nasser, Mrs. Nicholas (Adele Achem)
514       2         1                     Navratil, Master. Edmond Roger
515       2         1                         Navratil, Master. Michel M
516       2         0           Navratil, Mr. Michel ("Louis M Hoffman")
517       2         0                                 Nesson, Mr. Israel
518       2         0                       Nicholls, Mr. Joseph Charles
519       2         0                         Norman, Mr. Robert Douglas

        sex      age  sibsp  parch           ticket     fare cabin embarked  \
390    male  17.0000      0      0     S.O.C. 14879  73.5000   NaN        S
391    male  29.0000      1      0    SC/PARIS 2167  27.7208   NaN        C
392  female  24.0000      1      0    SC/PARIS 2167  27.7208   NaN        C
393    male  25.0000      0      0       C.A. 31029  31.5000   NaN        S
394    male  18.0000      0      0     S.O.C. 14879  73.5000   NaN        S
395  female  18.0000      0      1           231919  23.0000   NaN        S
396  female  34.0000      0      1           231919  23.0000   NaN        S
397    male  54.0000      0      0            28403  26.0000   NaN        S
398    male   8.0000      0      2            28220  32.5000   NaN        S
399    male  42.0000      1      1            28220  32.5000   NaN        S
400  female  34.0000      1      1            28220  32.5000   NaN        S
401  female  27.0000      1      0    SC/PARIS 2149  13.8583   NaN        C
402  female  30.0000      1      0    SC/PARIS 2148  13.8583   NaN        C
403    male  23.0000      0      0            29751  13.0000   NaN        S
404    male  21.0000      0      0           236854  13.0000   NaN        S
405    male  18.0000      0      0           236171  13.0000   NaN        S
406    male  40.0000      1      0             2926  26.0000   NaN        S
407  female  29.0000      1      0             2926  26.0000   NaN        S
408    male  18.0000      0      0       C.A. 15185  10.5000   NaN        S
409    male  36.0000      0      0           229236  13.0000   NaN        S
410    male      NaN      0      0           239854   0.0000   NaN        S
411  female  38.0000      0      0           237671  13.0000   NaN        S
412    male  35.0000      0      0           239865  26.0000   NaN        S
413    male  38.0000      1      0            28664  21.0000   NaN        S
414    male  34.0000      1      0            28664  21.0000   NaN        S
415  female  34.0000      0      0           243880  13.0000   NaN        S
416    male  16.0000      0      0           239865  26.0000   NaN        S
417    male  26.0000      0      0            31028  10.5000   NaN        S
418    male  47.0000      0      0       C.A. 30769  10.5000   NaN        S
419    male  21.0000      1      0            28133  11.5000   NaN        S
420    male  21.0000      1      0            28134  11.5000   NaN        S
421    male  24.0000      0      0           248726  13.5000   NaN        S
422    male  24.0000      0      0           233866  13.0000   NaN        S
423    male  34.0000      0      0            12233  13.0000   NaN        S
424    male  30.0000      0      0           250646  13.0000   NaN        S
425    male  52.0000      0      0           250647  13.0000   NaN        S
426    male  30.0000      0      0           250653  13.0000   NaN        S
427    male   0.6667      1      1           250649  14.5000   NaN        S
428  female  24.0000      0      2           250649  14.5000   NaN        S
429    male  44.0000      0      0           248746  13.0000   NaN        S
430  female   6.0000      0      1           248727  33.0000   NaN        S
431    male  28.0000      0      1           248727  33.0000   NaN        S
432    male  62.0000      0      0      S.W./PP 752  10.5000   NaN        S
433    male  30.0000      0      0        W/C 14208  10.5000   NaN        S
434  female   7.0000      0      2     F.C.C. 13529  26.2500   NaN        S
435    male  43.0000      1      1     F.C.C. 13529  26.2500   NaN        S
436  female  45.0000      1      1     F.C.C. 13529  26.2500   NaN        S
437  female  24.0000      1      2           220845  65.0000   NaN        S
438  female  24.0000      1      2           220845  65.0000   NaN        S
439    male  49.0000      1      2           220845  65.0000   NaN        S
440  female  48.0000      1      2           220845  65.0000   NaN        S
441  female  55.0000      0      0           248706  16.0000   NaN        S
442    male  24.0000      2      0     S.O.C. 14879  73.5000   NaN        S
443    male  32.0000      2      0     S.O.C. 14879  73.5000   NaN        S
444    male  21.0000      2      0     S.O.C. 14879  73.5000   NaN        S
445  female  18.0000      1      1           250650  13.0000   NaN        S
446  female  20.0000      2      1            29105  23.0000   NaN        S
447    male  23.0000      2      1            29104  11.5000   NaN        S
448    male  36.0000      0      0           242963  13.0000   NaN        S
449  female  54.0000      1      3            29105  23.0000   NaN        S
450    male  50.0000      0      0           250643  13.0000   NaN        S
451    male  44.0000      1      0            26707  26.0000   NaN        S
452  female  29.0000      1      0            26707  26.0000   NaN        S
453    male  21.0000      0      0     S.O.C. 14879  73.5000   NaN        S
454    male  42.0000      0      0           237798  13.0000   NaN        S
455    male  63.0000      1      0            24065  26.0000   NaN        S
456  female  60.0000      1      0            24065  26.0000   NaN        S
457    male  33.0000      0      0       SCO/W 1585  12.2750   NaN        S
458  female  17.0000      0      0       SO/C 14885  10.5000   NaN        S
459    male  42.0000      1      0           243847  27.0000   NaN        S
460  female  24.0000      2      1           243847  27.0000   NaN        S
461    male  47.0000      0      0           237565  15.0000   NaN        S
462    male  24.0000      2      0       C.A. 31029  31.5000   NaN        S
463    male  22.0000      2      0       C.A. 31029  31.5000   NaN        S
464    male  32.0000      0      0       C.A. 33111  10.5000   NaN        S
465  female  23.0000      0      0  SC/AH Basle 541  13.7917     D        C
466    male  34.0000      1      0           244367  26.0000   NaN        S
467  female  24.0000      1      0           244367  26.0000   NaN        S
468  female  22.0000      0      0     F.C.C. 13534  21.0000   NaN        S
469  female      NaN      0      0           226593  12.3500  E101        Q
470    male  35.0000      0      0           233734  12.3500   NaN        Q
471  female  45.0000      0      0           223596  13.5000   NaN        S
472    male  57.0000      0      0           219533  12.3500   NaN        Q
473    male      NaN      0      0           239855   0.0000   NaN        S
474    male  31.0000      0      0       C.A. 18723  10.5000   NaN        S
475  female  26.0000      1      1           250651  26.0000   NaN        S
476    male  30.0000      1      1           250651  26.0000   NaN        S
477    male      NaN      0      0           240261  10.7083   NaN        Q
478  female   1.0000      1      2    SC/Paris 2123  41.5792   NaN        C
479  female   3.0000      1      2    SC/Paris 2123  41.5792   NaN        C
480    male  25.0000      1      2    SC/Paris 2123  41.5792   NaN        C
481  female  22.0000      1      2    SC/Paris 2123  41.5792   NaN        C
482  female  17.0000      0      0          SC 1748  12.0000   NaN        C
483  female      NaN      0      0           248727  33.0000   NaN        S
484  female  34.0000      0      0       C.A. 34260  10.5000   F33        S
485    male  36.0000      0      0    SC/Paris 2163  12.8750     D        C
486    male  24.0000      0      0       C.A. 29566  10.5000   NaN        S
487    male  61.0000      0      0           235509  12.3500   NaN        Q
488    male  50.0000      1      0       SC/AH 3085  26.0000   NaN        S
489  female  42.0000      1      0       SC/AH 3085  26.0000   NaN        S
490  female  57.0000      0      0      S.O./P.P. 3  10.5000   E77        S
491    male      NaN      0      0           237735  15.0458     D        C
492    male   1.0000      0      2  S.C./PARIS 2079  37.0042   NaN        C
493    male  31.0000      1      1  S.C./PARIS 2079  37.0042   NaN        C
494  female  24.0000      1      1  S.C./PARIS 2079  37.0042   NaN        C
495    male      NaN      0      0      SC/A.3 2861  15.5792   NaN        C
496    male  30.0000      0      0            28228  13.0000   NaN        S
497    male  40.0000      0      0           239059  16.0000   NaN        S
498    male  32.0000      0      0           237216  13.5000   NaN        S
499    male  30.0000      0      0           233478  13.0000   NaN        S
500    male  46.0000      0      0            28403  26.0000   NaN        S
501  female  13.0000      0      1           250644  19.5000   NaN        S
502  female  41.0000      0      1           250644  19.5000   NaN        S
503    male  19.0000      0      0        SW/PP 751  10.5000   NaN        S
504    male  39.0000      0      0           248723  13.0000   NaN        S
505    male  48.0000      0      0           234360  13.0000   NaN        S
506    male  70.0000      0      0       C.A. 24580  10.5000   NaN        S
507    male  27.0000      0      0           211536  13.0000   NaN        S
508    male  54.0000      0      0            29011  14.0000   NaN        S
509    male  39.0000      0      0           250655  26.0000   NaN        S
510    male  16.0000      0      0      S.O./P.P. 3  10.5000   NaN        S
511    male  62.0000      0      0           240276   9.6875   NaN        Q
512    male  32.5000      1      0           237736  30.0708   NaN        C
513  female  14.0000      1      0           237736  30.0708   NaN        C
514    male   2.0000      1      1           230080  26.0000    F2        S
515    male   3.0000      1      1           230080  26.0000    F2        S
516    male  36.5000      0      2           230080  26.0000    F2        S
517    male  26.0000      0      0           244368  13.0000    F2        S
518    male  19.0000      1      1       C.A. 33112  36.7500   NaN        S
519    male  28.0000      0      0           218629  13.5000   NaN        S

    boat  body                                     home.dest
390  NaN   NaN                                           NaN
391  NaN   295                     Lucca, Italy / California
392   12   NaN                     Lucca, Italy / California
393  NaN   NaN                      Guernsey / Elizabeth, NJ
394  NaN   NaN                           New Forest, England
395  NaN   NaN                                   Southampton

In [183]:
array5=mn[520:650] #subarray5
array5

     pclass  survived                                               name  \
520       2         1       Nourney, Mr. Alfred ("Baron von Drachstedt")
521       2         1                       Nye, Mrs. (Elizabeth Ramell)
522       2         0                                 Otter, Mr. Richard
523       2         1                          Oxenham, Mr. Percy Thomas
524       2         1                         Padro y Manent, Mr. Julian
525       2         0                                   Pain, Dr. Alfred
526       2         1                      Pallas y Castello, Mr. Emilio
527       2         0                       Parker, Mr. Clifford Richard
528       2         0                        Parkes, Mr. Francis "Frank"
529       2         1                        Parrish, Mrs. (Lutie Davis)
530       2         0                    Pengelly, Mr. Frederick William
531       2         0                                   Pernot, Mr. Rene
532       2         0                      Peruschitz, Rev. Joseph Maria
533       2         1               Phillips, Miss. Alice Frances Louisa
534       2         1  Phillips, Miss. Kate Florence ("Mrs Kate Louis...
535       2         0                        Phillips, Mr. Escott Robert
536       2         1                                Pinsky, Mrs. (Rosa)
537       2         0                               Ponesell, Mr. Martin
538       2         1             Portaluppi, Mr. Emilio Ilario Giuseppe
539       2         0                                 Pulbaum, Mr. Franz
540       2         1                           Quick, Miss. Phyllis May
541       2         1                         Quick, Miss. Winifred Vera
542       2         1      Quick, Mrs. Frederick Charles (Jane Richards)
543       2         0                                  Reeves, Mr. David
544       2         0                            Renouf, Mr. Peter Henry
545       2         1        Renouf, Mrs. Peter Henry (Lillian Jefferys)
546       2         1                          Reynaldo, Ms. Encarnacion
547       2         0                                 Richard, Mr. Emile
548       2         1                    Richards, Master. George Sibley
549       2         1                     Richards, Master. William Rowe
550       2         1              Richards, Mrs. Sidney (Emily Hocking)
551       2         1                               Ridsdale, Miss. Lucy
552       2         0                         Rogers, Mr. Reginald Harry
553       2         1                                  Rugg, Miss. Emily
554       2         0                                Schmidt, Mr. August
555       2         0         Sedgwick, Mr. Charles Frederick Waddington
556       2         0                        Sharp, Mr. Percival James R
557       2         1       Shelley, Mrs. William (Imanita Parrish Hall)
558       2         1                      Silven, Miss. Lyyli Karoliina
559       2         1                               Sincock, Miss. Maude
560       2         1                              Sinkkonen, Miss. Anna
561       2         0                          Sjostedt, Mr. Ernst Adolf
562       2         1                          Slayter, Miss. Hilda Mary
563       2         0                          Slemen, Mr. Richard James
564       2         1                          Smith, Miss. Marion Elsie
565       2         0                     Sobey, Mr. Samuel James Hayden
566       2         0                           Stanton, Mr. Samuel Ward
567       2         0                          Stokes, Mr. Philip Joseph
568       2         0                                  Swane, Mr. George
569       2         0                        Sweet, Mr. George Frederick
570       2         1                                Toomey, Miss. Ellen
571       2         0                       Troupiansky, Mr. Moses Aaron
572       2         1                   Trout, Mrs. William H (Jessie L)
573       2         1                Troutt, Miss. Edwina Celia "Winnie"
574       2         0                    Turpin, Mr. William John Robert
575       2         0  Turpin, Mrs. William John Robert (Dorothy Ann ...
576       2         0                                    Veal, Mr. James
577       2         1                             Walcroft, Miss. Nellie
578       2         0                               Ware, Mr. John James
579       2         0                          Ware, Mr. William Jeffery
580       2         1       Ware, Mrs. John James (Florence Louise Long)
581       2         0                         Watson, Mr. Ennis Hastings
582       2         1                               Watt, Miss. Bertha J
583       2         1  Watt, Mrs. James (Elizabeth "Bessie" Inglis Mi...
584       2         1                                Webber, Miss. Susan
585       2         0                                 Weisz, Mr. Leopold
586       2         1      Weisz, Mrs. Leopold (Mathilde Francoise Pede)
587       2         1                        Wells, Master. Ralph Lester
588       2         1                                  Wells, Miss. Joan
589       2         1  Wells, Mrs. Arthur Henry ("Addie" Dart Trevaskis)
590       2         1                              West, Miss. Barbara J
591       2         1                       West, Miss. Constance Mirium
592       2         0                              West, Mr. Edwy Arthur
593       2         1            West, Mrs. Edwy Arthur (Ada Mary Worth)
594       2         0                              Wheadon, Mr. Edward H
595       2         0                     Wheeler, Mr. Edwin "Frederick"
596       2         1                              Wilhelms, Mr. Charles
597       2         1                       Williams, Mr. Charles Eugene
598       2         1                               Wright, Miss. Marion
599       2         0             Yrois, Miss. Henriette ("Mrs Harbeck")
600       3         0                                Abbing, Mr. Anthony
601       3         0                      Abbott, Master. Eugene Joseph
602       3         0                        Abbott, Mr. Rossmore Edward
603       3         1                   Abbott, Mrs. Stanton (Rosa Hunt)
604       3         1                        Abelseth, Miss. Karen Marie
605       3         1                      Abelseth, Mr. Olaus Jorgensen
606       3         1           Abrahamsson, Mr. Abraham August Johannes
607       3         1          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
608       3         0                     Adahl, Mr. Mauritz Nils Martin
609       3         0                                    Adams, Mr. John
610       3         0     Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
611       3         1                          Aks, Master. Philip Frank
612       3         1                         Aks, Mrs. Sam (Leah Rosen)
613       3         1                        Albimona, Mr. Nassef Cassem
614       3         0                             Alexander, Mr. William
615       3         0                        Alhomaki, Mr. Ilmari Rudolf
616       3         0                                     Ali, Mr. Ahmed
617       3         0                                   Ali, Mr. William
618       3         0                           Allen, Mr. William Henry
619       3         0                             Allum, Mr. Owen George
620       3         0                        Andersen, Mr. Albert Karvin
621       3         1    Andersen-Jensen, Miss. Carla Christine Nielsine
622       3         0            Andersson, Master. Sigvard Harald Elias
623       3         0                 Andersson, Miss. Ebba Iris Alfrida
624       3         0                  Andersson, Miss. Ellis Anna Maria
625       3         1                    Andersson, Miss. Erna Alexandra
626       3         0             Andersson, Miss. Ida Augusta Margareta
627       3         0               Andersson, Miss. Ingeborg Constanzia
628       3         0                  Andersson, Miss. Sigrid Elisabeth
629       3         0                        Andersson, Mr. Anders Johan
630       3         1       Andersson, Mr. August Edvard ("Wennerstrom")
631       3         0                        Andersson, Mr. Johan Samuel
632       3         0  Andersson, Mrs. Anders Johan (Alfrida Konstant...
633       3         0                         Andreasson, Mr. Paul Edvin
634       3         0                               Angheloff, Mr. Minko
635       3         0                          Arnold-Franchi, Mr. Josef
636       3         0      Arnold-Franchi, Mrs. Josef (Josefine Franchi)
637       3         0                     Aronsson, Mr. Ernst Axel Algot
638       3         0                                    Asim, Mr. Adola
639       3         0                        Asplund, Master. Carl Edgar
640       3         0              Asplund, Master. Clarence Gustaf Hugo
641       3         1                  Asplund, Master. Edvin Rojj Felix
642       3         0                       Asplund, Master. Filip Oscar
643       3         1                     Asplund, Miss. Lillian Gertrud
644       3         0         Asplund, Mr. Carl Oscar Vilhelm Gustafsson
645       3         1                         Asplund, Mr. Johan Charles
646       3         1  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
647       3         1              Assaf Khalil, Mrs. Mariana ("Miriam")
648       3         0                                  Assaf, Mr. Gerios
649       3         0                                     Assam, Mr. Ali

        sex      age  sibsp  parch              ticket     fare  cabin  \
520    male  20.0000      0      0       SC/PARIS 2166  13.8625    D38
521  female  29.0000      0      0          C.A. 29395  10.5000    F33
522    male  39.0000      0      0               28213  13.0000    NaN
523    male  22.0000      0      0         W./C. 14260  10.5000    NaN
524    male      NaN      0      0       SC/PARIS 2146  13.8625    NaN
525    male  23.0000      0      0              244278  10.5000    NaN
526    male  29.0000      0      0       SC/PARIS 2147  13.8583    NaN
527    male  28.0000      0      0            SC 14888  10.5000    NaN
528    male      NaN      0      0              239853   0.0000    NaN
529  female  50.0000      0      1              230433  26.0000    NaN
530    male  19.0000      0      0               28665  10.5000    NaN
531    male      NaN      0      0       SC/PARIS 2131  15.0500    NaN
532    male  41.0000      0      0              237393  13.0000    NaN
533  female  21.0000      0      1         S.O./P.P. 2  21.0000    NaN
534  female  19.0000      0      0              250655  26.0000    NaN
535    male  43.0000      0      1         S.O./P.P. 2  21.0000    NaN
536  female  32.0000      0      0              234604  13.0000    NaN
537    male  34.0000      0      0              250647  13.0000    NaN
538    male  30.0000      0      0          C.A. 34644  12.7375    NaN
539    male  27.0000      0      0       SC/PARIS 2168  15.0333    NaN
540  female   2.0000      1      1               26360  26.0000    NaN
541  female   8.0000      1      1               26360  26.0000    NaN
542  female  33.0000      0      2               26360  26.0000    NaN
543    male  36.0000      0      0          C.A. 17248  10.5000    NaN
544    male  34.0000      1      0               31027  21.0000    NaN
545  female  30.0000      3      0               31027  21.0000    NaN
546  female  28.0000      0      0              230434  13.0000    NaN
547    male  23.0000      0      0       SC/PARIS 2133  15.0458    NaN
548    male   0.8333      1      1               29106  18.7500    NaN
549    male   3.0000      1      1               29106  18.7500    NaN
550  female  24.0000      2      3               29106  18.7500    NaN
551  female  50.0000      0      0         W./C. 14258  10.5000    NaN
552    male  19.0000      0      0               28004  10.5000    NaN
553  female  21.0000      0      0          C.A. 31026  10.5000    NaN
554    male  26.0000      0      0              248659  13.0000    NaN
555    male  25.0000      0      0              244361  13.0000    NaN
556    male  27.0000      0      0              244358  26.0000    NaN
557  female  25.0000      0      1              230433  26.0000    NaN
558  female  18.0000      0      2              250652  13.0000    NaN
559  female  20.0000      0      0          C.A. 33112  36.7500    NaN
560  female  30.0000      0      0              250648  13.0000    NaN
561    male  59.0000      0      0              237442  13.5000    NaN
562  female  30.0000      0      0              234818  12.3500    NaN
563    male  35.0000      0      0               28206  10.5000    NaN
564  female  40.0000      0      0               31418  13.0000    NaN
565    male  25.0000      0      0          C.A. 29178  13.0000    NaN
566    male  41.0000      0      0              237734  15.0458    NaN
567    male  25.0000      0      0        F.C.C. 13540  10.5000    NaN
568    male  18.5000      0      0              248734  13.0000      F
569    male  14.0000      0      0              220845  65.0000    NaN
570  female  50.0000      0      0        F.C.C. 13531  10.5000    NaN
571    male  23.0000      0      0              233639  13.0000    NaN
572  female  28.0000      0      0              240929  12.6500    NaN
573  female  27.0000      0      0               34218  10.5000   E101
574    male  29.0000      1      0               11668  21.0000    NaN
575  female  27.0000      1      0               11668  21.0000    NaN
576    male  40.0000      0      0               28221  13.0000    NaN
577  female  31.0000      0      0        F.C.C. 13528  21.0000    NaN
578    male  30.0000      1      0            CA 31352  21.0000    NaN
579    male  23.0000      1      0               28666  10.5000    NaN
580  female  31.0000      0      0            CA 31352  21.0000    NaN
581    male      NaN      0      0              239856   0.0000    NaN
582  female  12.0000      0      0          C.A. 33595  15.7500    NaN
583  female  40.0000      0      0          C.A. 33595  15.7500    NaN
584  female  32.5000      0      0               27267  13.0000   E101
585    male  27.0000      1      0              228414  26.0000    NaN
586  female  29.0000      1      0              228414  26.0000    NaN
587    male   2.0000      1      1               29103  23.0000    NaN
588  female   4.0000      1      1               29103  23.0000    NaN
589  female  29.0000      0      2               29103  23.0000    NaN
590  female   0.9167      1      2          C.A. 34651  27.7500    NaN
591  female   5.0000      1      2          C.A. 34651  27.7500    NaN
592    male  36.0000      1      2          C.A. 34651  27.7500    NaN
593  female  33.0000      1      2          C.A. 34651  27.7500    NaN
594    male  66.0000      0      0          C.A. 24579  10.5000    NaN
595    male      NaN      0      0       SC/PARIS 2159  12.8750    NaN
596    male  31.0000      0      0              244270  13.0000    NaN
597    male      NaN      0      0              244373  13.0000    NaN
598  female  26.0000      0      0              220844  13.5000    NaN
599  female  24.0000      0      0              248747  13.0000    NaN
600    male  42.0000      0      0           C.A. 5547   7.5500    NaN
601    male  13.0000      0      2           C.A. 2673  20.2500    NaN
602    male  16.0000      1      1           C.A. 2673  20.2500    NaN
603  female  35.0000      1      1           C.A. 2673  20.2500    NaN
604  female  16.0000      0      0              348125   7.6500    NaN
605    male  25.0000      0      0              348122   7.6500  F G63
606    male  20.0000      0      0    SOTON/O2 3101284   7.9250    NaN
607  female  18.0000      0      0                2657   7.2292    NaN
608    male  30.0000      0      0              C 7076   7.2500    NaN
609    male  26.0000      0      0              341826   8.0500    NaN
610  female  40.0000      1      0                7546   9.4750    NaN
611    male   0.8333      0      1              392091   9.3500    NaN
612  female  18.0000      0      1              392091   9.3500    NaN
613    male  26.0000      0      0                2699  18.7875    NaN
614    male  26.0000      0      0                3474   7.8875    NaN
615    male  20.0000      0      0    SOTON/O2 3101287   7.9250    NaN
616    male  24.0000      0      0  SOTON/O.Q. 3101311   7.0500    NaN
617    male  25.0000      0      0  SOTON/O.Q. 3101312   7.0500    NaN
618    male  35.0000      0      0              373450   8.0500    NaN
619    male  18.0000      0      0                2223   8.3000    NaN
620    male  32.0000      0      0              C 4001  22.5250    NaN
621  female  19.0000      1      0              350046   7.8542    NaN
622    male   4.0000      4      2              347082  31.2750    NaN
623  female   6.0000      4      2              347082  31.2750    NaN
624  female   2.0000      4      2              347082  31.2750    NaN
625  female  17.0000      4      2             3101281   7.9250    NaN
626  female  38.0000      4      2              347091   7.7750    NaN
627  female   9.0000      4      2              347082  31.2750    NaN
628  female  11.0000      4      2              347082  31.2750    NaN
629    male  39.0000      1      5              347082  31.2750    NaN
630    male  27.0000      0      0              350043   7.7958    NaN
631    male  26.0000      0      0              347075   7.7750    NaN
632  female  39.0000      1      5              347082  31.2750    NaN
633    male  20.0000      0      0              347466   7.8542    NaN
634    male  26.0000      0      0              349202   7.8958    NaN
635    male  25.0000      1      0              349237  17.8000    NaN
636  female  18.0000      1      0              349237  17.8000    NaN
637    male  24.0000      0      0              349911   7.7750    NaN
638    male  35.0000      0      0  SOTON/O.Q. 3101310   7.0500    NaN
639    male   5.0000      4      2              347077  31.3875    NaN
640    male   9.0000      4      2              347077  31.3875    NaN
641    male   3.0000      4      2              347077  31.3875    NaN
642    male  13.0000      4      2              347077  31.3875    NaN
643  female   5.0000      4      2              347077  31.3875    NaN
644    male  40.0000      1      5              347077  31.3875    NaN
645    male  23.0000      0      0              350054   7.7958    NaN
646  female  38.0000      1      5              347077  31.3875    NaN
647  female  45.0000      0      0                2696   7.2250    NaN
648    male  21.0000      0      0                2692   7.2250    NaN
649    male  23.0000      0      0  SOTON/O.Q. 3101309   7.0500    NaN

    embarked boat  body                                          home.dest
520        C    7   NaN                                   Cologne, Germany
521        S   11   NaN                     Folkstone, Kent / New York, NY
522        S  NaN   NaN                             Middleburg Heights, OH
523        S   13   NaN               Pondersend, England / New Durham, NJ
524        C    9   NaN                               Spain / Havana, Cuba
525        S  NaN   NaN                                       Hamilton, ON
526        C    9   NaN                               Spain / Havana, Cuba
527        S  NaN   NaN                               St Andrews, Guernsey
528        S  NaN   NaN                                            Belfast
529        S   12   NaN                                Woodford County, KY
530        S  NaN   NaN                    Gunnislake, England / Butte, MT
531        C  NaN   NaN                                                NaN
532        S  NaN   NaN                                                NaN
533        S   12   NaN                                  Ilfracombe, Devon

In [240]:
array6=mn[650:780] #subarray6
array6

     pclass  survived                                               name  \
650       3         0                              Attalah, Miss. Malake
651       3         0                               Attalah, Mr. Sleiman
652       3         0                             Augustsson, Mr. Albert
653       3         1                               Ayoub, Miss. Banoura
654       3         0                                Baccos, Mr. Raffull
655       3         0                         Backstrom, Mr. Karl Alfred
656       3         1  Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
657       3         1                             Baclini, Miss. Eugenie
658       3         1                      Baclini, Miss. Helene Barbara
659       3         1                     Baclini, Miss. Marie Catherine
660       3         1              Baclini, Mrs. Solomon (Latifa Qurban)
661       3         1                         Badman, Miss. Emily Louisa
662       3         0                                  Badt, Mr. Mohamed
663       3         0                                  Balkic, Mr. Cerin
664       3         1                              Barah, Mr. Hanna Assi
665       3         0                              Barbara, Miss. Saiide
666       3         0                    Barbara, Mrs. (Catherine David)
667       3         0                                 Barry, Miss. Julia
668       3         0                             Barton, Mr. David John
669       3         0                         Beavan, Mr. William Thomas
670       3         0                         Bengtsson, Mr. John Viktor
671       3         0                       Berglund, Mr. Karl Ivar Sven
672       3         0                              Betros, Master. Seman
673       3         0                                Betros, Mr. Tannous
674       3         1                                      Bing, Mr. Lee
675       3         0                  Birkeland, Mr. Hans Martin Monsen
676       3         0                       Bjorklund, Mr. Ernst Herbert
677       3         0                          Bostandyeff, Mr. Guentcho
678       3         0                               Boulos, Master. Akar
679       3         0                            Boulos, Miss. Nourelain
680       3         0                                  Boulos, Mr. Hanna
681       3         0                      Boulos, Mrs. Joseph (Sultana)
682       3         0                                 Bourke, Miss. Mary
683       3         0                                   Bourke, Mr. John
684       3         0                      Bourke, Mrs. John (Catherine)
685       3         0                        Bowen, Mr. David John "Dai"
686       3         1                       Bradley, Miss. Bridget Delia
687       3         0                       Braf, Miss. Elin Ester Maria
688       3         0                          Braund, Mr. Lewis Richard
689       3         0                            Braund, Mr. Owen Harris
690       3         0                           Brobeck, Mr. Karl Rudolf
691       3         0                    Brocklebank, Mr. William Alfred
692       3         0                           Buckley, Miss. Katherine
693       3         1                                Buckley, Mr. Daniel
694       3         0                                Burke, Mr. Jeremiah
695       3         0                            Burns, Miss. Mary Delia
696       3         0                                 Cacic, Miss. Manda
697       3         0                                Cacic, Miss. Marija
698       3         0                               Cacic, Mr. Jego Grga
699       3         0                                    Cacic, Mr. Luka
700       3         0                                    Calic, Mr. Jovo
701       3         0                                   Calic, Mr. Petar
702       3         0                                Canavan, Miss. Mary
703       3         0                               Canavan, Mr. Patrick
704       3         0                           Cann, Mr. Ernest Charles
705       3         0                                  Caram, Mr. Joseph
706       3         0                   Caram, Mrs. Joseph (Maria Elias)
707       3         0                       Carlsson, Mr. August Sigfrid
708       3         0                          Carlsson, Mr. Carl Robert
709       3         1                          Carr, Miss. Helen "Ellen"
710       3         0                                Carr, Miss. Jeannie
711       3         0                            Carver, Mr. Alfred John
712       3         0                             Celotti, Mr. Francesco
713       3         0                                Charters, Mr. David
714       3         1                                    Chip, Mr. Chang
715       3         0                               Christmann, Mr. Emil
716       3         0                        Chronopoulos, Mr. Apostolos
717       3         0                        Chronopoulos, Mr. Demetrios
718       3         0                     Coelho, Mr. Domingos Fernandeo
719       3         1                           Cohen, Mr. Gurshon "Gus"
720       3         0                               Colbert, Mr. Patrick
721       3         0                                   Coleff, Mr. Peju
722       3         0                                  Coleff, Mr. Satio
723       3         0                           Conlon, Mr. Thomas Henry
724       3         0                            Connaghton, Mr. Michael
725       3         1                               Connolly, Miss. Kate
726       3         0                               Connolly, Miss. Kate
727       3         0                               Connors, Mr. Patrick
728       3         0                                    Cook, Mr. Jacob
729       3         0                                    Cor, Mr. Bartol
730       3         0                                      Cor, Mr. Ivan
731       3         0                                  Cor, Mr. Liudevit
732       3         0                                    Corn, Mr. Harry
733       3         1              Coutts, Master. Eden Leslie "Neville"
734       3         1             Coutts, Master. William Loch "William"
735       3         1     Coutts, Mrs. William (Winnie "Minnie" Treanor)
736       3         0                                  Coxon, Mr. Daniel
737       3         0                           Crease, Mr. Ernest James
738       3         1                           Cribb, Miss. Laura Alice
739       3         0                           Cribb, Mr. John Hatfield
740       3         0                                Culumovic, Mr. Jeso
741       3         0                                  Daher, Mr. Shedid
742       3         1                              Dahl, Mr. Karl Edwart
743       3         0                       Dahlberg, Miss. Gerda Ulrika
744       3         0                                  Dakic, Mr. Branko
745       3         1             Daly, Miss. Margaret Marcella "Maggie"
746       3         1                           Daly, Mr. Eugene Patrick
747       3         0            Danbom, Master. Gilbert Sigvard Emanuel
748       3         0                          Danbom, Mr. Ernst Gilbert
749       3         0  Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...
750       3         0                                   Danoff, Mr. Yoto
751       3         0                              Dantcheff, Mr. Ristiu
752       3         0                               Davies, Mr. Alfred J
753       3         0                                   Davies, Mr. Evan
754       3         0                            Davies, Mr. John Samuel
755       3         0                                 Davies, Mr. Joseph
756       3         0                          Davison, Mr. Thomas Henry
757       3         1          Davison, Mrs. Thomas Henry (Mary E Finck)
758       3         1               de Messemaeker, Mr. Guillaume Joseph
759       3         1       de Messemaeker, Mrs. Guillaume Joseph (Emma)
760       3         1                            de Mulder, Mr. Theodore
761       3         0                          de Pelsmaeker, Mr. Alfons
762       3         1                         Dean, Master. Bertram Vere
763       3         1            Dean, Miss. Elizabeth Gladys "Millvina"
764       3         0                            Dean, Mr. Bertram Frank
765       3         1           Dean, Mrs. Bertram (Eva Georgetta Light)
766       3         0                                 Delalic, Mr. Redjo
767       3         0                               Demetri, Mr. Marinko
768       3         0                                 Denkoff, Mr. Mitto
769       3         0                                 Dennis, Mr. Samuel
770       3         0                                Dennis, Mr. William
771       3         1                      Devaney, Miss. Margaret Delia
772       3         0                                    Dika, Mr. Mirko
773       3         0                                   Dimic, Mr. Jovan
774       3         0                             Dintcheff, Mr. Valtcho
775       3         0                                Doharr, Mr. Tannous
776       3         0                                Dooley, Mr. Patrick
777       3         1                         Dorking, Mr. Edward Arthur
778       3         1                           Dowdell, Miss. Elizabeth
779       3         0                             Doyle, Miss. Elizabeth

        sex      age  sibsp  parch              ticket     fare cabin  \
650  female  17.0000      0      0                2627  14.4583   NaN
651    male  30.0000      0      0                2694   7.2250   NaN
652    male  23.0000      0      0              347468   7.8542   NaN
653  female  13.0000      0      0                2687   7.2292   NaN
654    male  20.0000      0      0                2679   7.2250   NaN
655    male  32.0000      1      0             3101278  15.8500   NaN
656  female  33.0000      3      0             3101278  15.8500   NaN
657  female   0.7500      2      1                2666  19.2583   NaN
658  female   0.7500      2      1                2666  19.2583   NaN
659  female   5.0000      2      1                2666  19.2583   NaN
660  female  24.0000      0      3                2666  19.2583   NaN
661  female  18.0000      0      0           A/4 31416   8.0500   NaN
662    male  40.0000      0      0                2623   7.2250   NaN
663    male  26.0000      0      0              349248   7.8958   NaN
664    male  20.0000      0      0                2663   7.2292   NaN
665  female  18.0000      0      1                2691  14.4542   NaN
666  female  45.0000      0      1                2691  14.4542   NaN
667  female  27.0000      0      0              330844   7.8792   NaN
668    male  22.0000      0      0              324669   8.0500   NaN
669    male  19.0000      0      0              323951   8.0500   NaN
670    male  26.0000      0      0              347068   7.7750   NaN
671    male  22.0000      0      0             PP 4348   9.3500   NaN
672    male      NaN      0      0                2622   7.2292   NaN
673    male  20.0000      0      0                2648   4.0125   NaN
674    male  32.0000      0      0                1601  56.4958   NaN
675    male  21.0000      0      0              312992   7.7750   NaN
676    male  18.0000      0      0              347090   7.7500   NaN
677    male  26.0000      0      0              349224   7.8958   NaN
678    male   6.0000      1      1                2678  15.2458   NaN
679  female   9.0000      1      1                2678  15.2458   NaN
680    male      NaN      0      0                2664   7.2250   NaN
681  female      NaN      0      2                2678  15.2458   NaN
682  female      NaN      0      2              364848   7.7500   NaN
683    male  40.0000      1      1              364849  15.5000   NaN
684  female  32.0000      1      1              364849  15.5000   NaN
685    male  21.0000      0      0               54636  16.1000   NaN
686  female  22.0000      0      0              334914   7.7250   NaN
687  female  20.0000      0      0              347471   7.8542   NaN
688    male  29.0000      1      0                3460   7.0458   NaN
689    male  22.0000      1      0           A/5 21171   7.2500   NaN
690    male  22.0000      0      0              350045   7.7958   NaN
691    male  35.0000      0      0              364512   8.0500   NaN
692  female  18.5000      0      0              329944   7.2833   NaN
693    male  21.0000      0      0              330920   7.8208   NaN
694    male  19.0000      0      0              365222   6.7500   NaN
695  female  18.0000      0      0              330963   7.8792   NaN
696  female  21.0000      0      0              315087   8.6625   NaN
697  female  30.0000      0      0              315084   8.6625   NaN
698    male  18.0000      0      0              315091   8.6625   NaN
699    male  38.0000      0      0              315089   8.6625   NaN
700    male  17.0000      0      0              315093   8.6625   NaN
701    male  17.0000      0      0              315086   8.6625   NaN
702  female  21.0000      0      0              364846   7.7500   NaN
703    male  21.0000      0      0              364858   7.7500   NaN
704    male  21.0000      0      0          A./5. 2152   8.0500   NaN
705    male      NaN      1      0                2689  14.4583   NaN
706  female      NaN      1      0                2689  14.4583   NaN
707    male  28.0000      0      0              350042   7.7958   NaN
708    male  24.0000      0      0              350409   7.8542   NaN
709  female  16.0000      0      0              367231   7.7500   NaN
710  female  37.0000      0      0              368364   7.7500   NaN
711    male  28.0000      0      0              392095   7.2500   NaN
712    male  24.0000      0      0              343275   8.0500   NaN
713    male  21.0000      0      0          A/5. 13032   7.7333   NaN
714    male  32.0000      0      0                1601  56.4958   NaN
715    male  29.0000      0      0              343276   8.0500   NaN
716    male  26.0000      1      0                2680  14.4542   NaN
717    male  18.0000      1      0                2680  14.4542   NaN
718    male  20.0000      0      0  SOTON/O.Q. 3101307   7.0500   NaN
719    male  18.0000      0      0            A/5 3540   8.0500   NaN
720    male  24.0000      0      0              371109   7.2500   NaN
721    male  36.0000      0      0              349210   7.4958   NaN
722    male  24.0000      0      0              349209   7.4958   NaN
723    male  31.0000      0      0               21332   7.7333   NaN
724    male  31.0000      0      0              335097   7.7500   NaN
725  female  22.0000      0      0              370373   7.7500   NaN
726  female  30.0000      0      0              330972   7.6292   NaN
727    male  70.5000      0      0              370369   7.7500   NaN
728    male  43.0000      0      0            A/5 3536   8.0500   NaN
729    male  35.0000      0      0              349230   7.8958   NaN
730    male  27.0000      0      0              349229   7.8958   NaN
731    male  19.0000      0      0              349231   7.8958   NaN
732    male  30.0000      0      0     SOTON/OQ 392090   8.0500   NaN
733    male   9.0000      1      1          C.A. 37671  15.9000   NaN
734    male   3.0000      1      1          C.A. 37671  15.9000   NaN
735  female  36.0000      0      2          C.A. 37671  15.9000   NaN
736    male  59.0000      0      0              364500   7.2500   NaN
737    male  19.0000      0      0           S.P. 3464   8.1583   NaN
738  female  17.0000      0      1              371362  16.1000   NaN
739    male  44.0000      0      1              371362  16.1000   NaN
740    male  17.0000      0      0              315090   8.6625   NaN
741    male  22.5000      0      0                2698   7.2250   NaN
742    male  45.0000      0      0                7598   8.0500   NaN
743  female  22.0000      0      0                7552  10.5167   NaN
744    male  19.0000      0      0              349228  10.1708   NaN
745  female  30.0000      0      0              382650   6.9500   NaN
746    male  29.0000      0      0              382651   7.7500   NaN
747    male   0.3333      0      2              347080  14.4000   NaN
748    male  34.0000      1      1              347080  14.4000   NaN
749  female  28.0000      1      1              347080  14.4000   NaN
750    male  27.0000      0      0              349219   7.8958   NaN
751    male  25.0000      0      0              349203   7.8958   NaN
752    male  24.0000      2      0           A/4 48871  24.1500   NaN
753    male  22.0000      0      0         SC/A4 23568   8.0500   NaN
754    male  21.0000      2      0           A/4 48871  24.1500   NaN
755    male  17.0000      2      0           A/4 48873   8.0500   NaN
756    male      NaN      1      0              386525  16.1000   NaN
757  female      NaN      1      0              386525  16.1000   NaN
758    male  36.5000      1      0              345572  17.4000   NaN
759  female  36.0000      1      0              345572  17.4000   NaN
760    male  30.0000      0      0              345774   9.5000   NaN
761    male  16.0000      0      0              345778   9.5000   NaN
762    male   1.0000      1      2           C.A. 2315  20.5750   NaN
763  female   0.1667      1      2           C.A. 2315  20.5750   NaN
764    male  26.0000      1      2           C.A. 2315  20.5750   NaN
765  female  33.0000      1      2           C.A. 2315  20.5750   NaN
766    male  25.0000      0      0              349250   7.8958   NaN
767    male      NaN      0      0              349238   7.8958   NaN
768    male      NaN      0      0              349225   7.8958   NaN
769    male  22.0000      0      0           A/5 21172   7.2500   NaN
770    male  36.0000      0      0           A/5 21175   7.2500   NaN
771  female  19.0000      0      0              330958   7.8792   NaN
772    male  17.0000      0      0              349232   7.8958   NaN
773    male  42.0000      0      0              315088   8.6625   NaN
774    male  43.0000      0      0              349226   7.8958   NaN
775    male      NaN      0      0                2686   7.2292   NaN
776    male  32.0000      0      0              370376   7.7500   NaN
777    male  19.0000      0      0          A/5. 10482   8.0500   NaN
778  female  30.0000      0      0              364516  12.4750   NaN
779  female  24.0000      0      0              368702   7.7500   NaN

    embarked     boat  body                                          home.dest
650        C      NaN   NaN                                                NaN
651        C      NaN   NaN                                         Ottawa, ON
652        S      NaN   NaN                   Krakoryd, Sweden Bloomington, IL
653        C        C   NaN                               Syria Youngstown, OH
654        C      NaN   NaN                                                NaN
655        S        D   NaN                Ruotsinphytaa, Finland New York, NY
656        S      NaN   NaN                Ruotsinphytaa, Finland New York, NY
657        C        C   NaN                                 Syria New York, NY
658        C        C   NaN                                 Syria New York, NY
659        C        C   NaN                                 Syria New York, NY
660        C        C   NaN                                 Syria New York, NY
661        S        C   NaN                              London Skanteales, NY
662        C      NaN   NaN                                                NaN
663        S      NaN   NaN                                                NaN

In [185]:
array7=mn[780:910] #subarray7
array7

     pclass  survived                                               name  \
780       3         1                              Drapkin, Miss. Jennie
781       3         0                               Drazenoic, Mr. Jozef
782       3         0                                   Duane, Mr. Frank
783       3         1                               Duquemin, Mr. Joseph
784       3         0                           Dyker, Mr. Adolf Fredrik
785       3         1  Dyker, Mrs. Adolf Fredrik (Anna Elisabeth Judi...
786       3         0                     Edvardsson, Mr. Gustaf Hjalmar
787       3         0                             Eklund, Mr. Hans Linus
788       3         0                                 Ekstrom, Mr. Johan
789       3         0                                    Elias, Mr. Dibo
790       3         0                                  Elias, Mr. Joseph
791       3         0                               Elias, Mr. Joseph Jr
792       3         0                                 Elias, Mr. Tannous
793       3         0                         Elsbury, Mr. William James
794       3         1                      Emanuel, Miss. Virginia Ethel
795       3         0                            Emir, Mr. Farred Chehab
796       3         0                          Everett, Mr. Thomas James
797       3         0                                 Farrell, Mr. James
798       3         1                                  Finoli, Mr. Luigi
799       3         0                    Fischer, Mr. Eberhard Thelander
800       3         0                              Fleming, Miss. Honora
801       3         0                                   Flynn, Mr. James
802       3         0                                    Flynn, Mr. John
803       3         0                                  Foley, Mr. Joseph
804       3         0                                 Foley, Mr. William
805       3         1                                    Foo, Mr. Choong
806       3         0               Ford, Miss. Doolina Margaret "Daisy"
807       3         0                   Ford, Miss. Robina Maggie "Ruby"
808       3         0                                   Ford, Mr. Arthur
809       3         0                            Ford, Mr. Edward Watson
810       3         0                             Ford, Mr. William Neal
811       3         0            Ford, Mrs. Edward (Margaret Ann Watson)
812       3         0                                   Fox, Mr. Patrick
813       3         0             Franklin, Mr. Charles (Charles Fardon)
814       3         0                              Gallagher, Mr. Martin
815       3         0                                 Garfirth, Mr. John
816       3         0                             Gheorgheff, Mr. Stanio
817       3         0                              Gilinski, Mr. Eliezer
818       3         1                   Gilnagh, Miss. Katherine "Katie"
819       3         1                           Glynn, Miss. Mary Agatha
820       3         1    Goldsmith, Master. Frank John William "Frankie"
821       3         0                          Goldsmith, Mr. Frank John
822       3         0                              Goldsmith, Mr. Nathan
823       3         1     Goldsmith, Mrs. Frank John (Emily Alice Brown)
824       3         0                    Goncalves, Mr. Manuel Estanslas
825       3         0                     Goodwin, Master. Harold Victor
826       3         0                    Goodwin, Master. Sidney Leonard
827       3         0                 Goodwin, Master. William Frederick
828       3         0                        Goodwin, Miss. Jessie Allis
829       3         0                         Goodwin, Miss. Lillian Amy
830       3         0                        Goodwin, Mr. Charles Edward
831       3         0                     Goodwin, Mr. Charles Frederick
832       3         0            Goodwin, Mrs. Frederick (Augusta Tyler)
833       3         0                            Green, Mr. George Henry
834       3         0                   Gronnestad, Mr. Daniel Danielsen
835       3         0                                  Guest, Mr. Robert
836       3         0                      Gustafsson, Mr. Alfred Ossian
837       3         0                     Gustafsson, Mr. Anders Vilhelm
838       3         0                       Gustafsson, Mr. Johan Birger
839       3         0                        Gustafsson, Mr. Karl Gideon
840       3         0                                Haas, Miss. Aloisia
841       3         0                               Hagardon, Miss. Kate
842       3         0                    Hagland, Mr. Ingvald Olai Olsen
843       3         0               Hagland, Mr. Konrad Mathias Reiersen
844       3         0                     Hakkarainen, Mr. Pekka Pietari
845       3         1  Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
846       3         0                                    Hampe, Mr. Leon
847       3         0                                 Hanna, Mr. Mansour
848       3         0                            Hansen, Mr. Claus Peter
849       3         0                            Hansen, Mr. Henrik Juul
850       3         0                        Hansen, Mr. Henry Damsgaard
851       3         1         Hansen, Mrs. Claus Peter (Jennie L Howard)
852       3         0                       Harknett, Miss. Alice Phoebe
853       3         0                 Harmer, Mr. Abraham (David Lishin)
854       3         0                                    Hart, Mr. Henry
855       3         0                           Hassan, Mr. Houssein G N
856       3         1                         Healy, Miss. Hanora "Nora"
857       3         1                            Hedman, Mr. Oskar Arvid
858       3         1                                      Hee, Mr. Ling
859       3         0                       Hegarty, Miss. Hanora "Nora"
860       3         1                             Heikkinen, Miss. Laina
861       3         0                       Heininen, Miss. Wendla Maria
862       3         1                       Hellstrom, Miss. Hilda Maria
863       3         0                             Hendekovic, Mr. Ignjac
864       3         0                     Henriksson, Miss. Jenny Lovisa
865       3         0                                 Henry, Miss. Delia
866       3         1                           Hirvonen, Miss. Hildur E
867       3         1       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
868       3         0                   Holm, Mr. John Fredrik Alexander
869       3         0                          Holthen, Mr. Johan Martin
870       3         1                             Honkanen, Miss. Eliina
871       3         0                                   Horgan, Mr. John
872       3         1                        Howard, Miss. May Elizabeth
873       3         0           Humblen, Mr. Adolf Mathias Nicolai Olsen
874       3         1                                 Hyman, Mr. Abraham
875       3         0                       Ibrahim Shawah, Mr. Yousseff
876       3         0                                   Ilieff, Mr. Ylio
877       3         0                       Ilmakangas, Miss. Ida Livija
878       3         0                      Ilmakangas, Miss. Pieta Sofia
879       3         0                                 Ivanoff, Mr. Kanio
880       3         1                                 Jalsevac, Mr. Ivan
881       3         1                             Jansson, Mr. Carl Olof
882       3         0                              Jardin, Mr. Jose Neto
883       3         0                             Jensen, Mr. Hans Peder
884       3         0                            Jensen, Mr. Niels Peder
885       3         0                          Jensen, Mr. Svend Lauritz
886       3         1                                Jermyn, Miss. Annie
887       3         1                  Johannesen-Bratthammer, Mr. Bernt
888       3         0                         Johanson, Mr. Jakob Alfred
889       3         1             Johansson Palmquist, Mr. Oskar Leander
890       3         0                                Johansson, Mr. Erik
891       3         0                         Johansson, Mr. Gustaf Joel
892       3         0                          Johansson, Mr. Karl Johan
893       3         0                                Johansson, Mr. Nils
894       3         1                    Johnson, Master. Harold Theodor
895       3         1                       Johnson, Miss. Eleanor Ileen
896       3         0                                Johnson, Mr. Alfred
897       3         0                       Johnson, Mr. Malkolm Joackim
898       3         0                    Johnson, Mr. William Cahoone Jr
899       3         1  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
900       3         0          Johnston, Master. William Arthur "Willie"
901       3         0           Johnston, Miss. Catherine Helen "Carrie"
902       3         0                             Johnston, Mr. Andrew G
903       3         0  Johnston, Mrs. Andrew G (Elizabeth "Lily" Watson)
904       3         0                                 Jonkoff, Mr. Lalio
905       3         1                                  Jonsson, Mr. Carl
906       3         0                          Jonsson, Mr. Nils Hilding
907       3         0                            Jussila, Miss. Katriina
908       3         0                           Jussila, Miss. Mari Aina
909       3         1                                Jussila, Mr. Eiriik

        sex   age  sibsp  parch              ticket     fare  cabin embarked  \
780  female  23.0      0      0     SOTON/OQ 392083   8.0500    NaN        S
781    male  33.0      0      0              349241   7.8958    NaN        C
782    male  65.0      0      0              336439   7.7500    NaN        Q
783    male  24.0      0      0       S.O./P.P. 752   7.5500    NaN        S
784    male  23.0      1      0              347072  13.9000    NaN        S
785  female  22.0      1      0              347072  13.9000    NaN        S
786    male  18.0      0      0              349912   7.7750    NaN        S
787    male  16.0      0      0              347074   7.7750    NaN        S
788    male  45.0      0      0              347061   6.9750    NaN        S
789    male   NaN      0      0                2674   7.2250    NaN        C
790    male  39.0      0      2                2675   7.2292    NaN        C
791    male  17.0      1      1                2690   7.2292    NaN        C
792    male  15.0      1      1                2695   7.2292    NaN        C
793    male  47.0      0      0            A/5 3902   7.2500    NaN        S
794  female   5.0      0      0              364516  12.4750    NaN        S
795    male   NaN      0      0                2631   7.2250    NaN        C
796    male  40.5      0      0           C.A. 6212  15.1000    NaN        S
797    male  40.5      0      0              367232   7.7500    NaN        Q
798    male   NaN      0      0  SOTON/O.Q. 3101308   7.0500    NaN        S
799    male  18.0      0      0              350036   7.7958    NaN        S
800  female   NaN      0      0              364859   7.7500    NaN        Q
801    male   NaN      0      0              364851   7.7500    NaN        Q
802    male   NaN      0      0              368323   6.9500    NaN        Q
803    male  26.0      0      0              330910   7.8792    NaN        Q
804    male   NaN      0      0              365235   7.7500    NaN        Q
805    male   NaN      0      0                1601  56.4958    NaN        S
806  female  21.0      2      2          W./C. 6608  34.3750    NaN        S
807  female   9.0      2      2          W./C. 6608  34.3750    NaN        S
808    male   NaN      0      0            A/5 1478   8.0500    NaN        S
809    male  18.0      2      2          W./C. 6608  34.3750    NaN        S
810    male  16.0      1      3          W./C. 6608  34.3750    NaN        S
811  female  48.0      1      3          W./C. 6608  34.3750    NaN        S
812    male   NaN      0      0              368573   7.7500    NaN        Q
813    male   NaN      0      0  SOTON/O.Q. 3101314   7.2500    NaN        S
814    male  25.0      0      0               36864   7.7417    NaN        Q
815    male   NaN      0      0              358585  14.5000    NaN        S
816    male   NaN      0      0              349254   7.8958    NaN        C
817    male  22.0      0      0               14973   8.0500    NaN        S
818  female  16.0      0      0               35851   7.7333    NaN        Q
819  female   NaN      0      0              335677   7.7500    NaN        Q
820    male   9.0      0      2              363291  20.5250    NaN        S
821    male  33.0      1      1              363291  20.5250    NaN        S
822    male  41.0      0      0  SOTON/O.Q. 3101263   7.8500    NaN        S
823  female  31.0      1      1              363291  20.5250    NaN        S
824    male  38.0      0      0  SOTON/O.Q. 3101306   7.0500    NaN        S
825    male   9.0      5      2             CA 2144  46.9000    NaN        S
826    male   1.0      5      2             CA 2144  46.9000    NaN        S
827    male  11.0      5      2             CA 2144  46.9000    NaN        S
828  female  10.0      5      2             CA 2144  46.9000    NaN        S
829  female  16.0      5      2             CA 2144  46.9000    NaN        S
830    male  14.0      5      2             CA 2144  46.9000    NaN        S
831    male  40.0      1      6             CA 2144  46.9000    NaN        S
832  female  43.0      1      6             CA 2144  46.9000    NaN        S
833    male  51.0      0      0               21440   8.0500    NaN        S
834    male  32.0      0      0                8471   8.3625    NaN        S
835    male   NaN      0      0              376563   8.0500    NaN        S
836    male  20.0      0      0                7534   9.8458    NaN        S
837    male  37.0      2      0             3101276   7.9250    NaN        S
838    male  28.0      2      0             3101277   7.9250    NaN        S
839    male  19.0      0      0              347069   7.7750    NaN        S
840  female  24.0      0      0              349236   8.8500    NaN        S
841  female  17.0      0      0         AQ/3. 30631   7.7333    NaN        Q
842    male   NaN      1      0               65303  19.9667    NaN        S
843    male   NaN      1      0               65304  19.9667    NaN        S
844    male  28.0      1      0    STON/O2. 3101279  15.8500    NaN        S
845  female  24.0      1      0    STON/O2. 3101279  15.8500    NaN        S
846    male  20.0      0      0              345769   9.5000    NaN        S
847    male  23.5      0      0                2693   7.2292    NaN        C
848    male  41.0      2      0              350026  14.1083    NaN        S
849    male  26.0      1      0              350025   7.8542    NaN        S
850    male  21.0      0      0              350029   7.8542    NaN        S
851  female  45.0      1      0              350026  14.1083    NaN        S
852  female   NaN      0      0          W./C. 6609   7.5500    NaN        S
853    male  25.0      0      0              374887   7.2500    NaN        S
854    male   NaN      0      0              394140   6.8583    NaN        Q
855    male  11.0      0      0                2699  18.7875    NaN        C
856  female   NaN      0      0              370375   7.7500    NaN        Q
857    male  27.0      0      0              347089   6.9750    NaN        S
858    male   NaN      0      0                1601  56.4958    NaN        S
859  female  18.0      0      0              365226   6.7500    NaN        Q
860  female  26.0      0      0    STON/O2. 3101282   7.9250    NaN        S
861  female  23.0      0      0    STON/O2. 3101290   7.9250    NaN        S
862  female  22.0      0      0                7548   8.9625    NaN        S
863    male  28.0      0      0              349243   7.8958    NaN        S
864  female  28.0      0      0              347086   7.7750    NaN        S
865  female   NaN      0      0              382649   7.7500    NaN        Q
866  female   2.0      0      1             3101298  12.2875    NaN        S
867  female  22.0      1      1             3101298  12.2875    NaN        S
868    male  43.0      0      0              C 7075   6.4500    NaN        S
869    male  28.0      0      0              C 4001  22.5250    NaN        S
870  female  27.0      0      0    STON/O2. 3101283   7.9250    NaN        S
871    male   NaN      0      0              370377   7.7500    NaN        Q
872  female   NaN      0      0         A. 2. 39186   8.0500    NaN        S
873    male  42.0      0      0              348121   7.6500  F G63        S
874    male   NaN      0      0                3470   7.8875    NaN        S
875    male  30.0      0      0                2685   7.2292    NaN        C
876    male   NaN      0      0              349220   7.8958    NaN        S
877  female  27.0      1      0    STON/O2. 3101270   7.9250    NaN        S
878  female  25.0      1      0    STON/O2. 3101271   7.9250    NaN        S
879    male   NaN      0      0              349201   7.8958    NaN        S
880    male  29.0      0      0              349240   7.8958    NaN        C
881    male  21.0      0      0              350034   7.7958    NaN        S
882    male   NaN      0      0  SOTON/O.Q. 3101305   7.0500    NaN        S
883    male  20.0      0      0              350050   7.8542    NaN        S
884    male  48.0      0      0              350047   7.8542    NaN        S
885    male  17.0      1      0              350048   7.0542    NaN        S
886  female   NaN      0      0               14313   7.7500    NaN        Q
887    male   NaN      0      0               65306   8.1125    NaN        S
888    male  34.0      0      0             3101264   6.4958    NaN        S
889    male  26.0      0      0              347070   7.7750    NaN        S
890    male  22.0      0      0              350052   7.7958    NaN        S
891    male  33.0      0      0                7540   8.6542    NaN        S
892    male  31.0      0      0              347063   7.7750    NaN        S
893    male  29.0      0      0              347467   7.8542    NaN        S
894    male   4.0      1      1              347742  11.1333    NaN        S
895  female   1.0      1      1              347742  11.1333    NaN        S
896    male  49.0      0      0                LINE   0.0000    NaN        S
897    male  33.0      0      0              347062   7.7750    NaN        S
898    male  19.0      0      0                LINE   0.0000    NaN        S
899  female  27.0      0      2              347742  11.1333    NaN        S
900    male   NaN      1      2          W./C. 6607  23.4500    NaN        S
901  female   NaN      1      2          W./C. 6607  23.4500    NaN        S
902    male   NaN      1      2          W./C. 6607  23.4500    NaN        S
903  female   NaN      1      2          W./C. 6607  23.4500    NaN        S
904    male  23.0      0      0              349204   7.8958    NaN        S
905    male  32.0      0      0              350417   7.8542    NaN        S
906    male  27.0      0      0              350408   7.8542    NaN        S
907  female  20.0      1      0                4136   9.8250    NaN        S
908  female  21.0      1      0                4137   9.8250    NaN        S
909    male  32.0      0      0   STON/O 2. 3101286   7.9250    NaN        S

    boat  body                                       home.dest
780  NaN   NaN                             London New York, NY
781  NaN    51                       Austria Niagara Falls, NY
782  NaN   NaN                                             NaN
783    D   NaN                              England Albion, NY

In [186]:
array8=mn[910:1040] #subarray8
array8

      pclass  survived                                               name  \
910        3         0                         Kallio, Mr. Nikolai Erland
911        3         0                     Kalvik, Mr. Johannes Halvorsen
912        3         0                                  Karaic, Mr. Milan
913        3         1                      Karlsson, Mr. Einar Gervasius
914        3         0                  Karlsson, Mr. Julius Konrad Eugen
915        3         0                          Karlsson, Mr. Nils August
916        3         1                                 Karun, Miss. Manca
917        3         1                                   Karun, Mr. Franz
918        3         0                                  Kassem, Mr. Fared
919        3         0   Katavelas, Mr. Vassilios ("Catavelas Vassilios")
920        3         0                           Keane, Mr. Andrew "Andy"
921        3         0                                  Keefe, Mr. Arthur
922        3         1           Kelly, Miss. Anna Katherine "Annie Kate"
923        3         1                                  Kelly, Miss. Mary
924        3         0                                   Kelly, Mr. James
925        3         0                                   Kelly, Mr. James
926        3         1                                  Kennedy, Mr. John
927        3         0                                 Khalil, Mr. Betros
928        3         0          Khalil, Mrs. Betros (Zahie "Maria" Elias)
929        3         0                                  Kiernan, Mr. John
930        3         0                                Kiernan, Mr. Philip
931        3         0                            Kilgannon, Mr. Thomas J
932        3         0                                  Kink, Miss. Maria
933        3         0                                  Kink, Mr. Vincenz
934        3         1                Kink-Heilmann, Miss. Luise Gretchen
935        3         1                           Kink-Heilmann, Mr. Anton
936        3         1         Kink-Heilmann, Mrs. Anton (Luise Heilmann)
937        3         0                       Klasen, Miss. Gertrud Emilia
938        3         0                             Klasen, Mr. Klas Albin
939        3         0     Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)
940        3         0                                Kraeff, Mr. Theodor
941        3         1                              Krekorian, Mr. Neshan
942        3         0                                 Lahoud, Mr. Sarkis
943        3         0                     Laitinen, Miss. Kristina Sofia
944        3         0                                 Laleff, Mr. Kristo
945        3         1                                       Lam, Mr. Ali
946        3         0                                       Lam, Mr. Len
947        3         1                    Landergren, Miss. Aurora Adelia
948        3         0                                  Lane, Mr. Patrick
949        3         1                                     Lang, Mr. Fang
950        3         0                         Larsson, Mr. August Viktor
951        3         0                           Larsson, Mr. Bengt Edvin
952        3         0                     Larsson-Rondberg, Mr. Edvard A
953        3         1                  Leeni, Mr. Fahim ("Philip Zenni")
954        3         0                      Lefebre, Master. Henry Forbes
955        3         0                                 Lefebre, Miss. Ida
956        3         0                             Lefebre, Miss. Jeannie
957        3         0                            Lefebre, Miss. Mathilde
958        3         0                      Lefebre, Mrs. Frank (Frances)
959        3         0                         Leinonen, Mr. Antti Gustaf
960        3         0                         Lemberopolous, Mr. Peter L
961        3         0                                 Lennon, Miss. Mary
962        3         0                                  Lennon, Mr. Denis
963        3         0                                Leonard, Mr. Lionel
964        3         0                                  Lester, Mr. James
965        3         0                             Lievens, Mr. Rene Aime
966        3         0              Lindahl, Miss. Agda Thorilda Viktoria
967        3         0                  Lindblom, Miss. Augusta Charlotta
968        3         0                      Lindell, Mr. Edvard Bengtsson
969        3         0  Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...
970        3         1                        Lindqvist, Mr. Eino William
971        3         0                               Linehan, Mr. Michael
972        3         0                                      Ling, Mr. Lee
973        3         0                                 Lithman, Mr. Simon
974        3         0                           Lobb, Mr. William Arthur
975        3         0    Lobb, Mrs. William Arthur (Cordelia K Stanlick)
976        3         0                                Lockyer, Mr. Edward
977        3         0                    Lovell, Mr. John Hall ("Henry")
978        3         1                                  Lulic, Mr. Nikola
979        3         0                        Lundahl, Mr. Johan Svensson
980        3         1                           Lundin, Miss. Olga Elida
981        3         1                         Lundstrom, Mr. Thure Edvin
982        3         0                              Lyntakoff, Mr. Stanko
983        3         0                         MacKay, Mr. George William
984        3         1                   Madigan, Miss. Margaret "Maggie"
985        3         1                          Madsen, Mr. Fridtjof Arne
986        3         0                      Maenpaa, Mr. Matti Alexanteri
987        3         0                         Mahon, Miss. Bridget Delia
988        3         0                                    Mahon, Mr. John
989        3         0                                 Maisner, Mr. Simon
990        3         0                          Makinen, Mr. Kalle Edvard
991        3         1                                   Mamee, Mr. Hanna
992        3         0                                 Mangan, Miss. Mary
993        3         1                           Mannion, Miss. Margareth
994        3         0                            Mardirosian, Mr. Sarkis
995        3         0                                 Markoff, Mr. Marin
996        3         0                                 Markun, Mr. Johann
997        3         1                            Masselmani, Mrs. Fatima
998        3         0                               Matinoff, Mr. Nicola
999        3         1                  McCarthy, Miss. Catherine "Katie"
1000       3         1                       McCormack, Mr. Thomas Joseph
1001       3         1                                 McCoy, Miss. Agnes
1002       3         1                                McCoy, Miss. Alicia
1003       3         1                                 McCoy, Mr. Bernard
1004       3         1                     McDermott, Miss. Brigdet Delia
1005       3         0                                McEvoy, Mr. Michael
1006       3         1                               McGovern, Miss. Mary
1007       3         1                        McGowan, Miss. Anna "Annie"
1008       3         0                           McGowan, Miss. Katherine
1009       3         0                                McMahon, Mr. Martin
1010       3         0                                  McNamee, Mr. Neal
1011       3         0                McNamee, Mrs. Neal (Eileen O'Leary)
1012       3         0                             McNeill, Miss. Bridget
1013       3         0                     Meanwell, Miss. (Marion Ogden)
1014       3         0            Meek, Mrs. Thomas (Annie Louise Rowley)
1015       3         0                                   Meo, Mr. Alfonzo
1016       3         0                                Mernagh, Mr. Robert
1017       3         1                           Midtsjo, Mr. Karl Albert
1018       3         0                                   Miles, Mr. Frank
1019       3         0                                   Mineff, Mr. Ivan
1020       3         0                                 Minkoff, Mr. Lazar
1021       3         0                              Mionoff, Mr. Stoytcho
1022       3         0                                  Mitkoff, Mr. Mito
1023       3         1                  Mockler, Miss. Helen Mary "Ellie"
1024       3         0                            Moen, Mr. Sigurd Hansen
1025       3         1                                Moor, Master. Meier
1026       3         1                                 Moor, Mrs. (Beila)
1027       3         0                         Moore, Mr. Leonard Charles
1028       3         1                                Moran, Miss. Bertha
1029       3         0                                Moran, Mr. Daniel J
1030       3         0                                   Moran, Mr. James
1031       3         0                                Morley, Mr. William
1032       3         0                           Morrow, Mr. Thomas Rowan
1033       3         1                             Moss, Mr. Albert Johan
1034       3         1                           Moubarek, Master. Gerios
1035       3         1  Moubarek, Master. Halim Gonios ("William George")
1036       3         1   Moubarek, Mrs. George (Omine "Amenia" Alexander)
1037       3         1                     Moussa, Mrs. (Mantoura Boulos)
1038       3         0                           Moutal, Mr. Rahamin Haim
1039       3         1                   Mullens, Miss. Katherine "Katie"

         sex   age  sibsp  parch             ticket     fare  cabin embarked  \
910     male  17.0      0      0  STON/O 2. 3101274   7.1250    NaN        S
911     male  21.0      0      0               8475   8.4333    NaN        S
912     male  30.0      0      0             349246   7.8958    NaN        S
913     male  21.0      0      0             350053   7.7958    NaN        S
914     male  33.0      0      0             347465   7.8542    NaN        S
915     male  22.0      0      0             350060   7.5208    NaN        S
916   female   4.0      0      1             349256  13.4167    NaN        C
917     male  39.0      0      1             349256  13.4167    NaN        C
918     male   NaN      0      0               2700   7.2292    NaN        C
919     male  18.5      0      0               2682   7.2292    NaN        C
920     male   NaN      0      0              12460   7.7500    NaN        Q
921     male   NaN      0      0             323592   7.2500    NaN        S
922   female   NaN      0      0               9234   7.7500    NaN        Q
923   female   NaN      0      0              14312   7.7500    NaN        Q
924     male  34.5      0      0             330911   7.8292    NaN        Q
925     male  44.0      0      0             363592   8.0500    NaN        S
926     male   NaN      0      0             368783   7.7500    NaN        Q
927     male   NaN      1      0               2660  14.4542    NaN        C
928   female   NaN      1      0               2660  14.4542    NaN        C
929     male   NaN      1      0             367227   7.7500    NaN        Q
930     male   NaN      1      0             367229   7.7500    NaN        Q
931     male   NaN      0      0              36865   7.7375    NaN        Q
932   female  22.0      2      0             315152   8.6625    NaN        S
933     male  26.0      2      0             315151   8.6625    NaN        S
934   female   4.0      0      2             315153  22.0250    NaN        S
935     male  29.0      3      1             315153  22.0250    NaN        S
936   female  26.0      1      1             315153  22.0250    NaN        S
937   female   1.0      1      1             350405  12.1833    NaN        S
938     male  18.0      1      1             350404   7.8542    NaN        S
939   female  36.0      0      2             350405  12.1833    NaN        S
940     male   NaN      0      0             349253   7.8958    NaN        C
941     male  25.0      0      0               2654   7.2292  F E57        C
942     male   NaN      0      0               2624   7.2250    NaN        C
943   female  37.0      0      0               4135   9.5875    NaN        S
944     male   NaN      0      0             349217   7.8958    NaN        S
945     male   NaN      0      0               1601  56.4958    NaN        S
946     male   NaN      0      0               1601  56.4958    NaN        S
947   female  22.0      0      0             C 7077   7.2500    NaN        S
948     male   NaN      0      0               7935   7.7500    NaN        Q
949     male  26.0      0      0               1601  56.4958    NaN        S
950     male  29.0      0      0               7545   9.4833    NaN        S
951     male  29.0      0      0             347067   7.7750    NaN        S
952     male  22.0      0      0             347065   7.7750    NaN        S
953     male  22.0      0      0               2620   7.2250    NaN        C
954     male   NaN      3      1               4133  25.4667    NaN        S
955   female   NaN      3      1               4133  25.4667    NaN        S
956   female   NaN      3      1               4133  25.4667    NaN        S
957   female   NaN      3      1               4133  25.4667    NaN        S
958   female   NaN      0      4               4133  25.4667    NaN        S
959     male  32.0      0      0  STON/O 2. 3101292   7.9250    NaN        S
960     male  34.5      0      0               2683   6.4375    NaN        C
961   female   NaN      1      0             370371  15.5000    NaN        Q
962     male   NaN      1      0             370371  15.5000    NaN        Q
963     male  36.0      0      0               LINE   0.0000    NaN        S
964     male  39.0      0      0          A/4 48871  24.1500    NaN        S
965     male  24.0      0      0             345781   9.5000    NaN        S
966   female  25.0      0      0             347071   7.7750    NaN        S
967   female  45.0      0      0             347073   7.7500    NaN        S
968     male  36.0      1      0             349910  15.5500    NaN        S
969   female  30.0      1      0             349910  15.5500    NaN        S
970     male  20.0      1      0  STON/O 2. 3101285   7.9250    NaN        S
971     male   NaN      0      0             330971   7.8792    NaN        Q
972     male  28.0      0      0               1601  56.4958    NaN        S
973     male   NaN      0      0      S.O./P.P. 251   7.5500    NaN        S
974     male  30.0      1      0          A/5. 3336  16.1000    NaN        S
975   female  26.0      1      0          A/5. 3336  16.1000    NaN        S
976     male   NaN      0      0               1222   7.8792    NaN        S
977     male  20.5      0      0          A/5 21173   7.2500    NaN        S
978     male  27.0      0      0             315098   8.6625    NaN        S
979     male  51.0      0      0             347743   7.0542    NaN        S
980   female  23.0      0      0             347469   7.8542    NaN        S
981     male  32.0      0      0             350403   7.5792    NaN        S
982     male   NaN      0      0             349235   7.8958    NaN        S
983     male   NaN      0      0         C.A. 42795   7.5500    NaN        S
984   female   NaN      0      0             370370   7.7500    NaN        Q
985     male  24.0      0      0            C 17369   7.1417    NaN        S
986     male  22.0      0      0  STON/O 2. 3101275   7.1250    NaN        S
987   female   NaN      0      0             330924   7.8792    NaN        Q
988     male   NaN      0      0          AQ/4 3130   7.7500    NaN        Q
989     male   NaN      0      0           A/S 2816   8.0500    NaN        S
990     male  29.0      0      0  STON/O 2. 3101268   7.9250    NaN        S
991     male   NaN      0      0               2677   7.2292    NaN        C
992   female  30.5      0      0             364850   7.7500    NaN        Q
993   female   NaN      0      0              36866   7.7375    NaN        Q
994     male   NaN      0      0               2655   7.2292  F E46        C
995     male  35.0      0      0             349213   7.8958    NaN        C
996     male  33.0      0      0             349257   7.8958    NaN        S
997   female   NaN      0      0               2649   7.2250    NaN        C
998     male   NaN      0      0             349255   7.8958    NaN        C
999   female   NaN      0      0             383123   7.7500    NaN        Q
1000    male   NaN      0      0             367228   7.7500    NaN        Q
1001  female   NaN      2      0             367226  23.2500    NaN        Q
1002  female   NaN      2      0             367226  23.2500    NaN        Q
1003    male   NaN      2      0             367226  23.2500    NaN        Q
1004  female   NaN      0      0             330932   7.7875    NaN        Q
1005    male   NaN      0      0              36568  15.5000    NaN        Q
1006  female   NaN      0      0             330931   7.8792    NaN        Q
1007  female  15.0      0      0             330923   8.0292    NaN        Q
1008  female  35.0      0      0               9232   7.7500    NaN        Q
1009    male   NaN      0      0             370372   7.7500    NaN        Q
1010    male  24.0      1      0             376566  16.1000    NaN        S
1011  female  19.0      1      0             376566  16.1000    NaN        S
1012  female   NaN      0      0             370368   7.7500    NaN        Q
1013  female   NaN      0      0  SOTON/O.Q. 392087   8.0500    NaN        S
1014  female   NaN      0      0             343095   8.0500    NaN        S
1015    male  55.5      0      0         A.5. 11206   8.0500    NaN        S
1016    male   NaN      0      0             368703   7.7500    NaN        Q
1017    male  21.0      0      0             345501   7.7750    NaN        S
1018    male   NaN      0      0             359306   8.0500    NaN        S
1019    male  24.0      0      0             349233   7.8958    NaN        S
1020    male  21.0      0      0             349211   7.8958    NaN        S
1021    male  28.0      0      0             349207   7.8958    NaN        S
1022    male   NaN      0      0             349221   7.8958    NaN        S
1023  female   NaN      0      0             330980   7.8792    NaN        Q
1024    male  25.0      0      0             348123   7.6500  F G73        S
1025    male   6.0      0      1             392096  12.4750   E121        S
1026  female  27.0      0      1             392096  12.4750   E121        S
1027    male   NaN      0      0          A4. 54510   8.0500    NaN        S
1028  female   NaN      1      0             371110  24.1500    NaN        Q
1029    male   NaN      1      0             371110  24.1500    NaN        Q
1030    male   NaN      0      0             330877   8.4583    NaN        Q
1031    male  34.0      0      0             364506   8.0500    NaN        S
1032    male   NaN      0      0             372622   7.7500    NaN        Q
1033    male   NaN      0      0             312991   7.7750    NaN        S
1034    male   NaN      1      1               2661  15.2458    NaN        C
1035    male   NaN      1      1               2661  15.2458    NaN        C
1036  female   NaN      0      2               2661  15.2458    NaN        C
1037  female   NaN      0      0               2626   7.2292    NaN        C
1038    male   NaN      0      0             374746   8.0500    NaN        S
1039  female   NaN      0      0              35852   7.7333    NaN        Q

       boat  body home.dest
910     NaN   NaN       NaN
911     NaN   NaN       NaN
912     NaN   NaN       NaN
913      13   NaN       NaN
914     NaN   NaN       NaN
915     NaN   NaN       NaN

In [253]:
array9=mn[1040:1170] #subarray9
array9

      pclass  survived                                             name  \
1040       3         1                        Mulvihill, Miss. Bertha E
1041       3         0                              Murdlin, Mr. Joseph
1042       3         1                   Murphy, Miss. Katherine "Kate"
1043       3         1                      Murphy, Miss. Margaret Jane
1044       3         1                               Murphy, Miss. Nora
1045       3         0          Myhrman, Mr. Pehr Fabian Oliver Malkolm
1046       3         0                             Naidenoff, Mr. Penko
1047       3         1                 Najib, Miss. Adele Kiamie "Jane"
1048       3         1                      Nakid, Miss. Maria ("Mary")
1049       3         1                                 Nakid, Mr. Sahid
1050       3         1            Nakid, Mrs. Said (Waika "Mary" Mowad)
1051       3         0                     Nancarrow, Mr. William Henry
1052       3         0                               Nankoff, Mr. Minko
1053       3         0                                Nasr, Mr. Mustafa
1054       3         0                           Naughton, Miss. Hannah
1055       3         0                             Nenkoff, Mr. Christo
1056       3         1                     Nicola-Yarred, Master. Elias
1057       3         1                      Nicola-Yarred, Miss. Jamila
1058       3         0                   Nieminen, Miss. Manta Josefina
1059       3         0                            Niklasson, Mr. Samuel
1060       3         1                      Nilsson, Miss. Berta Olivia
1061       3         1                  Nilsson, Miss. Helmina Josefina
1062       3         0                    Nilsson, Mr. August Ferdinand
1063       3         0                   Nirva, Mr. Iisakki Antino Aijo
1064       3         1                               Niskanen, Mr. Juha
1065       3         0                     Nosworthy, Mr. Richard Cater
1066       3         0                              Novel, Mr. Mansouer
1067       3         1                         Nysten, Miss. Anna Sofia
1068       3         0                        Nysveen, Mr. Johan Hansen
1069       3         0                              O'Brien, Mr. Thomas
1070       3         0                             O'Brien, Mr. Timothy
1071       3         1  O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
1072       3         0                         O'Connell, Mr. Patrick D
1073       3         0                            O'Connor, Mr. Maurice
1074       3         0                            O'Connor, Mr. Patrick
1075       3         0                           Odahl, Mr. Nils Martin
1076       3         0                          O'Donoghue, Ms. Bridget
1077       3         1                        O'Driscoll, Miss. Bridget
1078       3         1                    O'Dwyer, Miss. Ellen "Nellie"
1079       3         1                               Ohman, Miss. Velin
1080       3         1                             O'Keefe, Mr. Patrick
1081       3         1                    O'Leary, Miss. Hanora "Norah"
1082       3         1                        Olsen, Master. Artur Karl
1083       3         0                         Olsen, Mr. Henry Margido
1084       3         0                 Olsen, Mr. Karl Siegwart Andreas
1085       3         0                            Olsen, Mr. Ole Martin
1086       3         0                              Olsson, Miss. Elina
1087       3         0                 Olsson, Mr. Nils Johan Goransson
1088       3         1                        Olsson, Mr. Oscar Wilhelm
1089       3         0                      Olsvigen, Mr. Thor Anderson
1090       3         0                           Oreskovic, Miss. Jelka
1091       3         0                          Oreskovic, Miss. Marija
1092       3         0                              Oreskovic, Mr. Luka
1093       3         0                              Osen, Mr. Olaf Elon
1094       3         1                                 Osman, Mrs. Mara
1095       3         0                   O'Sullivan, Miss. Bridget Mary
1096       3         0                   Palsson, Master. Gosta Leonard
1097       3         0                      Palsson, Master. Paul Folke
1098       3         0                       Palsson, Miss. Stina Viola
1099       3         0                    Palsson, Miss. Torborg Danira
1100       3         0      Palsson, Mrs. Nils (Alma Cornelia Berglund)
1101       3         0                     Panula, Master. Eino Viljami
1102       3         0                       Panula, Master. Juha Niilo
1103       3         0                     Panula, Master. Urho Abraham
1104       3         0                        Panula, Mr. Ernesti Arvid
1105       3         0                         Panula, Mr. Jaako Arnold
1106       3         0           Panula, Mrs. Juha (Maria Emilia Ojala)
1107       3         0                                 Pasic, Mr. Jakob
1108       3         0                             Patchett, Mr. George
1109       3         0                              Paulner, Mr. Uscher
1110       3         0                              Pavlovic, Mr. Stefo
1111       3         0                   Peacock, Master. Alfred Edward
1112       3         0                        Peacock, Miss. Treasteall
1113       3         0              Peacock, Mrs. Benjamin (Edith Nile)
1114       3         0                               Pearce, Mr. Ernest
1115       3         0                               Pedersen, Mr. Olaf
1116       3         0                              Peduzzi, Mr. Joseph
1117       3         0                            Pekoniemi, Mr. Edvard
1118       3         0                  Peltomaki, Mr. Nikolai Johannes
1119       3         0                           Perkin, Mr. John Henry
1120       3         1                         Persson, Mr. Ernst Ulrik
1121       3         1                         Peter, Master. Michael J
1122       3         1                                Peter, Miss. Anna
1123       3         1           Peter, Mrs. Catherine (Catherine Rizk)
1124       3         0                              Peters, Miss. Katie
1125       3         0                             Petersen, Mr. Marius
1126       3         0                          Petranec, Miss. Matilda
1127       3         0                             Petroff, Mr. Nedelio
1128       3         0                 Petroff, Mr. Pastcho ("Pentcho")
1129       3         0                        Petterson, Mr. Johan Emil
1130       3         0                  Pettersson, Miss. Ellen Natalia
1131       3         1               Pickard, Mr. Berk (Berk Trembisky)
1132       3         0                           Plotcharsky, Mr. Vasil
1133       3         0                                Pokrnic, Mr. Mate
1134       3         0                                Pokrnic, Mr. Tome
1135       3         0                            Radeff, Mr. Alexander
1136       3         0          Rasmussen, Mrs. (Lena Jacobsen Solvang)
1137       3         0                                 Razi, Mr. Raihed
1138       3         0                           Reed, Mr. James George
1139       3         0                                  Rekic, Mr. Tido
1140       3         0                           Reynolds, Mr. Harold J
1141       3         0                             Rice, Master. Albert
1142       3         0                             Rice, Master. Arthur
1143       3         0                               Rice, Master. Eric
1144       3         0                             Rice, Master. Eugene
1145       3         0                        Rice, Master. George Hugh
1146       3         0             Rice, Mrs. William (Margaret Norton)
1147       3         0     Riihivouri, Miss. Susanna Juhantytar "Sanni"
1148       3         0                             Rintamaki, Mr. Matti
1149       3         1                  Riordan, Miss. Johanna "Hannah"
1150       3         0                         Risien, Mr. Samuel Beard
1151       3         0                       Risien, Mrs. Samuel (Emma)
1152       3         0                          Robins, Mr. Alexander A
1153       3         0   Robins, Mrs. Alexander A (Grace Charity Laury)
1154       3         0                         Rogers, Mr. William John
1155       3         0                       Rommetvedt, Mr. Knud Paust
1156       3         0                      Rosblom, Miss. Salli Helena
1157       3         0                      Rosblom, Mr. Viktor Richard
1158       3         0         Rosblom, Mrs. Viktor (Helena Wilhelmina)
1159       3         1                              Roth, Miss. Sarah A
1160       3         0                         Rouse, Mr. Richard Henry
1161       3         0                     Rush, Mr. Alfred George John
1162       3         1                                 Ryan, Mr. Edward
1163       3         0                                Ryan, Mr. Patrick
1164       3         0                                   Saad, Mr. Amin
1165       3         0                                 Saad, Mr. Khalil
1166       3         0                            Saade, Mr. Jean Nassr
1167       3         0                             Sadlier, Mr. Matthew
1168       3         0                              Sadowitz, Mr. Harry
1169       3         0                     Saether, Mr. Simon Sivertsen

         sex    age  sibsp  parch              ticket     fare  cabin  \
1040  female  24.00      0      0              382653   7.7500    NaN
1041    male    NaN      0      0          A./5. 3235   8.0500    NaN
1042  female    NaN      1      0              367230  15.5000    NaN
1043  female    NaN      1      0              367230  15.5000    NaN
1044  female    NaN      0      0               36568  15.5000    NaN
1045    male  18.00      0      0              347078   7.7500    NaN
1046    male  22.00      0      0              349206   7.8958    NaN
1047  female  15.00      0      0                2667   7.2250    NaN
1048  female   1.00      0      2                2653  15.7417    NaN
1049    male  20.00      1      1                2653  15.7417    NaN
1050  female  19.00      1      1                2653  15.7417    NaN
1051    male  33.00      0      0          A./5. 3338   8.0500    NaN
1052    male    NaN      0      0              349218   7.8958    NaN
1053    male    NaN      0      0                2652   7.2292    NaN
1054  female    NaN      0      0              365237   7.7500    NaN
1055    male    NaN      0      0              349234   7.8958    NaN
1056    male  12.00      1      0                2651  11.2417    NaN
1057  female  14.00      1      0                2651  11.2417    NaN
1058  female  29.00      0      0             3101297   7.9250    NaN
1059    male  28.00      0      0              363611   8.0500    NaN
1060  female  18.00      0      0              347066   7.7750    NaN
1061  female  26.00      0      0              347470   7.8542    NaN
1062    male  21.00      0      0              350410   7.8542    NaN
1063    male  41.00      0      0    SOTON/O2 3101272   7.1250    NaN
1064    male  39.00      0      0   STON/O 2. 3101289   7.9250    NaN
1065    male  21.00      0      0          A/4. 39886   7.8000    NaN
1066    male  28.50      0      0                2697   7.2292    NaN
1067  female  22.00      0      0              347081   7.7500    NaN
1068    male  61.00      0      0              345364   6.2375    NaN
1069    male    NaN      1      0              370365  15.5000    NaN
1070    male    NaN      0      0              330979   7.8292    NaN
1071  female    NaN      1      0              370365  15.5000    NaN
1072    male    NaN      0      0              334912   7.7333    NaN
1073    male    NaN      0      0              371060   7.7500    NaN
1074    male    NaN      0      0              366713   7.7500    NaN
1075    male  23.00      0      0                7267   9.2250    NaN
1076  female    NaN      0      0              364856   7.7500    NaN
1077  female    NaN      0      0               14311   7.7500    NaN
1078  female    NaN      0      0              330959   7.8792    NaN
1079  female  22.00      0      0              347085   7.7750    NaN
1080    male    NaN      0      0              368402   7.7500    NaN
1081  female    NaN      0      0              330919   7.8292    NaN
1082    male   9.00      0      1             C 17368   3.1708    NaN
1083    male  28.00      0      0              C 4001  22.5250    NaN
1084    male  42.00      0      1                4579   8.4042    NaN
1085    male    NaN      0      0           Fa 265302   7.3125    NaN
1086  female  31.00      0      0              350407   7.8542    NaN
1087    male  28.00      0      0              347464   7.8542    NaN
1088    male  32.00      0      0              347079   7.7750    NaN
1089    male  20.00      0      0                6563   9.2250    NaN
1090  female  23.00      0      0              315085   8.6625    NaN
1091  female  20.00      0      0              315096   8.6625    NaN
1092    male  20.00      0      0              315094   8.6625    NaN
1093    male  16.00      0      0                7534   9.2167    NaN
1094  female  31.00      0      0              349244   8.6833    NaN
1095  female    NaN      0      0              330909   7.6292    NaN
1096    male   2.00      3      1              349909  21.0750    NaN
1097    male   6.00      3      1              349909  21.0750    NaN
1098  female   3.00      3      1              349909  21.0750    NaN
1099  female   8.00      3      1              349909  21.0750    NaN
1100  female  29.00      0      4              349909  21.0750    NaN
1101    male   1.00      4      1             3101295  39.6875    NaN
1102    male   7.00      4      1             3101295  39.6875    NaN
1103    male   2.00      4      1             3101295  39.6875    NaN
1104    male  16.00      4      1             3101295  39.6875    NaN
1105    male  14.00      4      1             3101295  39.6875    NaN
1106  female  41.00      0      5             3101295  39.6875    NaN
1107    male  21.00      0      0              315097   8.6625    NaN
1108    male  19.00      0      0              358585  14.5000    NaN
1109    male    NaN      0      0                3411   8.7125    NaN
1110    male  32.00      0      0              349242   7.8958    NaN
1111    male   0.75      1      1  SOTON/O.Q. 3101315  13.7750    NaN
1112  female   3.00      1      1  SOTON/O.Q. 3101315  13.7750    NaN
1113  female  26.00      0      2  SOTON/O.Q. 3101315  13.7750    NaN
1114    male    NaN      0      0              343271   7.0000    NaN
1115    male    NaN      0      0              345498   7.7750    NaN
1116    male    NaN      0      0            A/5 2817   8.0500    NaN
1117    male  21.00      0      0   STON/O 2. 3101294   7.9250    NaN
1118    male  25.00      0      0   STON/O 2. 3101291   7.9250    NaN
1119    male  22.00      0      0           A/5 21174   7.2500    NaN
1120    male  25.00      1      0              347083   7.7750    NaN
1121    male    NaN      1      1                2668  22.3583    NaN
1122  female    NaN      1      1                2668  22.3583  F E69
1123  female    NaN      0      2                2668  22.3583    NaN
1124  female    NaN      0      0              330935   8.1375    NaN
1125    male  24.00      0      0              342441   8.0500    NaN
1126  female  28.00      0      0              349245   7.8958    NaN
1127    male  19.00      0      0              349212   7.8958    NaN
1128    male    NaN      0      0              349215   7.8958    NaN
1129    male  25.00      1      0              347076   7.7750    NaN
1130  female  18.00      0      0              347087   7.7750    NaN
1131    male  32.00      0      0   SOTON/O.Q. 392078   8.0500    E10
1132    male    NaN      0      0              349227   7.8958    NaN
1133    male  17.00      0      0              315095   8.6625    NaN
1134    male  24.00      0      0              315092   8.6625    NaN
1135    male    NaN      0      0              349223   7.8958    NaN
1136  female    NaN      0      0               65305   8.1125    NaN
1137    male    NaN      0      0                2629   7.2292    NaN
1138    male    NaN      0      0              362316   7.2500    NaN
1139    male  38.00      0      0              349249   7.8958    NaN
1140    male  21.00      0      0              342684   8.0500    NaN
1141    male  10.00      4      1              382652  29.1250    NaN
1142    male   4.00      4      1              382652  29.1250    NaN
1143    male   7.00      4      1              382652  29.1250    NaN
1144    male   2.00      4      1              382652  29.1250    NaN
1145    male   8.00      4      1              382652  29.1250    NaN
1146  female  39.00      0      5              382652  29.1250    NaN
1147  female  22.00      0      0             3101295  39.6875    NaN
1148    male  35.00      0      0   STON/O 2. 3101273   7.1250    NaN
1149  female    NaN      0      0              334915   7.7208    NaN
1150    male    NaN      0      0              364498  14.5000    NaN
1151  female    NaN      0      0              364498  14.5000    NaN
1152    male  50.00      1      0           A/5. 3337  14.5000    NaN
1153  female  47.00      1      0           A/5. 3337  14.5000    NaN
1154    male    NaN      0      0     S.C./A.4. 23567   8.0500    NaN
1155    male    NaN      0      0              312993   7.7750    NaN
1156  female   2.00      1      1              370129  20.2125    NaN
1157    male  18.00      1      1              370129  20.2125    NaN
1158  female  41.00      0      2              370129  20.2125    NaN
1159  female    NaN      0      0              342712   8.0500    NaN
1160    male  50.00      0      0            A/5 3594   8.0500    NaN
1161    male  16.00      0      0          A/4. 20589   8.0500    NaN
1162    male    NaN      0      0              383162   7.7500    NaN
1163    male    NaN      0      0              371110  24.1500    NaN
1164    male    NaN      0      0                2671   7.2292    NaN
1165    male  25.00      0      0                2672   7.2250    NaN
1166    male    NaN      0      0                2676   7.2250    NaN
1167    male    NaN      0      0              367655   7.7292    NaN
1168    male    NaN      0      0             LP 1588   7.5750    NaN
1169    male  38.50      0      0  SOTON/O.Q. 3101262   7.2500    NaN

     embarked boat  body                 home.dest
1040        Q   15   NaN                       NaN
1041        S  NaN   NaN                       NaN
1042        Q   16   NaN                       NaN
1043        Q   16   NaN                       NaN
1044        Q   16   NaN                       NaN
1045        S  NaN   NaN                       NaN
1046        S  NaN   NaN                       NaN
1047        C    C   NaN                       NaN
1048        C    C   NaN                       NaN
1049        C    C   NaN                       NaN
1050        C    C   NaN                       NaN
1051        S  NaN   NaN                       NaN
1052        S  NaN   NaN                       NaN
1053        C  NaN   NaN                       NaN
1054        Q  NaN   NaN                       NaN
1055        S  NaN   NaN                       NaN
1056        C    C   NaN                       NaN
1057        C    C   NaN                       NaN
1058        S  NaN   NaN                       NaN
1059        S  NaN   NaN                       NaN
1060        S    D   NaN                       NaN
1061        S   13   NaN                       NaN
1062        S  NaN   NaN                       NaN
1063        S  NaN   NaN       Finland Sudbury, ON
1064        S    9   NaN                       NaN
1065        S  NaN   NaN                       NaN

In [254]:
array10=mn[1170:] #subarray10
array10

      pclass  survived                                               name  \
1170       3         0                         Sage, Master. Thomas Henry
1171       3         0                        Sage, Master. William Henry
1172       3         0                                    Sage, Miss. Ada
1173       3         0                       Sage, Miss. Constance Gladys
1174       3         0                  Sage, Miss. Dorothy Edith "Dolly"
1175       3         0                            Sage, Miss. Stella Anna
1176       3         0                           Sage, Mr. Douglas Bullen
1177       3         0                                Sage, Mr. Frederick
1178       3         0                           Sage, Mr. George John Jr
1179       3         0                              Sage, Mr. John George
1180       3         0                     Sage, Mrs. John (Annie Bullen)
1181       3         0                           Salander, Mr. Karl Johan
1182       3         1                   Salkjelsvik, Miss. Anna Kristine
1183       3         0                          Salonen, Mr. Johan Werner
1184       3         0                                  Samaan, Mr. Elias
1185       3         0                                  Samaan, Mr. Hanna
1186       3         0                                Samaan, Mr. Youssef
1187       3         1                    Sandstrom, Miss. Beatrice Irene
1188       3         1  Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...
1189       3         1                    Sandstrom, Miss. Marguerite Rut
1190       3         1                                    Sap, Mr. Julius
1191       3         0                     Saundercock, Mr. William Henry
1192       3         0                      Sawyer, Mr. Frederick Charles
1193       3         0                                 Scanlan, Mr. James
1194       3         0                                 Sdycoff, Mr. Todor
1195       3         0                           Shaughnessy, Mr. Patrick
1196       3         1                        Sheerlinck, Mr. Jan Baptist
1197       3         0                    Shellard, Mr. Frederick William
1198       3         1                         Shine, Miss. Ellen Natalia
1199       3         0                        Shorney, Mr. Charles Joseph
1200       3         0                                  Simmons, Mr. John
1201       3         0                              Sirayanian, Mr. Orsen
1202       3         0                                Sirota, Mr. Maurice
1203       3         0                                  Sivic, Mr. Husein
1204       3         0                          Sivola, Mr. Antti Wilhelm
1205       3         1                          Sjoblom, Miss. Anna Sofia
1206       3         0                              Skoog, Master. Harald
1207       3         0                       Skoog, Master. Karl Thorsten
1208       3         0                                 Skoog, Miss. Mabel
1209       3         0                      Skoog, Miss. Margit Elizabeth
1210       3         0                                 Skoog, Mr. Wilhelm
1211       3         0    Skoog, Mrs. William (Anna Bernhardina Karlsson)
1212       3         0                               Slabenoff, Mr. Petco
1213       3         0                      Slocovski, Mr. Selman Francis
1214       3         0                                Smiljanic, Mr. Mile
1215       3         0                                  Smith, Mr. Thomas
1216       3         1                                 Smyth, Miss. Julia
1217       3         0         Soholt, Mr. Peter Andreas Lauritz Andersen
1218       3         0                      Somerton, Mr. Francis William
1219       3         0                                 Spector, Mr. Woolf
1220       3         0                            Spinner, Mr. Henry John
1221       3         0                                  Staneff, Mr. Ivan
1222       3         0                                Stankovic, Mr. Ivan
1223       3         1                    Stanley, Miss. Amy Zillah Elsie
1224       3         0                         Stanley, Mr. Edward Roland
1225       3         0                                 Storey, Mr. Thomas
1226       3         0                               Stoytcheff, Mr. Ilia
1227       3         0                        Strandberg, Miss. Ida Sofia
1228       3         1                                 Stranden, Mr. Juho
1229       3         0                                  Strilic, Mr. Ivan
1230       3         0                         Strom, Miss. Telma Matilda
1231       3         0         Strom, Mrs. Wilhelm (Elna Matilda Persson)
1232       3         1                     Sunderland, Mr. Victor Francis
1233       3         1                          Sundman, Mr. Johan Julian
1234       3         0                             Sutehall, Mr. Henry Jr
1235       3         0                                Svensson, Mr. Johan
1236       3         1                         Svensson, Mr. Johan Cervin
1237       3         0                                 Svensson, Mr. Olof
1238       3         1                         Tenglin, Mr. Gunnar Isidor
1239       3         0                       Theobald, Mr. Thomas Leonard
1240       3         1                    Thomas, Master. Assad Alexander
1241       3         0                              Thomas, Mr. Charles P
1242       3         0                                   Thomas, Mr. John
1243       3         0                                Thomas, Mr. Tannous
1244       3         1          Thomas, Mrs. Alexander (Thamine "Thelma")
1245       3         0                    Thomson, Mr. Alexander Morrison
1246       3         0                         Thorneycroft, Mr. Percival
1247       3         1  Thorneycroft, Mrs. Percival (Florence Kate White)
1248       3         0                                 Tikkanen, Mr. Juho
1249       3         0                                   Tobin, Mr. Roger
1250       3         0                                Todoroff, Mr. Lalio
1251       3         0                         Tomlin, Mr. Ernest Portage
1252       3         0                          Torber, Mr. Ernst William
1253       3         0                                   Torfa, Mr. Assad
1254       3         1                       Tornquist, Mr. William Henry
1255       3         0                                  Toufik, Mr. Nakli
1256       3         1                     Touma, Master. Georges Youssef
1257       3         1                         Touma, Miss. Maria Youssef
1258       3         1            Touma, Mrs. Darwis (Hanne Youssef Razi)
1259       3         0                                Turcin, Mr. Stjepan
1260       3         1                            Turja, Miss. Anna Sofia
1261       3         1                             Turkula, Mrs. (Hedwig)
1262       3         0                van Billiard, Master. James William
1263       3         0                  van Billiard, Master. Walter John
1264       3         0                    van Billiard, Mr. Austin Blyler
1265       3         0                          Van Impe, Miss. Catharina
1266       3         0                        Van Impe, Mr. Jean Baptiste
1267       3         0  Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...
1268       3         0                        van Melkebeke, Mr. Philemon
1269       3         0                   Vande Velde, Mr. Johannes Joseph
1270       3         0                     Vande Walle, Mr. Nestor Cyriel
1271       3         0                        Vanden Steen, Mr. Leo Peter
1272       3         0                        Vander Cruyssen, Mr. Victor
1273       3         0                 Vander Planke, Miss. Augusta Maria
1274       3         0                          Vander Planke, Mr. Julius
1275       3         0                    Vander Planke, Mr. Leo Edmondus
1276       3         0  Vander Planke, Mrs. Julius (Emelia Maria Vande...
1277       3         1                               Vartanian, Mr. David
1278       3         0                             Vendel, Mr. Olof Edvin
1279       3         0               Vestrom, Miss. Hulda Amanda Adolfina
1280       3         0                                    Vovk, Mr. Janko
1281       3         0                               Waelens, Mr. Achille
1282       3         0                                Ware, Mr. Frederick
1283       3         0                        Warren, Mr. Charles William
1284       3         0                                  Webber, Mr. James
1285       3         0                                Wenzel, Mr. Linhart
1286       3         1    Whabee, Mrs. George Joseph (Shawneene Abi-Saab)
1287       3         0                   Widegren, Mr. Carl/Charles Peter
1288       3         0                          Wiklund, Mr. Jakob Alfred
1289       3         0                            Wiklund, Mr. Karl Johan
1290       3         1                   Wilkes, Mrs. James (Ellen Needs)
1291       3         0                   Willer, Mr. Aaron ("Abi Weller")
1292       3         0                                 Willey, Mr. Edward
1293       3         0                  Williams, Mr. Howard Hugh "Harry"
1294       3         0                               Williams, Mr. Leslie
1295       3         0                                Windelov, Mr. Einar
1296       3         0                                   Wirz, Mr. Albert
1297       3         0                             Wiseman, Mr. Phillippe
1298       3         0                          Wittevrongel, Mr. Camille
1299       3         0                                Yasbeck, Mr. Antoni
1300       3         1            Yasbeck, Mrs. Antoni (Selini Alexander)
1301       3         0                               Youseff, Mr. Gerious
1302       3         0                                  Yousif, Mr. Wazli
1303       3         0                              Yousseff, Mr. Gerious
1304       3         0                               Zabour, Miss. Hileni
1305       3         0                              Zabour, Miss. Thamine
1306       3         0                          Zakarian, Mr. Mapriededer
1307       3         0                                Zakarian, Mr. Ortin
1308       3         0                                 Zimmerman, Mr. Leo

         sex      age  sibsp  parch             ticket     fare  cabin  \
1170    male      NaN      8      2           CA. 2343  69.5500    NaN
1171    male  14.5000      8      2           CA. 2343  69.5500    NaN
1172  female      NaN      8      2           CA. 2343  69.5500    NaN
1173  female      NaN      8      2           CA. 2343  69.5500    NaN
1174  female      NaN      8      2           CA. 2343  69.5500    NaN
1175  female      NaN      8      2           CA. 2343  69.5500    NaN
1176    male      NaN      8      2           CA. 2343  69.5500    NaN
1177    male      NaN      8      2           CA. 2343  69.5500    NaN
1178    male      NaN      8      2           CA. 2343  69.5500    NaN
1179    male      NaN      1      9           CA. 2343  69.5500    NaN
1180  female      NaN      1      9           CA. 2343  69.5500    NaN
1181    male  24.0000      0      0               7266   9.3250    NaN
1182  female  21.0000      0      0             343120   7.6500    NaN
1183    male  39.0000      0      0            3101296   7.9250    NaN
1184    male      NaN      2      0               2662  21.6792    NaN
1185    male      NaN      2      0               2662  21.6792    NaN
1186    male      NaN      2      0               2662  21.6792    NaN
1187  female   1.0000      1      1            PP 9549  16.7000     G6
1188  female  24.0000      0      2            PP 9549  16.7000     G6
1189  female   4.0000      1      1            PP 9549  16.7000     G6
1190    male  25.0000      0      0             345768   9.5000    NaN
1191    male  20.0000      0      0          A/5. 2151   8.0500    NaN
1192    male  24.5000      0      0             342826   8.0500    NaN
1193    male      NaN      0      0              36209   7.7250    NaN
1194    male      NaN      0      0             349222   7.8958    NaN
1195    male      NaN      0      0             370374   7.7500    NaN
1196    male  29.0000      0      0             345779   9.5000    NaN
1197    male      NaN      0      0          C.A. 6212  15.1000    NaN
1198  female      NaN      0      0             330968   7.7792    NaN
1199    male      NaN      0      0             374910   8.0500    NaN
1200    male      NaN      0      0    SOTON/OQ 392082   8.0500    NaN
1201    male  22.0000      0      0               2669   7.2292    NaN
1202    male      NaN      0      0             392092   8.0500    NaN
1203    male  40.0000      0      0             349251   7.8958    NaN
1204    male  21.0000      0      0  STON/O 2. 3101280   7.9250    NaN
1205  female  18.0000      0      0            3101265   7.4958    NaN
1206    male   4.0000      3      2             347088  27.9000    NaN
1207    male  10.0000      3      2             347088  27.9000    NaN
1208  female   9.0000      3      2             347088  27.9000    NaN
1209  female   2.0000      3      2             347088  27.9000    NaN
1210    male  40.0000      1      4             347088  27.9000    NaN
1211  female  45.0000      1      4             347088  27.9000    NaN
1212    male      NaN      0      0             349214   7.8958    NaN
1213    male      NaN      0      0    SOTON/OQ 392086   8.0500    NaN
1214    male      NaN      0      0             315037   8.6625    NaN
1215    male      NaN      0      0             384461   7.7500    NaN
1216  female      NaN      0      0             335432   7.7333    NaN
1217    male  19.0000      0      0             348124   7.6500  F G73
1218    male  30.0000      0      0         A.5. 18509   8.0500    NaN
1219    male      NaN      0      0          A.5. 3236   8.0500    NaN
1220    male  32.0000      0      0    STON/OQ. 369943   8.0500    NaN
1221    male      NaN      0      0             349208   7.8958    NaN
1222    male  33.0000      0      0             349239   8.6625    NaN
1223  female  23.0000      0      0           CA. 2314   7.5500    NaN
1224    male  21.0000      0      0          A/4 45380   8.0500    NaN
1225    male  60.5000      0      0               3701      NaN    NaN
1226    male  19.0000      0      0             349205   7.8958    NaN
1227  female  22.0000      0      0               7553   9.8375    NaN
1228    male  31.0000      0      0  STON/O 2. 3101288   7.9250    NaN
1229    male  27.0000      0      0             315083   8.6625    NaN
1230  female   2.0000      0      1             347054  10.4625     G6
1231  female  29.0000      1      1             347054  10.4625     G6
1232    male  16.0000      0      0    SOTON/OQ 392089   8.0500    NaN
1233    male  44.0000      0      0  STON/O 2. 3101269   7.9250    NaN
1234    male  25.0000      0      0    SOTON/OQ 392076   7.0500    NaN
1235    male  74.0000      0      0             347060   7.7750    NaN
1236    male  14.0000      0      0               7538   9.2250    NaN
1237    male  24.0000      0      0             350035   7.7958    NaN
1238    male  25.0000      0      0             350033   7.7958    NaN
1239    male  34.0000      0      0             363294   8.0500    NaN
1240    male   0.4167      0      1               2625   8.5167    NaN
1241    male      NaN      1      0               2621   6.4375    NaN
1242    male      NaN      0      0               2681   6.4375    NaN
1243    male      NaN      0      0               2684   7.2250    NaN
1244  female  16.0000      1      1               2625   8.5167    NaN
1245    male      NaN      0      0              32302   8.0500    NaN
1246    male      NaN      1      0             376564  16.1000    NaN
1247  female      NaN      1      0             376564  16.1000    NaN
1248    male  32.0000      0      0  STON/O 2. 3101293   7.9250    NaN
1249    male      NaN      0      0             383121   7.7500    F38
1250    male      NaN      0      0             349216   7.8958    NaN
1251    male  30.5000      0      0             364499   8.0500    NaN
1252    male  44.0000      0      0             364511   8.0500    NaN
1253    male      NaN      0      0               2673   7.2292    NaN
1254    male  25.0000      0      0               LINE   0.0000    NaN
1255    male      NaN      0      0               2641   7.2292    NaN
1256    male   7.0000      1      1               2650  15.2458    NaN
1257  female   9.0000      1      1               2650  15.2458    NaN
1258  female  29.0000      0      2               2650  15.2458    NaN
1259    male  36.0000      0      0             349247   7.8958    NaN
1260  female  18.0000      0      0               4138   9.8417    NaN
1261  female  63.0000      0      0               4134   9.5875    NaN
1262    male      NaN      1      1           A/5. 851  14.5000    NaN
1263    male  11.5000      1      1           A/5. 851  14.5000    NaN
1264    male  40.5000      0      2           A/5. 851  14.5000    NaN
1265  female  10.0000      0      2             345773  24.1500    NaN
1266    male  36.0000      1      1             345773  24.1500    NaN
1267  female  30.0000      1      1             345773  24.1500    NaN
1268    male      NaN      0      0             345777   9.5000    NaN
1269    male  33.0000      0      0             345780   9.5000    NaN
1270    male  28.0000      0      0             345770   9.5000    NaN
1271    male  28.0000      0      0             345783   9.5000    NaN
1272    male  47.0000      0      0             345765   9.0000    NaN
1273  female  18.0000      2      0             345764  18.0000    NaN
1274    male  31.0000      3      0             345763  18.0000    NaN
1275    male  16.0000      2      0             345764  18.0000    NaN
1276  female  31.0000      1      0             345763  18.0000    NaN
1277    male  22.0000      0      0               2658   7.2250    NaN
1278    male  20.0000      0      0             350416   7.8542    NaN
1279  female  14.0000      0      0             350406   7.8542    NaN
1280    male  22.0000      0      0             349252   7.8958    NaN
1281    male  22.0000      0      0             345767   9.0000    NaN
1282    male      NaN      0      0             359309   8.0500    NaN
1283    male      NaN      0      0         C.A. 49867   7.5500    NaN
1284    male      NaN      0      0   SOTON/OQ 3101316   8.0500    NaN
1285    male  32.5000      0      0             345775   9.5000    NaN
1286  female  38.0000      0      0               2688   7.2292    NaN
1287    male  51.0000      0      0             347064   7.7500    NaN
1288    male  18.0000      1      0            3101267   6.4958    NaN
1289    male  21.0000      1      0            3101266   6.4958    NaN
1290  female  47.0000      1      0             363272   7.0000    NaN
1291    male      NaN      0      0               3410   8.7125    NaN
1292    male      NaN      0      0      S.O./P.P. 751   7.5500    NaN
1293    male      NaN      0      0           A/5 2466   8.0500    NaN
1294    male  28.5000      0      0              54636  16.1000    NaN
1295    male  21.0000      0      0   SOTON/OQ 3101317   7.2500    NaN
1296    male  27.0000      0      0             315154   8.6625    NaN
1297    male      NaN      0      0         A/4. 34244   7.2500    NaN
1298    male  36.0000      0      0             345771   9.5000    NaN
1299    male  27.0000      1      0               2659  14.4542    NaN
1300  female  15.0000      1      0               2659  14.4542    NaN
1301    male  45.5000      0      0               2628   7.2250    NaN
1302    male      NaN      0      0               2647   7.2250    NaN
1303    male      NaN      0      0               2627  14.4583    NaN

##Homework 2.4
d. Perform the same analysis of each of the 10 parts as you did in 2.4.2

In [179]:
infantarray1=array1[array1['age'] <=2]  #Find infant names in subarray1
infantarray1.name

1    Allison, Master. Hudson Trevor
2      Allison, Miss. Helen Loraine
Name: name, dtype: object

In [193]:
pclassarray2=array2[array2['pclass']==1]  # display passengers name with plclass1
pclassarray2.name

130                       Gibson, Miss. Dorothy Winifred
131              Gibson, Mrs. Leonard (Pauline C Boeson)
132                                   Giglio, Mr. Victor
133                             Goldenberg, Mr. Samuel L
134         Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
135                            Goldschmidt, Mr. George B
136                            Gracie, Col. Archibald IV
137                         Graham, Miss. Margaret Edith
138                            Graham, Mr. George Edward
139        Graham, Mrs. William Thompson (Edith Junkins)
140                      Greenfield, Mr. William Bertram
141         Greenfield, Mrs. Leo David (Blanche Strouse)
142                             Guggenheim, Mr. Benjamin
143                          Harder, Mr. George Achilles
144         Harder, Mrs. George Achilles (Dorothy Annan)
145                            Harper, Mr. Henry Sleeper
146             Harper, Mrs. Henry Sleeper (Myna Haxtun)
147                            Harrington, Mr. Charles H
148                          Harris, Mr. Henry Birkhardt
149         Harris, Mrs. Henry Birkhardt (Irene Wallach)
150                                Harrison, Mr. William
151                                   Hassab, Mr. Hammad
152                          Hawksford, Mr. Walter James
153                       Hays, Miss. Margaret Bechstein
154                           Hays, Mr. Charles Melville
155    Hays, Mrs. Charles Melville (Clara Jennings Gr...
156                                Head, Mr. Christopher
157                          Hilliard, Mr. Herbert Henry
158                          Hipkins, Mr. William Edward
159                         Hippach, Miss. Jean Gertrude
160      Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
161                 Hogeboom, Mrs. John C (Anna Andrews)
162                       Holverson, Mr. Alexander Oskar
163    Holverson, Mrs. Alexander Oskar (Mary Aline To...
164                      Homer, Mr. Harry ("Mr E Haven")
165                         Hoyt, Mr. Frederick Maxfield
166                             Hoyt, Mr. William Fisher
167      Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)
168                                  Icard, Miss. Amelie
169                           Isham, Miss. Ann Elizabeth
170                              Ismay, Mr. Joseph Bruce
171                           Jones, Mr. Charles Cresson
172                             Julian, Mr. Henry Forbes
173                                   Keeping, Mr. Edwin
174                              Kent, Mr. Edward Austin
175                              Kenyon, Mr. Frederick R
176                    Kenyon, Mrs. Frederick R (Marion)
177                         Kimball, Mr. Edwin Nelson Jr
178     Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)
179                                   Klaber, Mr. Herman
180                               Kreuchen, Miss. Emilie
181                          Leader, Dr. Alice (Farnham)
182                                  LeRoy, Miss. Bertha
183                               Lesurer, Mr. Gustave J
184                                    Lewy, Mr. Ervin G
185    Lindeberg-Lind, Mr. Erik Gustaf ("Mr Edward Li...
186            Lindstrom, Mrs. Carl Johan (Sigrid Posse)
187                            Lines, Miss. Mary Conover
188       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
189                               Long, Mr. Milton Clyde
190                        Longley, Miss. Gretchen Fiske
191                           Loring, Mr. Joseph Holland
192                                 Lurette, Miss. Elise
193                    Madill, Miss. Georgette Alexandra
194                             Maguire, Mr. John Edward
195                                Maioni, Miss. Roberta
196                                 Marechal, Mr. Pierre
197                            Marvin, Mr. Daniel Warner
198    Marvin, Mrs. Daniel Warner (Mary Graham Carmic...
199     Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")
200                         McCaffry, Mr. Thomas Francis
201                              McCarthy, Mr. Timothy J
202                            McGough, Mr. James Robert
203                              Meyer, Mr. Edgar Joseph
204                Meyer, Mrs. Edgar Joseph (Leila Saks)
205                            Millet, Mr. Francis Davis
206                          Minahan, Dr. William Edward
207                               Minahan, Miss. Daisy E
208      Minahan, Mrs. William Edward (Lillian E Thorpe)
209                             Mock, Mr. Philipp Edmund
210                           Molson, Mr. Harry Markland
211                       Moore, Mr. Clarence Bloomfield
212                                Natsch, Mr. Charles H
213                              Newell, Miss. Madeleine
214                               Newell, Miss. Marjorie
215                           Newell, Mr. Arthur Webster
216                         Newsom, Miss. Helen Monypeny
217                         Nicholson, Mr. Arthur Ernest
218                         Oliva y Ocana, Dona. Fermina
219                            Omont, Mr. Alfred Fernand
220                         Ostby, Miss. Helene Ragnhild
221                       Ostby, Mr. Engelhart Cornelius
222                      Ovies y Rodriguez, Mr. Servando
223                        Parr, Mr. William Henry Marsh
224                                  Partner, Mr. Austen
225                           Payne, Mr. Vivian Ponsonby
226                            Pears, Mr. Thomas Clinton
227                    Pears, Mrs. Thomas (Edith Wearne)
228           Penasco y Castellana, Mr. Victor de Satode
229    Penasco y Castellana, Mrs. Victor de Satode (M...
230                                Perreault, Miss. Anne
231                       Peuchen, Major. Arthur Godfrey
232                       Porter, Mr. Walter Chamberlain
233        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
234                      Reuchlin, Jonkheer. John George
235                  Rheims, Mr. George Alexander Lucien
236                                  Ringhini, Mr. Sante
237                                  Robbins, Mr. Victor
238    Robert, Mrs. Edward Scott (Elisabeth Walton Mc...
239                 Roebling, Mr. Washington Augustus II
240        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
241                                Rood, Mr. Hugh Roscoe
242                        Rosenbaum, Miss. Edith Louise
243          Rosenshine, Mr. George ("Mr George Thorne")
244                                  Ross, Mr. John Hugo
245    Rothes, the Countess. of (Lucy Noel Martha Dye...
246                               Rothschild, Mr. Martin
247       Rothschild, Mrs. Martin (Elizabeth L. Barrett)
248                                   Rowe, Mr. Alfred G
249                          Ryerson, Master. John Borie
250                           Ryerson, Miss. Emily Borie
251                Ryerson, Miss. Susan Parker "Suzette"
252                           Ryerson, Mr. Arthur Larned
253      Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
254                                Saalfeld, Mr. Adolphe
255                                 Sagesser, Mlle. Emma
256                               Salomon, Mr. Abraham L
257                      Schabert, Mrs. Paul (Emma Mock)
258                              Serepeca, Miss. Augusta
259                          Seward, Mr. Frederic Kimber
Name: name, dtype: object

In [216]:
passengerinfo =array3[array3['cabin'].notnull()] # display passengers name with cabin not null
passengerinfo.name

260                            Shutes, Miss. Elizabeth W
261                     Silverthorne, Mr. Spencer Victor
262                            Silvey, Mr. William Baird
263            Silvey, Mrs. William Baird (Alice Munger)
264                  Simonius-Blumer, Col. Oberst Alfons
265                         Sloper, Mr. William Thompson
267                              Smith, Mr. James Clinch
268                             Smith, Mr. Lucien Philip
269                           Smith, Mr. Richard William
270       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
271                           Snyder, Mr. John Pillsbury
272        Snyder, Mrs. John Pillsbury (Nelle Stevenson)
273                      Spedden, Master. Robert Douglas
274                         Spedden, Mr. Frederic Oakley
275    Spedden, Mrs. Frederic Oakley (Margaretta Corn...
276                        Spencer, Mr. William Augustus
277       Spencer, Mrs. William Augustus (Marie Eugenie)
278                            Stahelin-Maeglin, Dr. Max
279                            Stead, Mr. William Thomas
280                      Stengel, Mr. Charles Emil Henry
281    Stengel, Mrs. Charles Emil Henry (Annie May Mo...
282      Stephenson, Mrs. Walter Bertram (Martha Eustis)
284            Stone, Mrs. George Nelson (Martha Evelyn)
285                                   Straus, Mr. Isidor
286               Straus, Mrs. Isidor (Rosalie Ida Blun)
287                                Sutton, Mr. Frederick
288    Swift, Mrs. Frederick Joel (Margaret Welles Ba...
289                                  Taussig, Miss. Ruth
290                                    Taussig, Mr. Emil
291               Taussig, Mrs. Emil (Tillie Mandelbaum)
292                             Taylor, Mr. Elmer Zebley
293    Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)
294                             Thayer, Mr. John Borland
295                          Thayer, Mr. John Borland Jr
296    Thayer, Mrs. John Borland (Marian Longstreth M...
298                      Tucker, Mr. Gilbert Milligan Jr
300                            Van der hoef, Mr. Wyckoff
301                         Walker, Mr. William Anderson
303                             Warren, Mr. Frank Manley
304     Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
306                          White, Mr. Percival Wayland
307                            White, Mr. Richard Frasar
308                White, Mrs. John Stuart (Ella Holmes)
309                             Wick, Miss. Mary Natalie
312                           Widener, Mr. George Dunton
313                            Widener, Mr. Harry Elkins
314         Widener, Mrs. George Dunton (Eleanor Elkins)
318               Williams-Lambert, Mr. Fletcher Fellows
319                            Wilson, Miss. Helen Alice
320                                    Woolner, Mr. Hugh
322                             Young, Miss. Marie Grice
333                              Ball, Mrs. (Ada E Hall)
339                            Becker, Master. Richard F
340                          Becker, Miss. Marion Louise
341                         Becker, Miss. Ruth Elizabeth
342     Becker, Mrs. Allen Oliver (Nellie E Baumgardner)
343                                Beesley, Mr. Lawrence
349                        Brown, Miss. Amelia "Mildred"
380                           Cook, Mrs. (Selena Rogers)
Name: name, dtype: object

In [221]:
passinfodetail=array4[array4['sex']=='female']  # display female passengers name 
passinfodetail.name

392        del Carlo, Mrs. Sebastiano (Argenia Genovesi)
395                                  Doling, Miss. Elsie
396                 Doling, Mrs. John T (Ada Julia Bone)
400      Drew, Mrs. James Vivian (Lulu Thorne Christian)
401                         Duran y More, Miss. Asuncion
402                       Duran y More, Miss. Florentina
407    Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
411                            Funk, Miss. Annie Clemmer
415                                 Garside, Miss. Ethel
428                      Hamalainen, Mrs. William (Anna)
430                    Harper, Miss. Annie Jessie "Nina"
434                               Hart, Miss. Eva Miriam
436          Hart, Mrs. Benjamin (Esther Ada Bloomfield)
437                                  Herman, Miss. Alice
438                                   Herman, Miss. Kate
440                     Herman, Mrs. Samuel (Jane Laver)
441                     Hewlett, Mrs. (Mary D Kingcome)
445                                Hiltunen, Miss. Marta
446                        Hocking, Miss. Ellen "Nellie"
449                Hocking, Mrs. Elizabeth (Eliza Needs)
452             Hold, Mrs. Stephen (Annie Margaret Hill)
456         Howard, Mrs. Benjamin (Ellen Truelove Arman)
458                                  Ilett, Miss. Bertha
460    Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...
465         Jerwan, Mrs. Amin S (Marie Marthe Thuillard)
467                  Kantor, Mrs. Sinai (Miriam Sternin)
468                Karnes, Mrs. J Frank (Claire Bennett)
469                                  Keane, Miss. Nora A
471                        Kelly, Mrs. Florence "Fannie"
475                Lahtinen, Mrs. William (Anna Sylfven)
478                                Laroche, Miss. Louise
479             Laroche, Miss. Simonne Marie Anne Andree
481    Laroche, Mrs. Joseph (Juliette Marie Louise La...
482                                Lehmann, Miss. Bertha
483                           Leitch, Miss. Jessie Wills
484                         Lemore, Mrs. (Amelia Milley)
489    Louch, Mrs. Charles Alexander (Alice Adelaide ...
490                                    Mack, Mrs. (Mary)
494              Mallet, Mrs. Albert (Antoinette Magnin)
501                    Mellinger, Miss. Madeleine Violet
502            Mellinger, Mrs. (Elizabeth Anne Maidment)
513                  Nasser, Mrs. Nicholas (Adele Achem)
Name: name, dtype: object

In [223]:
passinfodetl=array5[array5['sex']=='male'] # display male passengers name
passinfodetl.name

520    Nourney, Mr. Alfred ("Baron von Drachstedt")
522                              Otter, Mr. Richard
523                       Oxenham, Mr. Percy Thomas
524                      Padro y Manent, Mr. Julian
525                                Pain, Dr. Alfred
526                   Pallas y Castello, Mr. Emilio
527                    Parker, Mr. Clifford Richard
528                     Parkes, Mr. Francis "Frank"
530                 Pengelly, Mr. Frederick William
531                                Pernot, Mr. Rene
532                   Peruschitz, Rev. Joseph Maria
535                     Phillips, Mr. Escott Robert
537                            Ponesell, Mr. Martin
538          Portaluppi, Mr. Emilio Ilario Giuseppe
539                              Pulbaum, Mr. Franz
543                               Reeves, Mr. David
544                         Renouf, Mr. Peter Henry
547                              Richard, Mr. Emile
548                 Richards, Master. George Sibley
549                  Richards, Master. William Rowe
552                      Rogers, Mr. Reginald Harry
554                             Schmidt, Mr. August
555      Sedgwick, Mr. Charles Frederick Waddington
556                     Sharp, Mr. Percival James R
561                       Sjostedt, Mr. Ernst Adolf
563                       Slemen, Mr. Richard James
565                  Sobey, Mr. Samuel James Hayden
566                        Stanton, Mr. Samuel Ward
567                       Stokes, Mr. Philip Joseph
568                               Swane, Mr. George
569                     Sweet, Mr. George Frederick
571                    Troupiansky, Mr. Moses Aaron
574                 Turpin, Mr. William John Robert
576                                 Veal, Mr. James
578                            Ware, Mr. John James
579                       Ware, Mr. William Jeffery
581                      Watson, Mr. Ennis Hastings
585                              Weisz, Mr. Leopold
587                     Wells, Master. Ralph Lester
592                           West, Mr. Edwy Arthur
594                           Wheadon, Mr. Edward H
595                  Wheeler, Mr. Edwin "Frederick"
596                           Wilhelms, Mr. Charles
597                    Williams, Mr. Charles Eugene
600                             Abbing, Mr. Anthony
601                   Abbott, Master. Eugene Joseph
602                     Abbott, Mr. Rossmore Edward
605                   Abelseth, Mr. Olaus Jorgensen
606        Abrahamsson, Mr. Abraham August Johannes
608                  Adahl, Mr. Mauritz Nils Martin
609                                 Adams, Mr. John
611                       Aks, Master. Philip Frank
613                     Albimona, Mr. Nassef Cassem
614                          Alexander, Mr. William
615                     Alhomaki, Mr. Ilmari Rudolf
616                                  Ali, Mr. Ahmed
617                                Ali, Mr. William
618                        Allen, Mr. William Henry
619                          Allum, Mr. Owen George
620                     Andersen, Mr. Albert Karvin
622         Andersson, Master. Sigvard Harald Elias
629                     Andersson, Mr. Anders Johan
630    Andersson, Mr. August Edvard ("Wennerstrom")
631                     Andersson, Mr. Johan Samuel
633                      Andreasson, Mr. Paul Edvin
634                            Angheloff, Mr. Minko
635                       Arnold-Franchi, Mr. Josef
637                  Aronsson, Mr. Ernst Axel Algot
638                                 Asim, Mr. Adola
639                     Asplund, Master. Carl Edgar
640           Asplund, Master. Clarence Gustaf Hugo
641               Asplund, Master. Edvin Rojj Felix
642                    Asplund, Master. Filip Oscar
644      Asplund, Mr. Carl Oscar Vilhelm Gustafsson
645                      Asplund, Mr. Johan Charles
648                               Assaf, Mr. Gerios
649                                  Assam, Mr. Ali
Name: name, dtype: object

In [242]:
passinfodetl1=array6[array6['age']>60] # display passengers name with age > 60
passinfodetl1.name

727    Connors, Mr. Patrick
Name: name, dtype: object

In [246]:
passinfodetl2=array7.age  # find max age
passinfodetl2.max()

65.0

In [247]:
passinfodetl3=array8.age # find mean age
passinfodetl3.mean()

26.953125

In [258]:
array9[(array9.age > 30) & (array9.age < 70)] # find  age >30 and less than 70

      pclass  survived                                            name  \
1051       3         0                    Nancarrow, Mr. William Henry
1063       3         0                  Nirva, Mr. Iisakki Antino Aijo
1064       3         1                              Niskanen, Mr. Juha
1068       3         0                       Nysveen, Mr. Johan Hansen
1084       3         0                Olsen, Mr. Karl Siegwart Andreas
1086       3         0                             Olsson, Miss. Elina
1088       3         1                       Olsson, Mr. Oscar Wilhelm
1094       3         1                                Osman, Mrs. Mara
1106       3         0          Panula, Mrs. Juha (Maria Emilia Ojala)
1110       3         0                             Pavlovic, Mr. Stefo
1131       3         1              Pickard, Mr. Berk (Berk Trembisky)
1139       3         0                                 Rekic, Mr. Tido
1146       3         0            Rice, Mrs. William (Margaret Norton)
1148       3         0                            Rintamaki, Mr. Matti
1152       3         0                         Robins, Mr. Alexander A
1153       3         0  Robins, Mrs. Alexander A (Grace Charity Laury)
1158       3         0        Rosblom, Mrs. Viktor (Helena Wilhelmina)
1160       3         0                        Rouse, Mr. Richard Henry
1169       3         0                    Saether, Mr. Simon Sivertsen

         sex   age  sibsp  parch              ticket     fare cabin embarked  \
1051    male  33.0      0      0          A./5. 3338   8.0500   NaN        S
1063    male  41.0      0      0    SOTON/O2 3101272   7.1250   NaN        S
1064    male  39.0      0      0   STON/O 2. 3101289   7.9250   NaN        S
1068    male  61.0      0      0              345364   6.2375   NaN        S
1084    male  42.0      0      1                4579   8.4042   NaN        S
1086  female  31.0      0      0              350407   7.8542   NaN        S
1088    male  32.0      0      0              347079   7.7750   NaN        S
1094  female  31.0      0      0              349244   8.6833   NaN        S
1106  female  41.0      0      5             3101295  39.6875   NaN        S
1110    male  32.0      0      0              349242   7.8958   NaN        S
1131    male  32.0      0      0   SOTON/O.Q. 392078   8.0500   E10        S
1139    male  38.0      0      0              349249   7.8958   NaN        S
1146  female  39.0      0      5              382652  29.1250   NaN        Q
1148    male  35.0      0      0   STON/O 2. 3101273   7.1250   NaN        S
1152    male  50.0      1      0           A/5. 3337  14.5000   NaN        S
1153  female  47.0      1      0           A/5. 3337  14.5000   NaN        S
1158  female  41.0      0      2              370129  20.2125   NaN        S
1160    male  50.0      0      0            A/5 3594   8.0500   NaN        S
1169    male  38.5      0      0  SOTON/O.Q. 3101262   7.2500   NaN        S

     boat  body            home.dest
1051  NaN   NaN                  NaN
1063  NaN   NaN  Finland Sudbury, ON
1064    9   NaN                  NaN
1068  NaN   NaN                  NaN
1084  NaN   NaN                  NaN
1086  NaN   NaN                  NaN
1088    A   NaN                  NaN
1094  NaN   NaN                  NaN
1106  NaN   NaN                  NaN
1110  NaN   NaN                  NaN
1131    9   NaN                  NaN
1139  NaN   NaN                  NaN
1146  NaN   327                  NaN
1148  NaN   NaN                  NaN
1152  NaN   119                  NaN
1153  NaN     7                  NaN
1158  NaN   NaN                  NaN
1160  NaN   NaN                  NaN
1169  NaN    32                  NaN

In [261]:
siblingaboardinfo=array10[(array10.sibsp >0) & (array10.sibsp).notnull()] # display passengers name who had siblings on board
siblingaboardinfo.name

1170                           Sage, Master. Thomas Henry
1171                          Sage, Master. William Henry
1172                                      Sage, Miss. Ada
1173                         Sage, Miss. Constance Gladys
1174                    Sage, Miss. Dorothy Edith "Dolly"
1175                              Sage, Miss. Stella Anna
1176                             Sage, Mr. Douglas Bullen
1177                                  Sage, Mr. Frederick
1178                             Sage, Mr. George John Jr
1179                                Sage, Mr. John George
1180                       Sage, Mrs. John (Annie Bullen)
1184                                    Samaan, Mr. Elias
1185                                    Samaan, Mr. Hanna
1186                                  Samaan, Mr. Youssef
1187                      Sandstrom, Miss. Beatrice Irene
1189                      Sandstrom, Miss. Marguerite Rut
1206                                Skoog, Master. Harald
1207                         Skoog, Master. Karl Thorsten
1208                                   Skoog, Miss. Mabel
1209                        Skoog, Miss. Margit Elizabeth
1210                                   Skoog, Mr. Wilhelm
1211      Skoog, Mrs. William (Anna Bernhardina Karlsson)
1231           Strom, Mrs. Wilhelm (Elna Matilda Persson)
1241                                Thomas, Mr. Charles P
1244            Thomas, Mrs. Alexander (Thamine "Thelma")
1246                           Thorneycroft, Mr. Percival
1247    Thorneycroft, Mrs. Percival (Florence Kate White)
1256                       Touma, Master. Georges Youssef
1257                           Touma, Miss. Maria Youssef
1262                  van Billiard, Master. James William
1263                    van Billiard, Master. Walter John
1266                          Van Impe, Mr. Jean Baptiste
1267    Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...
1273                   Vander Planke, Miss. Augusta Maria
1274                            Vander Planke, Mr. Julius
1275                      Vander Planke, Mr. Leo Edmondus
1276    Vander Planke, Mrs. Julius (Emelia Maria Vande...
1288                            Wiklund, Mr. Jakob Alfred
1289                              Wiklund, Mr. Karl Johan
1290                     Wilkes, Mrs. James (Ellen Needs)
1299                                  Yasbeck, Mr. Antoni
1300              Yasbeck, Mrs. Antoni (Selini Alexander)
1304                                 Zabour, Miss. Hileni
1305                                Zabour, Miss. Thamine
Name: name, dtype: object